{
    "openapi": "3.0.0",
    "info": {
        "version": "2.0.0",
        "title": "Telnyx API",
        "description": "SIP trunking, SMS, MMS, Call Control and Telephony Data Services.",
        "license": {
            "name": "MIT"
        },
        "contact": {
            "email": "support@telnyx.com"
        }
    },
    "servers": [
        {
            "url": "https://api.telnyx.com/v2",
            "description": "Version 2.0.0 of the Telnyx API"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "tags": [
        {
            "name": "Messaging Profiles",
            "description": "Messaging profiles"
        },
        {
            "name": "Messages",
            "description": "Messages"
        },
        {
            "name": "Messaging URL Domains",
            "description": "Messaging URL Domains"
        },
        {
            "name": "Short Codes",
            "description": "Short codes"
        },
        {
            "name": "Number Configurations",
            "description": "Configure your phone numbers"
        },
        {
            "name": "Messaging Hosted Number",
            "description": "Manage your messaging hosted numbers"
        },
        {
            "name": "Call Commands",
            "description": "Call control command operations"
        },
        {
            "name": "Conferences",
            "description": "Conference operations"
        },
        {
            "name": "Conference Commands",
            "description": "Conference command operations"
        },
        {
            "name": "Debugging",
            "description": "Call control debugging"
        },
        {
            "name": "Call Information",
            "description": "Call information"
        },
        {
            "name": "Number Search",
            "description": "Number search"
        },
        {
            "name": "Number Reservations",
            "description": "Number reservations"
        },
        {
            "name": "Number Orders",
            "description": "Number orders"
        },
        {
            "name": "Number Order Regulatory Requirements",
            "description": "Number order regulatory requirements"
        },
        {
            "name": "Number Order Documents",
            "description": "Number order documents"
        }
    ],
    "paths": {
        "/messaging_profiles": {
            "get": {
                "summary": "List all messaging profiles",
                "operationId": "listMessagingProfiles",
                "tags": [
                    "Messaging Profiles"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PageNumber"
                    },
                    {
                        "$ref": "#/components/parameters/PageSize"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ListMessagingProfilesResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                }
            },
            "post": {
                "summary": "Create a messaging profile",
                "operationId": "createMessagingProfile",
                "tags": [
                    "Messaging Profiles"
                ],
                "requestBody": {
                    "description": "New Messaging Profile object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NewMessagingProfile"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/CreateMessagingProfileResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                },
                "callbacks": {
                    "inboundMessage": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/InboundMessageEvent"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    },
                    "deliveryUpdate": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/OutboundMessageEvent"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    },
                    "replacedLinkClick": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/ReplacedLinkClickEvent"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/messaging_profiles/{id}": {
            "get": {
                "summary": "Retrieve a messaging profile",
                "operationId": "retrieveMessagingProfile",
                "tags": [
                    "Messaging Profiles"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/MessagingProfileId"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/RetrieveMessagingProfileResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                }
            },
            "patch": {
                "summary": "Update a messaging profile",
                "operationId": "updateMessagingProfile",
                "tags": [
                    "Messaging Profiles"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/MessagingProfileId"
                    }
                ],
                "requestBody": {
                    "description": "New Messaging Profile object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdatedMessagingProfile"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/UpdateMessagingProfileResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                }
            },
            "delete": {
                "summary": "Delete a messaging profile",
                "operationId": "deleteMessagingProfile",
                "tags": [
                    "Messaging Profiles"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/MessagingProfileId"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/DeleteMessagingProfileResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                }
            }
        },
        "/messaging_profiles/{id}/phone_numbers": {
            "get": {
                "summary": "List all phone numbers associated with a messaging profile",
                "operationId": "listMessagingProfilePhoneNumbers",
                "tags": [
                    "Messaging Profiles"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PageNumber"
                    },
                    {
                        "$ref": "#/components/parameters/PageSize"
                    },
                    {
                        "$ref": "#/components/parameters/MessagingProfileId"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/RetrieveMessagingProfilePhoneNumbersResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                }
            }
        },
        "/messaging_profiles/{id}/short_codes": {
            "get": {
                "summary": "List all short codes associated with a messaging profile",
                "operationId": "listMessagingProfileShortCodes",
                "tags": [
                    "Messaging Profiles"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PageNumber"
                    },
                    {
                        "$ref": "#/components/parameters/PageSize"
                    },
                    {
                        "$ref": "#/components/parameters/MessagingProfileId"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/RetrieveMessagingProfileShortCodesResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                }
            }
        },
        "/messaging_profiles/{id}/metrics": {
            "get": {
                "summary": "Get detailed messaging metrics for a messaging profile",
                "operationId": "getMessagingProfileDetailedMetrics",
                "tags": [
                    "Messaging Profiles"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/MessagingProfileId"
                    },
                    {
                        "$ref": "#/components/parameters/MessagingProfileMetricTimeFrame"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/RetrieveMessagingProfileMetrics"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                }
            }
        },
        "/messaging_profile_metrics": {
            "get": {
                "summary": "List high-level messaging profile metrics",
                "operationId": "listMessagingProfileMetrics",
                "tags": [
                    "Messaging Profiles"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PageNumber"
                    },
                    {
                        "$ref": "#/components/parameters/PageSize"
                    },
                    {
                        "$ref": "#/components/parameters/MessagingProfileMetric"
                    },
                    {
                        "$ref": "#/components/parameters/MessagingProfileMetricTimeFrame"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ListMessagingProfileMetrics"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                }
            }
        },
        "/messaging_url_domains": {
            "get": {
                "summary": "List all available messaging URL domains",
                "operationId": "getAllMessagingUrlDomains",
                "tags": [
                    "Messaging URL Domains"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ListMessagingUrlDomains"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                }
            }
        },
        "/short_codes": {
            "get": {
                "summary": "List all short codes",
                "operationId": "listShortCodes",
                "tags": [
                    "Short Codes"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PageNumber"
                    },
                    {
                        "$ref": "#/components/parameters/PageSize"
                    },
                    {
                        "name": "filter[messaging_profile_id]",
                        "in": "query",
                        "description": "Filter by Messaging Profile ID. Use the string `null` for phone numbers without assigned profiles. A synonym for the `/messaging_profiles/{id}/short_codes` endpoint when querying about an extant profile.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ListShortCodesResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                }
            }
        },
        "/short_codes/{id}": {
            "get": {
                "summary": "Retrieve a short code",
                "operationId": "retrieveShortCode",
                "tags": [
                    "Short Codes"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ShortCodeId"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/RetrieveShortCodeResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                }
            },
            "patch": {
                "summary": "Update short code",
                "operationId": "updateShortCode",
                "description": "Update the settings for a specific short code. To unbind a short code from a profile, set the `messaging_profile_id` to `null` or an empty string.",
                "tags": [
                    "Short Codes"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ShortCodeId"
                    }
                ],
                "requestBody": {
                    "description": "Short code update",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ShortCodeUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/UpdateShortCodeResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                }
            }
        },
        "/messages": {
            "post": {
                "summary": "Send a message",
                "description": "Send a message with a Phone Number, Alphanumeric Sender ID, Short Code or Number Pool.\n\nThis endpoint allows you to send a message with any messaging resource.\nCurrent messaging resources include: long-code, short-code, number-pool, and\nalphanumeric-sender-id.\n",
                "operationId": "createMessage",
                "tags": [
                    "Messages"
                ],
                "requestBody": {
                    "description": "Message payload",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NewMessage"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/CreateMessageResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                },
                "callbacks": {
                    "deliveryUpdate": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/OutboundMessage"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/messages/long_code": {
            "post": {
                "summary": "Send a Long Code message",
                "operationId": "createLongCodeMessage",
                "tags": [
                    "Messages"
                ],
                "requestBody": {
                    "description": "Message payload",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NewLongCodeMessage"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/CreateMessageResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                },
                "callbacks": {
                    "deliveryUpdate": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/OutboundMessage"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/messages/number_pool": {
            "post": {
                "summary": "Send a message using Number Pool",
                "operationId": "createNumberPoolMessage",
                "tags": [
                    "Messages"
                ],
                "requestBody": {
                    "description": "Message payload",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NewNumberPoolMessage"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/CreateMessageResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                },
                "callbacks": {
                    "deliveryUpdate": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/OutboundMessage"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/messages/short_code": {
            "post": {
                "summary": "Send a Short Code message",
                "operationId": "createShortCodeMessage",
                "tags": [
                    "Messages"
                ],
                "requestBody": {
                    "description": "Message payload",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NewShortCodeMessage"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/CreateMessageResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                },
                "callbacks": {
                    "deliveryUpdate": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/OutboundMessage"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/messages/{id}": {
            "get": {
                "summary": "Retrieve a message",
                "operationId": "retrieveMessage",
                "tags": [
                    "Messages"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The id of the message",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/RetrieveMessageResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                }
            }
        },
        "/phone_numbers/{id}/messaging": {
            "get": {
                "summary": "Retrieve the messaging settings for a phone number",
                "operationId": "retrievePhoneNumberMessagingSettings",
                "tags": [
                    "Number Configurations"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identifies the type of resource.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/RetrieveMessagingSettingsResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                }
            },
            "patch": {
                "summary": "Update the messaging settings for a phone number",
                "operationId": "updatePhoneNumberMessagingSettings",
                "tags": [
                    "Number Configurations"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identifies the type of resource.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Updated messaging settings for the phone number",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MessagingPhoneNumberUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/RetrieveMessagingSettingsResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                }
            }
        },
        "/phone_numbers/messaging": {
            "get": {
                "summary": "List all phone numbers' messaging settings",
                "operationId": "listPhoneNumberMessagingSettings",
                "tags": [
                    "Number Configurations"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ListMessagingSettingsResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                }
            }
        },
        "/messaging_hosted_numbers/{id}": {
            "delete": {
                "summary": "Delete Messaging Hosted Number",
                "operationId": "deleteMessagingHostedNumber",
                "tags": [
                    "Messaging Hosted Number"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identifies the type of resource.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/RetrieveMessagingHostedNumber"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                }
            }
        },
        "/messaging_hosted_number_orders": {
            "get": {
                "summary": "List All Messaging Hosted Number Orders",
                "operationId": "listMessagingHostedNumberOrder",
                "tags": [
                    "Messaging Hosted Number"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ListMessagingHostedNumberOrder"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                }
            },
            "post": {
                "summary": "New Messaging Hosted Numbers Order",
                "operationId": "newMessagingHostedNumberOrder",
                "tags": [
                    "Messaging Hosted Number"
                ],
                "requestBody": {
                    "description": "Message payload",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NewMessagingHostedNumberOrder"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/RetrieveMessagingHostedNumberOrder"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                }
            }
        },
        "/messaging_hosted_number_orders/{id}": {
            "get": {
                "summary": "Get Messaging Hosted Numbers Order Information",
                "operationId": "getMessagingHostedNumberOrder",
                "tags": [
                    "Messaging Hosted Number"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identifies the type of resource.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/RetrieveMessagingHostedNumberOrder"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                }
            }
        },
        "/messaging_hosted_number_orders/{id}/actions/file_upload": {
            "post": {
                "summary": "Upload LOA and Bill required for a Messaging Hosted Number Order",
                "operationId": "uploadFilesMessagingHostedNumberOrder",
                "tags": [
                    "Messaging Hosted Number"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identifies the type of resource.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Message payload",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/NewMessagingHostedNumberOrderFileUpload"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/RetrieveMessagingHostedNumberOrder"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                }
            }
        },
        "/call_events": {
            "get": {
                "summary": "List call events",
                "description": "Filters call events by given filter parameters. Events are ordered by `event_timestamp`. If filter for `call_leg_id` or `call_session_id` is not present, it only filters events from the last 24 hours.\n\n**Note**: Only one `filter[event_timestamp]` can be passed.\n",
                "x-latency-category": "responsive",
                "operationId": "CallControlDebuggingEventList",
                "tags": [
                    "Debugging"
                ],
                "parameters": [
                    {
                        "name": "filter[call_leg_id]",
                        "in": "query",
                        "description": "The unique identifier of an individual call leg.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "filter[call_session_id]",
                        "in": "query",
                        "description": "The unique identifier of the call control session. A session may include multiple call leg events.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "filter[status]",
                        "in": "query",
                        "description": "Event status",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "delivered",
                                "failed"
                            ],
                            "example": "delivered"
                        }
                    },
                    {
                        "name": "filter[type]",
                        "in": "query",
                        "description": "Event type",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "command",
                                "webhook"
                            ],
                            "example": "webhook"
                        }
                    },
                    {
                        "name": "filter[event_timestamp][gt]",
                        "in": "query",
                        "description": "Event timestamp: greater than",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2019-03-29T11:10:00Z"
                        }
                    },
                    {
                        "name": "filter[event_timestamp][gte]",
                        "in": "query",
                        "description": "Event timestamp: greater than or equal",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2019-03-29T11:10:00Z"
                        }
                    },
                    {
                        "name": "filter[event_timestamp][lt]",
                        "in": "query",
                        "description": "Event timestamp: lower than",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2019-03-29T11:10:00Z"
                        }
                    },
                    {
                        "name": "filter[event_timestamp][lte]",
                        "in": "query",
                        "description": "Event timestamp: lower than or equal",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2019-03-29T11:10:00Z"
                        }
                    },
                    {
                        "name": "filter[event_timestamp][eq]",
                        "in": "query",
                        "description": "Event timestamp: equal",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2019-03-29T11:10:00Z"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ListCallEventsResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                }
            }
        },
        "/calls/{call_control_id}": {
            "get": {
                "summary": "Retrieve call status",
                "description": "Returns the status of a call (data is available 10 minutes after call ended).",
                "operationId": "RetrieveCallStatus",
                "tags": [
                    "Call Information"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CallControlId"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/RetrieveCallStatusResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                }
            }
        },
        "/calls/{call_control_id}/actions/answer": {
            "post": {
                "summary": "Answer call",
                "description": "Answer an incoming call. You must issue this command before executing subsequent commands on an incoming call.\n\n**Expected Webhooks:**\n\n- `call.answered`\n",
                "operationId": "CallControlAnswer",
                "tags": [
                    "Call Commands"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CallControlId"
                    }
                ],
                "requestBody": {
                    "description": "Answer call request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AnswerRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/CallControlCommandResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                },
                "callbacks": {
                    "callAnswered": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/CallAnswered"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calls/{call_control_id}/actions/bridge": {
            "post": {
                "summary": "Bridge calls",
                "description": "Bridge two call control calls.\n\n**Expected Webhooks:**\n\n- `call.bridged` for Leg A\n- `call.bridged` for Leg B\n",
                "operationId": "CallControlBridge",
                "tags": [
                    "Call Commands"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CallControlId"
                    }
                ],
                "requestBody": {
                    "description": "Bridge call request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BridgeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/CallControlCommandResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                },
                "callbacks": {
                    "callBridged": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/CallBridged"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calls/{call_control_id}/actions/fork_start": {
            "post": {
                "summary": "Forking start",
                "description": "Call forking allows you to stream the media from a call to a specific target in realtime. \nThis stream can be used to enable realtime audio analysis to support a \nvariety of use cases, including fraud detection, or the creation of AI-generated audio responses. \nRequests must specify either the `target` attribute or the `rx` and `tx` attributes.\n\n**Expected Webhooks:**\n\n- `call.fork.started`\n- `call.fork.stopped`\n\n**Simple Telnyx RTP Encapsulation Protocol (STREP)**\n\n*Note: This header/encapsulation is not used when the `rx` and `tx`\nparameters have been specified; it only applies when media is forked\nusing the `target` attribute.*\n\nIf the destination for forked media is specified using the \"target\"\nattribute, the RTP will be encapsulated in an extra Telnyx protocol,\nwhich adds a 24 byte header to the RTP payload in each packet. The STREP\nheader includes the Call Control `call_leg_id` for stream\nidentification, along with bits that represent the direction (inbound or\noutbound) of the media. This 24-byte header sits between the UDP header\nand the RTP header.\n\nThe STREP header makes it possible to fork RTP for multiple calls (or\ntwo RTP streams for the same call) to the same IP:port, where the\nstreams can be demultiplexed by your application using the information\nin the header. Of course, it's still possible to ignore this header\ncompletely, for example, if sending forked media for different calls to\ndifferent ports or IP addresses. In this case, simply strip 24 bytes\n(or use the second byte to find the header length) from the received UDP\npayload to get the RTP (RTP header and payload).\n\n```\nSTREP Specification\n\n  0                   1                   2                   3\n  0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n |1 1|Version|L|D|    HeaderLen  |  reserved (2 bytes)           |\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n |       reserved (4 bytes, for UDP ports or anything else)      |\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n |               The call_leg_id                                 |\n |                   from Call Control                           |\n |                       (128 bits / 16 bytes)                   |\n |                           (this is binary data)               |\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n\n 11\n   Static bits 11, always set to 11 to easily distinguish forked media\n   from RTP (10) and T.38 media (usually 00) and SIP (which begins\n   with a capital letter, so begins with bits 01). This is a magic number.\n\n Version\n   Four bits to indicate the version number of the protocol, starting at 0001.\n\n L\n   One bit to represent the leg of the call (A or B).\n   0 represents the A (first) leg of the call.\n   1 represents the B (second) leg of the call.\n\n D\n   One bit to represent the direction of this RTP stream.\n   0 represents media received by Telnyx.\n   1 represents media transmitted by Telnyx.\n\n HeaderLen (1 byte)\n   The length of the header in bytes.\n   Note that this value does not include the length of the payload. The total\n   size of the RTP can be calculated by subtracting the HeaderLen from the UDP\n   length (minus 8 for the UDP header).\n   In version 1, this value will always be 24.\n\n Reserved (6 bytes)\n   Reserved for future use and to make sure that the header is a multiple of 32 bits\n\n Call Leg ID\n   A 128-bit identifier for the call leg.\n   This is the call_leg_id from Call Control.\n```\n",
                "operationId": "CallControlForkStart",
                "tags": [
                    "Call Commands"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CallControlId"
                    }
                ],
                "requestBody": {
                    "description": "Fork media request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StartForkingRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/CallControlCommandResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                },
                "callbacks": {
                    "callForkStarted": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/CallForkStarted"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    },
                    "callForkStopped": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/CallForkStopped"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calls/{call_control_id}/actions/fork_stop": {
            "post": {
                "summary": "Forking stop",
                "description": "Stop forking a call.\n\n**Expected Webhooks:**\n\n- `call.fork.stopped`\n",
                "operationId": "CallControlForkStop",
                "tags": [
                    "Call Commands"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CallControlId"
                    }
                ],
                "requestBody": {
                    "description": "Stop forking media request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StopForkingRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/CallControlCommandResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                },
                "callbacks": {
                    "callForkStopped": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/CallForkStopped"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calls/{call_control_id}/actions/gather_using_audio": {
            "post": {
                "summary": "Gather using audio",
                "description": "Play an audio file on the call until the required DTMF signals are gathered to build interactive menus.\n\nYou can pass a list of valid digits along with an 'invalid_audio_url', which will be played back at the beginning of each prompt. Playback will be interrupted when a DTMF signal is received. The [Answer](/docs/api/v2/call-control/Call-Commands#CallControlAnswer) command must be issued before the `gather_using_audio` command.\n\n**Expected Webhooks:**\n\n- `call.playback.started`\n- `call.playback.ended`\n- `call.dtmf.received` (you may receive many of these webhooks)\n- `call.gather.ended`\n",
                "operationId": "CallControlGatherUsingAudio",
                "tags": [
                    "Call Commands"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CallControlId"
                    }
                ],
                "requestBody": {
                    "description": "Gather using audio request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GatherUsingAudioRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/CallControlCommandResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                },
                "callbacks": {
                    "callPlaybackStarted": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/CallPlaybackStarted"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    },
                    "callPlaybackEnded": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/CallPlaybackEnded"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    },
                    "callDtmfReceived": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/CallDtmfReceived"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    },
                    "callGatherEnded": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/CallGatherEnded"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calls/{call_control_id}/actions/gather_using_speak": {
            "post": {
                "summary": "Gather using speak",
                "description": "Convert text to speech and play it on the call until the required DTMF signals are gathered to build interactive menus.\n\nYou can pass a list of valid digits along with an 'invalid_payload', which will be played back at the beginning of each prompt. Speech will be interrupted when a DTMF signal is received. The [Answer](/docs/api/v2/call-control/Call-Commands#CallControlAnswer) command must be issued before the `gather_using_speak` command.\n\n**Expected Webhooks:**\n\n- `call.dtmf.received` (you may receive many of these webhooks)\n- `call.gather.ended`\n",
                "operationId": "CallControlGatherUsingSpeak",
                "tags": [
                    "Call Commands"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CallControlId"
                    }
                ],
                "requestBody": {
                    "description": "Gather using speak request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GatherUsingSpeakRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/CallControlCommandResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                },
                "callbacks": {
                    "callDtmfReceived": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/CallDtmfReceived"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    },
                    "callGatherEnded": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/CallGatherEnded"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calls/{call_control_id}/actions/gather_stop": {
            "post": {
                "summary": "Gather stop",
                "description": "Stop current gather.\n\n**Expected Webhooks:**\n\n- `call.gather.ended`\n",
                "operationId": "CallControlGatherStop",
                "tags": [
                    "Call Commands"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CallControlId"
                    }
                ],
                "requestBody": {
                    "description": "Stop current gather",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StopGatherRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/CallControlCommandResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                },
                "callbacks": {
                    "callGatherEnded": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/CallGatherEnded"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calls/{call_control_id}/actions/hangup": {
            "post": {
                "summary": "Hangup call",
                "description": "Hang up the call.\n\n**Expected Webhooks:**\n\n- `call.hangup`\n- `call.recording.saved`\n",
                "operationId": "CallControlHangup",
                "tags": [
                    "Call Commands"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CallControlId"
                    }
                ],
                "requestBody": {
                    "description": "Hangup request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HangupRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/CallControlCommandResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                },
                "callbacks": {
                    "callHangup": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/CallHangup"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    },
                    "callRecordingSaved": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/CallRecordingSaved"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calls/{call_control_id}/actions/reject": {
            "post": {
                "summary": "Reject call",
                "description": "Reject an incoming call.\n\n**Expected Webhooks:**\n\n- `call.hangup`\n",
                "operationId": "CallControlReject",
                "tags": [
                    "Call Commands"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CallControlId"
                    }
                ],
                "requestBody": {
                    "description": "Reject request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RejectRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/CallControlCommandResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                },
                "callbacks": {
                    "callHangup": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/CallHangup"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calls/{call_control_id}/actions/playback_start": {
            "post": {
                "summary": "Play audio URL",
                "description": "Play an audio file on the call. If multiple play audio commands are issued consecutively,\nthe audio files will be placed in a queue awaiting playback.\n\n*Notes:*\n\n- When `overlay` is enabled, `loop` is limited to 1, and `target_legs` is limited to `self`.\n- A customer cannot Play Audio with `overlay=true` unless there is a Play Audio with `overlay=false` actively playing.\n\n**Expected Webhooks:**\n\n- `call.playback.started`\n- `call.playback.ended`\n",
                "operationId": "CallControlPlaybackStart",
                "tags": [
                    "Call Commands"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CallControlId"
                    }
                ],
                "requestBody": {
                    "description": "Play audio URL request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PlayAudioUrlRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/CallControlCommandResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                },
                "callbacks": {
                    "callPlaybackStarted": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/CallPlaybackStarted"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    },
                    "callPlaybackEnded": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/CallPlaybackEnded"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calls/{call_control_id}/actions/playback_stop": {
            "post": {
                "summary": "Stop audio playback",
                "description": "Stop audio being played on the call.\n\n**Expected Webhooks:**\n\n- `call.playback.ended` or `call.speak.ended`\n",
                "operationId": "CallControlPlaybackStop",
                "tags": [
                    "Call Commands"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CallControlId"
                    }
                ],
                "requestBody": {
                    "description": "Stop audio playback request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PlaybackStopRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/CallControlCommandResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                },
                "callbacks": {
                    "callPlaybackEnded": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/CallPlaybackEnded"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    },
                    "callSpeakEnded": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/CallSpeakEnded"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calls/{call_control_id}/actions/record_start": {
            "post": {
                "summary": "Recording start",
                "description": "Start recording the call. Recording will stop on call hang-up, or can be initiated via the Stop Recording command.\n\n**Expected Webhooks:**\n\n- `call.recording.saved`\n",
                "operationId": "CallControlRecordStart",
                "tags": [
                    "Call Commands"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CallControlId"
                    }
                ],
                "requestBody": {
                    "description": "Start recording audio request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StartRecordingRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/CallControlCommandResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                }
            }
        },
        "/calls/{call_control_id}/actions/record_stop": {
            "post": {
                "summary": "Recording stop",
                "description": "Stop recording the call.\n\n**Expected Webhooks:**\n\n- `call.recording.saved`\n",
                "operationId": "CallControlRecordStop",
                "tags": [
                    "Call Commands"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CallControlId"
                    }
                ],
                "requestBody": {
                    "description": "Stop recording call request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StopRecordingRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/CallControlCommandResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                },
                "callbacks": {
                    "callRecordingSaved": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/CallRecordingSaved"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calls/{call_control_id}/actions/send_dtmf": {
            "post": {
                "summary": "Send DTMF",
                "description": "Sends DTMF tones from this leg. DTMF tones will be heard by the other end of the call.\n\n**Expected Webhooks:**\n\nThere are no webhooks associated with this command.\n",
                "operationId": "CallControlSendDTMF",
                "tags": [
                    "Call Commands"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CallControlId"
                    }
                ],
                "requestBody": {
                    "description": "Send DTMF request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SendDTMFRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/CallControlCommandResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                }
            }
        },
        "/calls/{call_control_id}/actions/speak": {
            "post": {
                "summary": "Speak text",
                "description": "Convert text to speech and play it back on the call. If multiple speak text commands are issued consecutively, the audio files will be placed in a queue awaiting playback.\n\n**Expected Webhooks:**\n\n- `call.speak.started`\n- `call.speak.ended`\n",
                "operationId": "CallControlSpeak",
                "tags": [
                    "Call Commands"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CallControlId"
                    }
                ],
                "requestBody": {
                    "description": "Speak request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SpeakRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/CallControlCommandResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                },
                "callbacks": {
                    "callSpeakStarted": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/CallSpeakStarted"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    },
                    "callSpeakEnded": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/CallSpeakEnded"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calls/{call_control_id}/actions/transfer": {
            "post": {
                "summary": "Transfer call",
                "description": "Transfer a call to a new destination. If the transfer is unsuccessful, a `call.hangup` webhook will be sent indicating that the transfer could not be completed. The original call will remain active and may be issued additional commands, potentially transfering the call to an alternate destination.\n\n**Expected Webhooks:**\n\n- `call.initiated`\n- `call.bridged` to Leg B\n- `call.answered` or `call.hangup`\n- `call.machine.detection.ended` if `answering_machine_detection` was requested\n- `call.machine.greeting.ended` if `answering_machine_detection` was requested to detect the end of machine greeting\n",
                "operationId": "CallControlTransfer",
                "tags": [
                    "Call Commands"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CallControlId"
                    }
                ],
                "requestBody": {
                    "description": "Transfer call request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TransferCallRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/CallControlCommandResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                },
                "callbacks": {
                    "callInitiated": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/CallInitiated"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    },
                    "callBridged": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/CallBridged"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    },
                    "callAnswered": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/CallAnswered"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    },
                    "callHangup": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/CallHangup"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calls": {
            "post": {
                "summary": "Dial",
                "description": "Dial a number from a given connection. A successful response will include a `call_leg_id` which can be used to correlate the command with subsequent webhooks.\n\n**Expected Webhooks:**\n\n- `call.initiated`\n- `call.answered` or `call.hangup`\n- `call.machine.detection.ended` if `answering_machine_detection` was requested\n- `call.machine.greeting.ended` if `answering_machine_detection` was requested to detect the end of machine greeting\n",
                "operationId": "CallControlDial",
                "tags": [
                    "Call Commands"
                ],
                "requestBody": {
                    "description": "Dial request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DialRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/RetrieveCallStatusResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericErrorResponse"
                    }
                },
                "callbacks": {
                    "callInitiated": {
                        "{$request.body#/webhook_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/CallInitiated"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
[...]
