{
  "openapi": "3.0.0",
  "info": {
    "version": "2.0.0",
    "x-endpoint-cost": "medium",
    "title": "Telnyx API",
    "description": "SIP trunking, SMS, MMS, Call Control and Telephony Data Services.",
    "contact": {
      "email": "support@telnyx.com"
    }
  },
  "servers": [
    {
      "url": "https://api.telnyx.com/v2",
      "description": "Version 2.0.0 of the Telnyx API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Access Control IPs",
      "description": "Access Control IP operations"
    },
    {
      "name": "Access Tokens",
      "description": "Access Tokens creation"
    },
    {
      "name": "Addresses",
      "description": "Address operations"
    },
    {
      "name": "Authentication Providers",
      "description": "Authentication Provider operations"
    },
    {
      "name": "Billing",
      "description": "Billing operations"
    },
    {
      "name": "Billing Groups",
      "description": "Billing groups operations"
    },
    {
      "name": "Bulk Credentials",
      "description": "Bulk operations over Credentials"
    },
    {
      "name": "Business Identity",
      "description": "Business Identity related endpoints"
    },
    {
      "name": "Call Commands",
      "description": "Call Control command operations"
    },
    {
      "name": "Call Control Applications",
      "description": "Call Control applications operations"
    },
    {
      "name": "Call Information",
      "description": "Call information"
    },
    {
      "name": "Call Recordings",
      "description": "Call Recordings operations"
    },
    {
      "name": "Channel zones",
      "description": "Channel zones"
    },
    {
      "name": "Conference Commands",
      "description": "Conference command operations"
    },
    {
      "name": "Connections",
      "description": "Connections operations"
    },
    {
      "name": "Credential Connections",
      "description": "Credential connection operations"
    },
    {
      "name": "Credentials",
      "description": "Credentials operations"
    },
    {
      "name": "Customer Service Request",
      "description": "Customer Service Request operations"
    },
    {
      "name": "Debugging",
      "description": "Call Control debugging"
    },
    {
      "name": "Detail Records",
      "description": "Detail Records operations"
    },
    {
      "name": "Documents",
      "description": "Documents"
    },
    {
      "name": "Dynamic Emergency Addresses",
      "description": "Dynamic emergency address operations"
    },
    {
      "name": "Dynamic Emergency Endpoints",
      "description": "Dynamic Emergency Endpoints"
    },
    {
      "name": "FQDN Connections",
      "description": "FQDN connection operations"
    },
    {
      "name": "FQDNs",
      "description": "FQDN operations"
    },
    {
      "name": "IP Addresses",
      "description": "IP Address Operations"
    },
    {
      "name": "IP Connections",
      "description": "IP connection operations"
    },
    {
      "name": "IP Ranges",
      "description": "IP Range Operations"
    },
    {
      "name": "IPs",
      "description": "IP operations"
    },
    {
      "name": "Inbound Channels",
      "description": "Inbound channels operations"
    },
    {
      "name": "Inventory Level",
      "description": "Inventory Level"
    },
    {
      "name": "Managed Accounts",
      "description": "Managed Accounts operations"
    },
    {
      "name": "Media Storage API",
      "description": "Media Storage operations"
    },
    {
      "name": "Messages",
      "description": "Messages"
    },
    {
      "name": "Messaging Hosted Number",
      "description": "Manage your messaging hosted numbers"
    },
    {
      "name": "Messaging Profiles",
      "description": "Messaging profiles"
    },
    {
      "name": "Messaging URL Domains",
      "description": "Messaging URL Domains"
    },
    {
      "name": "Mobile Applications",
      "description": "Mobile Application management"
    },
    {
      "name": "Mobile Operator Networks",
      "description": "Mobile operator networks operations"
    },
    {
      "name": "Notifications",
      "description": "Notification settings operations"
    },
    {
      "name": "Number Background Jobs",
      "description": "Background jobs performed over a batch of phone numbers"
    },
    {
      "name": "Number Blocks Background Jobs",
      "description": "Background jobs performed over a phone-numbers block's phone numbers"
    },
    {
      "name": "Number Configurations",
      "description": "Configure your phone numbers"
    },
    {
      "name": "Number Lookup",
      "description": "Look up phone number data"
    },
    {
      "name": "Number Order Documents",
      "description": "Number order documents"
    },
    {
      "name": "Number Orders",
      "description": "Number orders"
    },
    {
      "name": "Number Portout",
      "description": "Number portout operations"
    },
    {
      "name": "Number Reservations",
      "description": "Number reservations"
    },
    {
      "name": "Number Search",
      "description": "Number search"
    },
    {
      "name": "OTA updates",
      "description": "OTA updates operations"
    },
    {
      "name": "Outbound Voice Profiles",
      "description": "Outbound voice profiles operations"
    },
    {
      "name": "Phone Number Porting",
      "description": "Determining portability of phone numbers"
    },
    {
      "name": "Porting Order",
      "description": "Porting Order operation"
    },
    {
      "name": "Private Wireless Gateways",
      "description": "Private Wireless Gateways operations"
    },
    {
      "name": "Programmable Fax Applications",
      "description": "Fax Applications operations"
    },
    {
      "name": "Programmable Fax Commands",
      "description": "Programmable fax command operations"
    },
    {
      "name": "Push Credentials",
      "description": "Push credential management"
    },
    {
      "name": "Queue Commands",
      "description": "Queue commands operations"
    },
    {
      "name": "Recordings Commands",
      "description": "Recordings commands operations"
    },
    {
      "name": "Register Call",
      "description": "Register Call commands"
    },
    {
      "name": "Reporting",
      "description": "Wireless reporting operations"
    },
    {
      "name": "Requirement Types",
      "description": "Types of requirements for international numbers and porting orders"
    },
    {
      "name": "Requirements",
      "description": "Requirements for international numbers and porting orders"
    },
    {
      "name": "Room Compositions",
      "description": "Rooms Compositions operations."
    },
    {
      "name": "Room Participants",
      "description": "Rooms Participants operations."
    },
    {
      "name": "Room Recordings",
      "description": "Rooms Recordings operations."
    },
    {
      "name": "Room Sessions",
      "description": "Rooms Sessions operations."
    },
    {
      "name": "Rooms",
      "description": "Rooms operations."
    },
    {
      "name": "Rooms Client Tokens",
      "description": "Rooms Client Tokens operations."
    },
    {
      "name": "SIM Card Actions",
      "description": "View SIM card actions, their progress and timestamps using the SIM Card Actions API"
    },
    {
      "name": "SIM Card Group Actions",
      "description": "SIM Card Group actions operations"
    },
    {
      "name": "SIM Card Groups",
      "description": "SIM Card Groups operations"
    },
    {
      "name": "SIM Card Orders",
      "description": "SIM Card Orders operations"
    },
    {
      "name": "SIM Cards",
      "description": "SIM Cards operations"
    },
    {
      "name": "Short Codes",
      "description": "Short codes"
    },
    {
      "name": "TeXML Applications",
      "description": "TeXML Applications operations"
    },
    {
      "name": "Verified Calls Display Profile",
      "description": "Verified Calls Display Profile related endpoints"
    },
    {
      "name": "Verify",
      "description": "Two factor authentication API"
    },
    {
      "name": "Webhooks",
      "description": "Webhooks operations"
    },
    {
      "name": "WhatsApp Business Account",
      "description": "WhatsApp Business Account"
    },
    {
      "name": "WhatsApp Contacts",
      "description": "WhatsApp contacts"
    },
    {
      "name": "WhatsApp Media",
      "description": "WhatsApp media files"
    },
    {
      "name": "WhatsApp Messages",
      "description": "WhatsApp messages"
    },
    {
      "name": "WhatsApp Phone Number",
      "description": "WhatsApp Phone Number"
    },
    {
      "name": "WhatsApp Users",
      "description": "WhatsApp user info"
    },
    {
      "name": "Wireless",
      "description": "Wireless operations"
    }
  ],
  "paths": {
    "/access_control_ips": {
      "get": {
        "description": "This endpoint will be deprecated on 15th March 2022 and has been replaced by the following APIs, [api.telnyx.com/v2/access_ip_address](https://developers.telnyx.com/docs/api/v2/account/IP-Addresses) and [api.telnyx.com/v2/access_ip_ranges](https://developers.telnyx.com/docs/api/v2/account/IP-Ranges). We recommend that Customers already using this endpoint transition to using: [api.telnyx.com/v2/access_ip_address](https://developers.telnyx.com/docs/api/v2/account/IP-Addresses).",
        "summary": "List all access control IPs",
        "operationId": "findAccessControlIps",
        "tags": [
          "Access Control IPs"
        ],
        "x-endpoint-cost": "medium",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterIpAddressEquals"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAllAccessControlIpResponse"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "x-latency-category": "responsive"
      },
      "post": {
        "description": "This endpoint will be deprecated on 15th March 2022 and has been replaced by the following APIs, [api.telnyx.com/v2/access_ip_address](https://developers.telnyx.com/docs/api/v2/account/IP-Addresses) and [api.telnyx.com/v2/access_ip_ranges](https://developers.telnyx.com/docs/api/v2/account/IP-Ranges). We recommend that Customers already using this endpoint transition to using: [api.telnyx.com/v2/access_ip_address](https://developers.telnyx.com/docs/api/v2/account/IP-Addresses).)",
        "summary": "Adds an access control IP",
        "operationId": "CreateAccessControlIp",
        "tags": [
          "Access Control IPs"
        ],
        "x-endpoint-cost": "medium",
        "parameters": [],
        "requestBody": {
          "description": "Parameters that can be defined during access control IP creation",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessControlIpCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccessControlIpResponse"
          },
          "422": {
            "description": "Bad request"
          }
        },
        "x-latency-category": "responsive"
      }
    },
    "/access_control_ips/{id}": {
      "delete": {
        "description": "This endpoint will be deprecated on 15th March 2022 and has been replaced by the following APIs, [api.telnyx.com/v2/access_ip_address](https://developers.telnyx.com/docs/api/v2/account/IP-Addresses) and [api.telnyx.com/v2/access_ip_ranges](https://developers.telnyx.com/docs/api/v2/account/IP-Ranges). We recommend that Customers already using this endpoint transition to using: [api.telnyx.com/v2/access_ip_address](https://developers.telnyx.com/docs/api/v2/account/IP-Addresses).)",
        "summary": "Deletes an access control IP",
        "operationId": "DeleteAccessControlIp",
        "tags": [
          "Access Control IPs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "access control IP ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccessControlIpResponse"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Bad request"
          }
        },
        "x-latency-category": "responsive"
      },
      "get": {
        "description": "This endpoint will be deprecated on 15th March 2022 and has been replaced by the following APIs, [api.telnyx.com/v2/access_ip_address](https://developers.telnyx.com/docs/api/v2/account/IP-Addresses) and [api.telnyx.com/v2/access_ip_ranges](https://developers.telnyx.com/docs/api/v2/account/IP-Ranges). We recommend that Customers already using this endpoint transition to using: [api.telnyx.com/v2/access_ip_address](https://developers.telnyx.com/docs/api/v2/account/IP-Addresses).",
        "summary": "Retrieve an access control IP",
        "operationId": "getAccessControlIp",
        "tags": [
          "Access Control IPs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "access control IP ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccessControlIpResponse"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Bad request"
          }
        },
        "x-latency-category": "responsive"
      },
      "patch": {
        "description": "This endpoint will be deprecated on 15th March 2022 and has been replaced by the following APIs, [api.telnyx.com/v2/access_ip_address](https://developers.telnyx.com/docs/api/v2/account/IP-Addresses) and [api.telnyx.com/v2/access_ip_ranges](https://developers.telnyx.com/docs/api/v2/account/IP-Ranges). We recommend that Customers already using this endpoint transition to using: [api.telnyx.com/v2/access_ip_address](https://developers.telnyx.com/docs/api/v2/account/IP-Addresses).)",
        "summary": "Update an access control IP",
        "operationId": "updateAccessControlIp",
        "tags": [
          "Access Control IPs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "access control IP ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Parameters to update on the access control IP record",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessControlIpUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccessControlIpResponse"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Bad request"
          }
        },
        "x-latency-category": "responsive"
      }
    },
    "/access_ip_address": {
      "get": {
        "summary": "List all Access IP Addresses",
        "operationId": "AccessIPAddressList",
        "tags": [
          "IP Addresses"
        ],
        "parameters": [
          {
            "required": false,
            "schema": {
              "type": "string"
            },
            "name": "filter[ip_source]",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "string"
            },
            "name": "filter[ip_address]",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CloudflareSyncStatus"
            },
            "name": "filter[status]",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "name": "filter[created_at][gt]",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "name": "filter[created_at][lt]",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "name": "page[number]",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "maximum": 250,
              "type": "integer",
              "default": 20
            },
            "name": "page[size]",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessIPAddressListResponseSchema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "x-latency-category": "responsive"
      },
      "post": {
        "summary": "Create new Access IP Address",
        "operationId": "AccessIPAddressCreate",
        "tags": [
          "IP Addresses"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessIPAddressPOST"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessIPAddressResponseSchema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "x-latency-category": "responsive"
      }
    },
    "/access_ip_address/{access_ip_address_id}": {
      "delete": {
        "summary": "Delete access IP address",
        "tags": [
          "IP Addresses"
        ],
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string"
            },
            "name": "access_ip_address_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessIPAddressResponseSchema"
                }
              }
            }
          }
        },
        "x-latency-category": "responsive"
      }
    },
    "/access_ip_ranges": {
      "get": {
        "summary": "List all Access IP Ranges",
        "operationId": "AccessIPRangeList",
        "tags": [
          "IP Ranges"
        ],
        "parameters": [
          {
            "required": false,
            "schema": {
              "type": "string"
            },
            "name": "filter[cidr_block]",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "string"
            },
            "name": "filter[cidr_block][startswith]",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "string"
            },
            "name": "filter[cidr_block][endswith]",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "string"
            },
            "name": "filter[cidr_block][contains]",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CloudflareSyncStatus"
            },
            "name": "filter[status]",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "name": "filter[created_at][gt]",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "name": "filter[created_at][lt]",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "name": "page[number]",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "maximum": 250,
              "type": "integer",
              "default": 20
            },
            "name": "page[size]",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessIPRangeListResponseSchema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "x-latency-category": "responsive"
      },
      "post": {
        "summary": "Create new Access IP Range",
        "operationId": "AccessIPRangeCreate",
        "tags": [
          "IP Ranges"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessIPRangePOST"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessIPRangeResponseSchema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "x-latency-category": "responsive"
      }
    },
    "/access_ip_ranges/{access_ip_range_id}": {
      "delete": {
        "summary": "Delete access IP ranges",
        "tags": [
          "IP Ranges"
        ],
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string"
            },
            "name": "access_ip_range_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessIPRangeResponseSchema"
                }
              }
            }
          }
        },
        "x-latency-category": "responsive"
      }
    },
    "/actions/bulk/telephony_credentials": {
      "delete": {
        "description": "Delete several credentials in bulk.",
        "summary": "Delete several credentials",
        "operationId": "DeleteBulkTelephonyCredential",
        "tags": [
          "Bulk Credentials"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RequiredTag"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/BulkCredentialResponse"
          },
          "422": {
            "description": "Bad request"
          }
        },
        "x-latency-category": "responsive"
      },
      "patch": {
        "description": "Update several credentials in bulk.",
        "summary": "Update several credentials",
        "operationId": "UpdateBulkTelephonyCredential",
        "tags": [
          "Bulk Credentials"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RequiredTag"
          }
        ],
        "requestBody": {
          "description": "Parameters to update credentials on bulk",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkCredentialRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/BulkCredentialResponse"
          },
          "422": {
            "description": "Bad request"
          }
        },
        "x-latency-category": "responsive"
      },
      "post": {
        "description": "Creates several credentials in bulk.",
        "summary": "Creates several credentials",
        "operationId": "CreateBulkTelephonyCredential",
        "tags": [
          "Bulk Credentials"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Requested parameters to create credentials on bulk",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkCredentialRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/BulkCredentialResponse"
          },
          "422": {
            "description": "Bad request"
          }
        },
        "x-latency-category": "responsive"
      }
    },
    "/actions/network_preferences/sim_cards": {
      "put": {
        "x-latency-category": "background",
        "summary": "Bulk Network Preferences for SIM cards",
        "description": "This API allows dispatching the same operation described for the PUT sim_cards/:sim_card_id/network_preferences API for multiple SIM cards at once.<br/><br/>\nAlthough, a SIM card network preference may fail individually under any validation triggered as a consequence of its state. For example, a SIM can't have an in-progress OTA update for applying a Network Preference, so they'll fail when requested in this API. In that scenario, the specific error will be present in the response along with the successful definitions in the \"errors\" response node.\n",
        "operationId": "BulkSIMCardNetworkPreferences",
        "tags": [
          "SIM Cards"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Bulk Update Sim Network Preference",
                "type": "object",
                "properties": {
                  "sim_card_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "example": [
                      "6b14e151-8493-4fa1-8664-1cc4e6d14158",
                      "6b14e151-8493-4fa1-8664-1cc4e6d14158"
                    ]
                  },
                  "mobile_operator_networks_preferences": {
                    "$ref": "#/components/schemas/MobileOperatorNetworksPreferencesRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/BulkSIMCardNetworkPreferenceResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/actions/register/sim_cards": {
      "post": {
        "x-latency-category": "background",
        "summary": "Register SIM cards",
        "description": "Register the SIM cards associated with the provided registration codes to the current user's account.<br/><br/>\nIf <code>sim_card_group_id</code> is provided, the SIM cards will be associated with that group. Otherwise, the default group for the current user will be used.<br/><br/>\n",
        "operationId": "SimCardRegister",
        "tags": [
          "SIM Cards"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SIMCardRegistration"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/RegisterSimCardsResponse"
          }
        }
      }
    },
    "/actions/{action}/telephony_credentials": {
      "post": {
        "description": "Perform activate or deactivate action on all credentials filtered by the provided tag. Activate action will change the status to active, making it possible to connect calls with the credential. Deactivate action will change the status to inactive, making it impossible to connect calls with the credential.",
        "summary": "Perform activate or deactivate action on all credentials filtered by the provided tag.",
        "operationId": "BulkCredentialAction",
        "tags": [
          "Bulk Credentials"
        ],
        "parameters": [
          {
            "name": "action",
            "in": "path",
            "description": "Identifies the action to be taken. Activate will change the status to active. Deactivate will change the status to inactive.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "activate",
                "deactivate"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/RequiredTag"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/BulkCredentialResponse"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Bad request"
          }
        },
        "x-latency-category": "responsive"
      }
    },
    "/addresses": {
      "get": {
        "description": "Returns a list of your addresses.",
        "summary": "List all addresses",
        "operationId": "findAddresss",
        "tags": [
          "Addresses"
        ],
        "x-endpoint-cost": "medium",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterCustomerReferenceEquals"
          },
          {
            "$ref": "#/components/parameters/FilterCustomerReferenceContains"
          },
          {
            "$ref": "#/components/parameters/FilterUsedAsEmergency"
          },
          {
            "$ref": "#/components/parameters/FilterStreetAddress"
          },
          {
            "$ref": "#/components/parameters/FilterAddressBook"
          },
          {
            "$ref": "#/components/parameters/SortAddress"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAllAddressResponse"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "x-latency-category": "responsive"
      },
      "post": {
        "description": "Creates an address.",
        "summary": "Creates an address",
        "operationId": "CreateAddress",
        "tags": [
          "Addresses"
        ],
        "x-endpoint-cost": "medium",
        "parameters": [],
        "requestBody": {
          "description": "Parameters that can be defined during address creation",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AddressResponse"
          },
          "422": {
            "description": "Bad request"
          }
        },
        "x-latency-category": "responsive"
      }
    },
    "/addresses/actions/validate": {
      "post": {
        "description": "Validates an address for emergency services.",
        "summary": "Validate an address",
        "operationId": "validateAddress",
        "tags": [
          "Addresses"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Parameters that can be defined during address validation",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateAddressRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ValidateAddressResponse"
          },
          "422": {
            "description": "Bad request"
          }
        },
        "x-latency-category": "responsive"
      }
    },
    "/addresses/{id}": {
      "delete": {
        "description": "Deletes an existing address.",
        "summary": "Deletes an address",
        "operationId": "DeleteAddress",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "address ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AddressResponse"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Bad request"
          }
        },
        "x-latency-category": "responsive"
      },
      "get": {
        "description": "Retrieves the details of an existing address.",
        "summary": "Retrieve an address",
        "operationId": "getAddress",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "address ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AddressResponse"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Bad request"
          }
        },
        "x-latency-category": "responsive"
      }
    },
    "/authentication_providers": {
      "get": {
        "description": "Returns a list of your SSO authentication providers.",
        "summary": "List all SSO authentication providers",
        "operationId": "findAuthenticationProviders",
        "tags": [
          "Authentication Providers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/SortAuthenticationProvider"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAllAuthenticationProviderResponse"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "x-latency-category": "responsive"
      },
      "post": {
        "description": "Creates an authentication provider.",
        "summary": "Creates an authentication provider",
        "operationId": "CreateAuthenticationProvider",
        "tags": [
          "Authentication Providers"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Parameters that can be defined during authentication provider creation",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticationProviderCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AuthenticationProviderResponse"
          },
          "422": {
            "description": "Bad request"
          }
        },
        "x-latency-category": "responsive"
      }
    },
    "/authentication_providers/{id}": {
      "delete": {
        "description": "Deletes an existing authentication provider.",
        "summary": "Deletes an authentication provider",
        "operationId": "DeleteAuthenticationProvider",
        "tags": [
          "Authentication Providers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "authentication provider ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AuthenticationProviderResponse"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Bad request"
          }
        },
        "x-latency-category": "responsive"
      },
      "get": {
        "description": "Retrieves the details of an existing authentication provider.",
        "summary": "Retrieve an authentication provider",
        "operationId": "getAuthenticationProvider",
        "tags": [
          "Authentication Providers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "authentication provider ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AuthenticationProviderResponse"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Bad request"
          }
        },
        "x-latency-category": "responsive"
      },
      "patch": {
        "description": "Updates settings of an existing authentication provider.",
        "summary": "Update a authentication provider",
        "operationId": "updateAuthenticationProvider",
        "tags": [
          "Authentication Providers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifies the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Parameters that can be updated in a authentication provider",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAuthenticationProviderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AuthenticationProviderResponse"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Bad request"
          }
        },
        "x-latency-category": "responsive"
      }
    },
    "/available_phone_number_blocks": {
      "get": {
        "summary": "List available phone number blocks",
        "operationId": "listAvailablePhoneNumberBlocks",
        "tags": [
          "Number Search"
        ],
        "parameters": [
          {
            "name": "filter[phone_number][starts_with]",
            "in": "query",
            "description": "Filter number blocks that start with a pattern (meant to be used after `national_destination_code` filter has been set).",
            "schema": {
              "type": "string",
              "example": "201"
            }
          },
          {
            "name": "filter[phone_number][ends_with]",
            "in": "query",
            "description": "Filter numbers ending with a pattern.",
            "schema": {
              "type": "string",
              "example": "8000"
            }
          },
          {
            "name": "filter[phone_number][contains]",
            "in": "query",
            "description": "Filter numbers containing a pattern.",
            "schema": {
              "type": "string",
              "example": "456"
            }
          },
          {
            "name": "filter[locality]",
            "in": "query",
            "description": "Filter phone numbers by city.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "US": {
                "value": "Chicago"
              },
              "CA": {
                "value": "Toronto"
              },
              "AU": {
                "value": "Canberra"
              }
            }
          },
          {
            "name": "filter[administrative_area]",
            "in": "query",
            "description": "Filter phone numbers by US state/CA province.",
            "schema": {
              "type": "string",
              "example": "IL"
            }
          },
          {
            "name": "filter[country_code]",
            "in": "query",
            "description": "Filter phone numbers by ISO alpha-2 country code.",
            "schema": {
              "type": "string",
              "example": "US"
            }
          },
          {
            "name": "filter[national_destination_code]",
            "in": "query",
            "description": "Filter by the national destination code of the number. This filter is only applicable to North American numbers.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "US": {
                "value": "312"
              },
              "CA": {
                "value": "437"
              },
              "AU": {
                "value": "0251"
              }
            }
          },
          {
            "name": "filter[rate_center]",
            "in": "query",
            "description": "Filter phone numbers by NANP rate center. This filter is only applicable to North American numbers.",
            "schema": {
              "type": "string",
              "example": "CHICAGO HEIGHTS"
            }
          },
          {
            "name": "filter[number_type]",
            "in": "query",
            "description": "Filter phone numbers by number type.",
            "schema": {
              "type": "string",
              "enum": [
                "toll-free"
              ],
              "example": "toll-free"
            }
          },
          {
            "name": "filter[features]",
            "in": "query",
            "description": "Filter if the phone number should be used for voice, fax, mms, sms, emergency.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "sms",
                  "mms",
                  "voice",
                  "fax",
                  "emergency"
                ]
              },
              "example": "voice,sms"
            }
          },
          {
            "name": "filter[minimum_block_size]",
            "in": "query",
            "description": "Filter number blocks by minimum blocks size",
            "schema": {
              "type": "integer",
              "example": 100
            }
          },
          {
            "name": "filter[limit]",
            "in": "query",
            "description": "Limits the number of results.",
            "schema": {
              "type": "integer",
              "example": 100
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListAvailablePhoneNumbersBlockResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "x-latency-category": "responsive"
      }
    },
    "/available_phone_numbers": {
      "get": {
        "summary": "List available phone numbers",
        "operationId": "listAvailablePhoneNumbers",
        "tags": [
          "Number Search"
        ],
        "x-group-parameters": "true",
        "x-endpoint-cost": "heavy",
        "parameters": [
          {
            "name": "filter[phone_number][starts_with]",
            "in": "query",
            "description": "Filter numbers starting with a pattern (exclude NDC from start of this filter if used with `national_destination_code` filter).",
            "schema": {
              "type": "string"
            },
            "examples": {
              "generic": {
                "value": "FREE",
                "summary": "Find numbers starting with the prefix 'FREE'"
              }
            }
          },
          {
            "name": "filter[phone_number][ends_with]",
            "in": "query",
            "description": "Filter numbers ending with a pattern (max length of 4 digits if used with `national_destination_code` filter).",
            "schema": {
              "type": "string"
            },
            "examples": {
              "generic": {
                "value": "CALL",
                "summary": "Find numbers ending with the suffix 'CALL'"
              }
            }
          },
          {
            "name": "filter[phone_number][contains]",
            "in": "query",
            "description": "Filter numbers containing a pattern (must be used with `national_destination_code` filter and only searches within last 4 digits).",
            "schema": {
              "type": "string"
            },
            "examples": {
              "generic": {
                "value": "FOO",
                "summary": "Find numbers that contain the word 'FOO' within the last 4 digits"
              }
            }
          },
          {
            "name": "filter[locality]",
            "in": "query",
            "description": "Filter phone numbers by city.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "US": {
                "value": "Chicago"
              },
              "CA": {
                "value": "Toronto"
              },
              "AU": {
                "value": "Canberra"
              }
            }
          },
          {
            "name": "filter[administrative_area]",
            "in": "query",
            "description": "Filter phone numbers by US state/CA province.",
            "schema": {
              "type": "string",
              "example": "IL"
            }
          },
          {
            "name": "filter[country_code]",
            "in": "query",
            "description": "Filter phone numbers by ISO alpha-2 country code.",
            "schema": {
              "type": "string",
              "example": "US"
            }
          },
          {
            "name": "filter[national_destination_code]",
            "in": "query",
            "description": "Filter by the national destination code of the number. This filter is only applicable to North American numbers.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "US": {
                "value": "312"
              },
              "CA": {
                "value": "437"
              },
              "AU": {
                "value": "0251"
              }
            }
          },
          {
            "name": "filter[rate_center]",
            "in": "query",
            "description": "Filter phone numbers by NANP rate center. This filter is only applicable to North American numbers.",
            "schema": {
              "type": "string",
              "example": "CHICAGO HEIGHTS"
            }
          },
          {
            "name": "filter[phone_number_type]",
            "in": "query",
            "description": "Filter phone numbers by number type.",
            "schema": {
              "type": "string",
              "enum": [
                "local",
                "toll_free",
                "mobile",
                "national",
                "shared_cost",
                "landline"
              ],
              "example": "local"
            }
          },
          {
            "name": "filter[features]",
            "in": "query",
            "description": "Filter if the phone number should be used for voice, fax, mms, sms, emergency.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "sms",
                  "mms",
                  "voice",
                  "fax",
                  "emergency"
                ]
              },
              "example": "voice,sms"
            }
          },
          {
            "name": "filter[limit]",
            "in": "query",
            "description": "Limits the number of results.",
            "schema": {
              "type": "integer",
              "example": 100
            }
          },
          {
            "name": "filter[best_effort]",
            "in": "query",
            "description": "Filter to determine if best effort results should be included. Only available in NANPA countries.",
            "schema": {
              "type": "boolean",
              "example": false
            }
          },
          {
            "name": "filter[quickship]",
            "in": "query",
            "description": "Filter to exclude phone numbers that need additional time after to purchase to receive phone calls. Only available for toll-free numbers.",
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "filter[reservable]",
            "in": "query",
            "description": "Filter to exclude phone numbers that cannot be reserved before purchase.",
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "filter[exclude_held_numbers]",
            "in": "query",
            "description": "Filter to exclude phone numbers that are currently on hold for your account.",
            "schema": {
              "type": "boolean",
              "example": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListAvailablePhoneNumbersResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "x-latency-category": "responsive"
      }
    },
    "/balance": {
      "get": {
        "summary": "Retrieve user balance details",
        "operationId": "getUserBalance",
        "tags": [
          "Billing"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/UserBalanceResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "x-latency-category": "responsive"
      }
    },
    "/billing_groups": {
      "get": {
        "summary": "List all billing groups",
        "operationId": "listBillingGroups",
        "tags": [
          "Billing Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListBillingGroupsResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "x-latency-category": "responsive"
      },
      "post": {
        "summary": "Create a billing group",
        "operationId": "createBillingGroup",
        "tags": [
          "Billing Groups"
        ],
        "requestBody": {
          "description": "New billing group object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewBillingGroup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateBillingGroupResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "x-latency-category": "responsive"
      }
    },
    "/billing_groups/{id}": {
      "delete": {
        "summary": "Delete a billing group",
        "operationId": "deleteBillingGroup",
        "tags": [
          "Billing Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BillingGroupId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeleteBillingGroupResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "x-latency-category": "responsive"
      },
      "get": {
        "summary": "Retrieve a billing group",
        "operationId": "retrieveBillingGroup",
        "tags": [
          "Billing Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BillingGroupId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveBillingGroupResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "x-latency-category": "responsive"
      },
      "patch": {
        "summary": "Update a billing group",
        "operationId": "updateBillingGroup",
        "tags": [
          "Billing Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BillingGroupId"
          }
        ],
        "requestBody": {
          "description": "Update billing group object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBillingGroup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateBillingGroupResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "x-latency-category": "responsive"
      }
    },
    "/business_identities": {
      "get": {
        "summary": "Lists the Business Identities owned by the current user/organization",
        "operationId": "listBusinessIdentities",
        "tags": [
          "Business Identity"
        ],
        "x-group-parameters": "true",
        "x-endpoint-cost": "light",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListBusinessIdentitiesResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "x-latency-category": "responsive"
      },
      "post": {
        "summary": "Creates a Business Identity",
        "description": "Creates a new Business Identity.",
        "operationId": "createBusinessIdentity",
        "tags": [
          "Business Identity"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrUpdateBusinessIdentityRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Business Identity was created."
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "x-latency-category": "responsive"
      }
    },
    "/business_identities/{id}": {
      "delete": {
        "summary": "Delete a Business Identity",
        "description": "Deletes the Business Identity. This action will fail if any verification requests have been made for any associated Display Profile. Please contact support@telnyx.com in case you want to delete a Business Identity in that situation.",
        "operationId": "deleteBusinessIdentity",
        "tags": [
          "Business Identity"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifies the Business Identity",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-group-parameters": "true",
        "x-endpoint-cost": "light",
        "responses": {
          "200": {
            "$ref": "#/components/responses/displayBusinessIdentityResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "x-latency-category": "responsive"
      },
      "get": {
        "summary": "Display the Business Identity",
        "operationId": "displayBusinessIdentity",
        "tags": [
          "Business Identity"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifies the Business Identity",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-group-parameters": "true",
        "x-endpoint-cost": "light",
        "responses": {
          "200": {
            "$ref": "#/components/responses/displayBusinessIdentityResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "x-latency-category": "responsive"
      },
      "patch": {
        "summary": "Update a Business Identity",
        "description": "Update an existing Business Identity.",
        "operationId": "updateBusinessIdentity",
        "tags": [
          "Business Identity"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifies the Business Identity",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrUpdateBusinessIdentityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Business Identity was updated."
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "x-latency-category": "responsive"
      }
    },
    "/call_control_applications": {
      "get": {
        "description": "Return a list of call control applications.",
        "summary": "List call control applications",
        "operationId": "listCallControlApplications",
        "tags": [
          "Call Control Applications"
        ],
        "x-group-parameters": "true",
        "x-endpoint-cost": "medium",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterApplicationName"
          },
          {
            "$ref": "#/components/parameters/FilterOutboundVoiceProfileId"
          },
          {
            "$ref": "#/components/parameters/SortConnection"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListCallControlApplicationsResponse"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "x-latency-category": "interactive"
      },
      "post": {
        "summary": "Create a call control application",
        "description": "Create a call control application.",
        "operationId": "createCallControlApplication",
        "tags": [
          "Call Control Applications"
        ],
        "x-endpoint-cost": "medium",
        "requestBody": {
          "description": "Create call control application request.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCallControlApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/CallControlApplicationResponse"
          },
          "422": {
            "description": "Bad Request"
          }
        },
        "x-latency-category": "interactive"
      }
    },
    "/call_control_applications/{id}": {
      "delete": {
        "description": "Deletes a call control application.",
        "summary": "Delete a call control application",
        "operationId": "deleteCallControlApplication",
        "tags": [
          "Call Control Applications"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifies the resource.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1293384261075731499"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlApplicationResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Bad request"
          }
        },
        "x-latency-category": "interactive"
      },
      "get": {
        "description": "Retrieves the details of an existing call control application.",
        "summary": "Retrieve a call control application",
        "operationId": "retrieveCallControlApplication",
        "tags": [
          "Call Control Applications"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifies the resource.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1293384261075731499"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlApplicationResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Bad request"
          }
        },
        "x-latency-category": "interactive"
      },
      "patch": {
        "summary": "Update a call control application",
        "description": "Updates settings of an existing call control application.",
        "operationId": "updateCallControlApplication",
        "tags": [
          "Call Control Applications"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifies the resource.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1293384261075731499"
            }
          }
        ],
        "requestBody": {
          "description": "Update call control application request.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCallControlApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlApplicationResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Bad request"
          }
        },
        "x-latency-category": "interactive"
      }
    },
    "/call_events": {
      "get": {
        "summary": "List call events",
        "description": "Filters call events by given filter parameters. Events are ordered by `event_timestamp`. If filter for `call_leg_id` or `call_session_id` is not present, it only filters events from the last 24 hours.\n\n**Note**: Only one `filter[event_timestamp]` can be passed.\n",
        "x-latency-category": "responsive",
        "x-group-parameters": "true",
        "operationId": "listCallEvents",
        "tags": [
          "Debugging"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FilterCallLegId"
          },
          {
            "$ref": "#/components/parameters/FilterCallSessionId"
          },
          {
            "$ref": "#/components/parameters/FilterCallEventStatus"
          },
          {
            "$ref": "#/components/parameters/FilterCallEventType"
          },
          {
            "$ref": "#/components/parameters/FilterCallEventTimestampGreaterThan"
          },
          {
            "$ref": "#/components/parameters/FilterCallEventTimestampGreaterThanOrEqualTo"
          },
          {
            "$ref": "#/components/parameters/FilterCallEventTimestampLessThan"
          },
          {
            "$ref": "#/components/parameters/FilterCallEventTimestampLessThanOrEqualTo"
          },
          {
            "$ref": "#/components/parameters/FilterCallEventTimestampEqualTo"
          },
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListCallEventsResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls": {
      "post": {
        "summary": "Dial",
        "description": "Dial a number or SIP URI from a given connection. A successful response will include a `call_leg_id` which can be used to correlate the command with subsequent webhooks.\n\n**Expected Webhooks:**\n\n- `call.initiated`\n- `call.answered` or `call.hangup`\n- `call.machine.detection.ended` if `answering_machine_detection` was requested\n- `call.machine.greeting.ended` if `answering_machine_detection` was set to `detect_beep`, `greeting_end` or `detect_words`\n- `streaming.started` and `streaming.stopped` if `stream_url` was set\n",
        "operationId": "callDial",
        "tags": [
          "Call Commands"
        ],
        "requestBody": {
          "description": "Call request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveCallStatusResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "callbacks": {
          "callInitiated": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/CallInitiatedEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                }
              }
            }
          },
          "callAnswered": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/CallAnsweredEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                }
              }
            }
          },
          "callHangup": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/CallHangupEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                }
              }
            }
          },
          "callMachineDetectionEnded": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/CallMachineDetectionEndedEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                }
              }
            }
          },
          "callMachineGreetingEnded": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/CallMachineGreetingEndedEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                }
              }
            }
          },
          "streamingStarted": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/CallStreamingStartedEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                }
              }
            }
          },
          "streamingStopped": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/CallStreamingStoppedEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                }
              }
            }
          }
        },
        "x-latency-category": "interactive"
      }
    },
    "/calls/register": {
      "post": {
        "summary": "Register the call for Google Verified Calls",
        "description": "Register the call before dialing to show your brand on callee's phone.",
        "operationId": "registerCall",
        "tags": [
          "Register Call"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Register call request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterCallRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RegisterCallResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "x-latency-category": "responsive"
      }
    },
    "/calls/{call_control_id}": {
      "get": {
        "summary": "Retrieve a call status",
        "description": "Returns the status of a call (data is available 10 minutes after call ended).",
        "operationId": "retrieveCallStatus",
        "tags": [
          "Call Information"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveCallStatusResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "x-latency-category": "interactive"
      }
    },
    "/calls/{call_control_id}/actions/answer": {
      "post": {
        "summary": "Answer call",
        "description": "Answer an incoming call. You must issue this command before executing subsequent commands on an incoming call.\n\n**Expected Webhooks:**\n\n- `call.answered`\n- `streaming.started` and `streaming.stopped` if `stream_url` was set",
        "operationId": "callAnswer",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Answer call request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnswerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "callbacks": {
          "callAnswered": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/CallAnsweredEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                }
              }
            }
          },
          "streamingStarted": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/CallStreamingStartedEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                }
              }
            }
          },
          "streamingStopped": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/CallStreamingStoppedEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                }
              }
            }
          }
        },
        "x-latency-category": "interactive"
      }
    },
    "/calls/{call_control_id}/actions/bridge": {
      "post": {
        "summary": "Bridge calls",
        "description": "Bridge two call control calls.\n\n**Expected Webhooks:**\n\n- `call.bridged` for Leg A\n- `call.bridged` for Leg B\n",
        "operationId": "callBridge",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Bridge call request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BridgeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "callbacks": {
          "callBridged": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/CallBridgedEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                }
              }
            }
          }
        },
        "x-latency-category": "interactive"
      }
    },
    "/calls/{call_control_id}/actions/client_state_update": {
      "put": {
        "summary": "Update client state",
        "description": "Updates client state",
        "operationId": "clientStateUpdate",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Updates client state for every subsequent webhook",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientStateUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "callbacks": {},
        "x-latency-category": "interactive"
      }
    },
    "/calls/{call_control_id}/actions/enqueue": {
      "post": {
        "summary": "Enqueue call",
        "description": "Put the call in a queue.",
        "operationId": "callEnqueue",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Enqueue call request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnqueueRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "callbacks": {
          "callEnqueued": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/CallEnqueuedEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                }
              }
            }
          },
          "callLeftQueue": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/CallLeftQueueEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                }
              }
            }
          }
        },
        "x-latency-category": "interactive"
      }
    },
    "/calls/{call_control_id}/actions/fork_start": {
      "post": {
        "summary": "Forking start",
        "description": "Call forking allows you to stream the media from a call to a specific target in realtime. \nThis stream can be used to enable realtime audio analysis to support a \nvariety of use cases, including fraud detection, or the creation of AI-generated audio responses. \nRequests must specify either the `target` attribute or the `rx` and `tx` attributes.\n\n**Expected Webhooks:**\n\n- `call.fork.started`\n- `call.fork.stopped`\n\n**Simple Telnyx RTP Encapsulation Protocol (STREP)**\n\n*Note: This header/encapsulation is not used when the `rx` and `tx`\nparameters have been specified; it only applies when media is forked\nusing the `target` attribute.*\n\nIf the destination for forked media is specified using the \"target\"\nattribute, the RTP will be encapsulated in an extra Telnyx protocol,\nwhich adds a 24 byte header to the RTP payload in each packet. The STREP\nheader includes the Call Control `call_leg_id` for stream\nidentification, along with bits that represent the direction (inbound or\noutbound) of the media. This 24-byte header sits between the UDP header\nand the RTP header.\n\nThe STREP header makes it possible to fork RTP for multiple calls (or\ntwo RTP streams for the same call) to the same IP:port, where the\nstreams can be demultiplexed by your application using the information\nin the header. Of course, it's still possible to ignore this header\ncompletely, for example, if sending forked media for different calls to\ndifferent ports or IP addresses. In this case, simply strip 24 bytes\n(or use the second byte to find the header length) from the received UDP\npayload to get the RTP (RTP header and payload).\n\n```\nSTREP Specification\n\n  0                   1                   2                   3\n  0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n |1 1|Version|L|D|    HeaderLen  |  reserved (2 bytes)           |\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n |       reserved (4 bytes, for UDP ports or anything else)      |\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n |               The call_leg_id                                 |\n |                   from Call Control                           |\n |                       (128 bits / 16 bytes)                   |\n |                           (this is binary data)               |\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n\n 11\n   Static bits 11, always set to 11 to easily distinguish forked media\n   from RTP (10) and T.38 media (usually 00) and SIP (which begins\n   with a capital letter, so begins with bits 01). This is a magic number.\n\n Version\n   Four bits to indicate the version number of the protocol, starting at 0001.\n\n L\n   One bit to represent the leg of the call (A or B).\n   0 represents the A (first) leg of the call.\n   1 represents the B (second) leg of the call.\n\n D\n   One bit to represent the direction of this RTP stream.\n   0 represents media received by Telnyx.\n   1 represents media transmitted by Telnyx.\n\n HeaderLen (1 byte)\n   The length of the header in bytes.\n   Note that this value does not include the length of the payload. The total\n   size of the RTP can be calculated by subtracting the HeaderLen from the UDP\n   length (minus 8 for the UDP header).\n   In version 1, this value will always be 24.\n\n Reserved (6 bytes)\n   Reserved for future use and to make sure that the header is a multiple of 32 bits\n\n Call Leg ID\n   A 128-bit identifier for the call leg.\n   This is the call_leg_id from Call Control.\n```\n",
        "operationId": "callForkStart",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Fork media request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartForkingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "callbacks": {
          "callForkStarted": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/CallForkStartedEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                }
              }
            }
          },
          "callForkStopped": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/CallForkStoppedEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                }
              }
            }
          }
        },
        "x-latency-category": "interactive"
      }
    },
    "/calls/{call_control_id}/actions/fork_stop": {
      "post": {
        "summary": "Forking stop",
        "description": "Stop forking a call.\n\n**Expected Webhooks:**\n\n- `call.fork.stopped`\n",
        "operationId": "callForkStop",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Stop forking media request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StopForkingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "callbacks": {
          "callForkStopped": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/CallForkStoppedEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                }
              }
            }
          }
        },
        "x-latency-category": "interactive"
      }
    },
    "/calls/{call_control_id}/actions/gather_stop": {
      "post": {
        "summary": "Gather stop",
        "description": "Stop current gather.\n\n**Expected Webhooks:**\n\n- `call.gather.ended`\n",
        "operationId": "callGatherStop",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Stop current gather",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StopGatherRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "callbacks": {
          "callGatherEnded": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/CallGatherEndedEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                }
              }
            }
          }
        },
        "x-latency-category": "interactive"
      }
    },
    "/calls/{call_control_id}/actions/gather_using_audio": {
      "post": {
        "summary": "Gather using audio",
        "description": "Play an audio file on the call until the required DTMF signals are gathered to build interactive menus.\n\nYou can pass a list of valid digits along with an 'invalid_audio_url', which will be played back at the beginning of each prompt. Playback will be interrupted when a DTMF signal is received. The [Answer](/docs/api/v2/call-control/Call-Commands#CallControlAnswer) command must be issued before the `gather_using_audio` command.\n\n**Expected Webhooks:**\n\n- `call.playback.started`\n- `call.playback.ended`\n- `call.dtmf.received` (you may receive many of these webhooks)\n- `call.gather.ended`\n",
        "operationId": "callGatherUsingAudio",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Gather using audio request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GatherUsingAudioRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "callbacks": {
          "callPlaybackStarted": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/CallPlaybackStartedEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                }
              }
            }
          },
          "callPlaybackEnded": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/CallPlaybackEndedEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                }
              }
            }
          },
          "callDtmfReceived": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
[...]
