{
  "openapi": "3.0.0",
  "info": {
    "version": "2.0.0",
    "title": "Telnyx API",
    "description": "SIP trunking, SMS, MMS, Call Control and Telephony Data Services.",
    "x-endpoint-cost": "light",
    "license": {
      "name": "MIT"
    },
    "contact": {
      "email": "support@telnyx.com"
    }
  },
  "servers": [
    {
      "url": "https://api.telnyx.com/v2",
      "description": "Version 2.0.0 of the Telnyx API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Access Tokens",
      "description": "Access Tokens creation"
    },
    {
      "name": "Addresses",
      "description": "Operations to work with Address records. Address records are emergency-validated addresses meant to be associated with phone numbers. They are validated for emergency usage purposes at creation time, although you may validate them separately with a custom workflow using the ValidateAddress operation separately. Address records are not usable for physical orders, such as for Telnyx SIM cards, please use UserAddress for that. It is not possible to entirely skip emergency service validation for Address records; if an emergency provider for a phone number rejects the address then it cannot be used on a phone number. To prevent records from getting out of sync, Address records are immutable and cannot be altered once created. If you realize you need to alter an address, a new record must be created with the differing address."
    },
    {
      "name": "Advanced OptIn/OptOut",
      "description": "Advanced OptIn/OptOut"
    },
    {
      "name": "Assistants",
      "description": "Configure AI assistant specifications"
    },
    {
      "name": "Audio",
      "description": "Turn audio into text or text into audio."
    },
    {
      "name": "Audit Logs",
      "description": "Audit log operations."
    },
    {
      "name": "AutoRechargePreferences",
      "description": "V2 Auto Recharge Preferences API"
    },
    {
      "name": "Billing",
      "description": "Billing operations"
    },
    {
      "name": "Billing Groups",
      "description": "Billing groups operations"
    },
    {
      "name": "Brands",
      "description": "Brand operations"
    },
    {
      "name": "Bucket SSL Certificate",
      "description": "SSL certificate operations"
    },
    {
      "name": "Bucket Usage",
      "description": "Bucket Usage operations"
    },
    {
      "name": "Bulk Phone Number Campaigns",
      "description": "Phone number campaign bulk assignment"
    },
    {
      "name": "Bulk Phone Number Operations",
      "description": "Background jobs performed over a batch of phone numbers"
    },
    {
      "name": "Bulk Small Business",
      "description": "Endpoints for creating and checking the status of campaigns, brands, and phone numbers"
    },
    {
      "name": "Call Commands",
      "description": "Call Control command operations"
    },
    {
      "name": "Call Control Applications",
      "description": "Call Control applications operations"
    },
    {
      "name": "Call Information",
      "description": "Call information"
    },
    {
      "name": "Call Recordings",
      "description": "Call Recordings operations."
    },
    {
      "name": "Campaign",
      "description": "Campaign operations"
    },
    {
      "name": "Channel zones",
      "description": "Channel zones"
    },
    {
      "name": "Chat",
      "description": "Generate text with LLMs"
    },
    {
      "name": "Clusters",
      "description": "Identify common themes and patterns in your embedded documents"
    },
    {
      "name": "Conference Commands",
      "description": "Conference command operations"
    },
    {
      "name": "Connections",
      "description": "Connections operations"
    },
    {
      "name": "Country Coverage",
      "description": "Country Coverage"
    },
    {
      "name": "Credential Connections",
      "description": "Credential connection operations"
    },
    {
      "name": "Credentials",
      "description": "Credentials operations"
    },
    {
      "name": "Customer Service Record",
      "description": "Customer Service Record operations"
    },
    {
      "name": "Data Migration",
      "description": "Migrate data from an external provider into Telnyx Cloud Storage"
    },
    {
      "name": "Debugging",
      "description": "Call Control debugging"
    },
    {
      "name": "Detail Records",
      "description": "Detail Records operations"
    },
    {
      "name": "Dialogflow Integration",
      "description": "Dialogflow Connection Operations."
    },
    {
      "name": "Documents",
      "description": "Documents"
    },
    {
      "name": "Dynamic Emergency Addresses",
      "description": "Dynamic emergency address operations"
    },
    {
      "name": "Dynamic Emergency Endpoints",
      "description": "Dynamic Emergency Endpoints"
    },
    {
      "name": "Embeddings",
      "description": "Embed documents and perform text searches"
    },
    {
      "name": "External Connections",
      "description": "External Connections operations"
    },
    {
      "name": "FQDN Connections",
      "description": "FQDN connection operations"
    },
    {
      "name": "FQDNs",
      "description": "FQDN operations"
    },
    {
      "name": "Fine Tuning",
      "description": "Customize LLMs for your unique needs"
    },
    {
      "name": "Global IPs",
      "description": "Global IPs"
    },
    {
      "name": "IP Addresses",
      "description": "IP Address Operations"
    },
    {
      "name": "IP Connections",
      "description": "IP connection operations"
    },
    {
      "name": "IP Ranges",
      "description": "IP Range Operations"
    },
    {
      "name": "IPs",
      "description": "IP operations"
    },
    {
      "name": "Inbound Channels",
      "description": "Inbound channels operations"
    },
    {
      "name": "Integration Secrets",
      "description": "Store and retrieve integration secrets"
    },
    {
      "name": "Inventory Level",
      "description": "Inventory Level"
    },
    {
      "name": "Managed Accounts",
      "description": "Managed Accounts operations"
    },
    {
      "name": "Media Storage API",
      "description": "Media Storage operations"
    },
    {
      "name": "Messages",
      "description": "Messages"
    },
    {
      "name": "Messaging Hosted Number",
      "description": "Manage your messaging hosted numbers"
    },
    {
      "name": "Messaging Profiles",
      "description": "Messaging profiles"
    },
    {
      "name": "Messaging Tollfree Verification",
      "description": "Manage your tollfree verification requests"
    },
    {
      "name": "Messaging URL Domains",
      "description": "Messaging URL Domains"
    },
    {
      "name": "Mobile Network Operators",
      "description": "Mobile network operators operations"
    },
    {
      "name": "Networks",
      "description": "Network operations"
    },
    {
      "name": "Notifications",
      "description": "Notification settings operations"
    },
    {
      "name": "Number Configurations",
      "description": "Configure your phone numbers"
    },
    {
      "name": "Number Lookup",
      "description": "Look up phone number data"
    },
    {
      "name": "Number Portout",
      "description": "Number portout operations"
    },
    {
      "name": "OTA updates",
      "description": "OTA updates operations"
    },
    {
      "name": "Outbound Voice Profiles",
      "description": "Outbound voice profiles operations"
    },
    {
      "name": "Phone Number Blocks Background Jobs",
      "description": "Background jobs performed over a phone-numbers block's phone numbers"
    },
    {
      "name": "Phone Number Campaigns",
      "description": "Phone number campaign assignment"
    },
    {
      "name": "Phone Number Configurations",
      "description": "Configure your phone numbers"
    },
    {
      "name": "Phone Number Order Documents",
      "description": "Number order documents"
    },
    {
      "name": "Phone Number Orders",
      "description": "Number orders"
    },
    {
      "name": "Phone Number Porting",
      "description": "Determining portability of phone numbers"
    },
    {
      "name": "Phone Number Reservations",
      "description": "Number reservations"
    },
    {
      "name": "Phone Number Search",
      "description": "Number search"
    },
    {
      "name": "Porting Orders",
      "description": "Endpoints related to porting orders management."
    },
    {
      "name": "Presigned Object URLs",
      "description": "Presigned object URL operations"
    },
    {
      "name": "Private Wireless Gateways",
      "description": "Private Wireless Gateways operations"
    },
    {
      "name": "Programmable Fax Applications",
      "description": "Fax Applications operations"
    },
    {
      "name": "Programmable Fax Commands",
      "description": "Programmable fax command operations"
    },
    {
      "name": "Public Internet Gateways",
      "description": "Public Internet Gateway operations"
    },
    {
      "name": "Push Credentials",
      "description": "Mobile push credential management"
    },
    {
      "name": "Queue Commands",
      "description": "Queue commands operations"
    },
    {
      "name": "RCS messaging",
      "description": "Send RCS messages"
    },
    {
      "name": "Regions",
      "description": "Regions"
    },
    {
      "name": "Regions",
      "description": "Regions for wireless services"
    },
    {
      "name": "Regulatory Requirements",
      "description": "Regulatory Requirements"
    },
    {
      "name": "Reporting",
      "description": "Wireless reporting operations"
    },
    {
      "name": "Reports",
      "description": "Ledger billing reports"
    },
    {
      "name": "Requirement Groups",
      "description": "Requirement Groups"
    },
    {
      "name": "Requirement Types",
      "description": "Types of requirements for international numbers and porting orders"
    },
    {
      "name": "Requirements",
      "description": "Requirements for international numbers and porting orders"
    },
    {
      "name": "Room Compositions",
      "description": "Rooms Compositions operations."
    },
    {
      "name": "Room Participants",
      "description": "Rooms Participants operations."
    },
    {
      "name": "Room Recordings",
      "description": "Rooms Recordings operations."
    },
    {
      "name": "Room Sessions",
      "description": "Rooms Sessions operations."
    },
    {
      "name": "Rooms",
      "description": "Rooms operations."
    },
    {
      "name": "Rooms Client Tokens",
      "description": "Rooms Client Tokens operations."
    },
    {
      "name": "SIM Card Actions",
      "description": "View SIM card actions, their progress and timestamps using the SIM Card Actions API"
    },
    {
      "name": "SIM Card Group Actions",
      "description": "SIM Card Group actions operations"
    },
    {
      "name": "SIM Card Groups",
      "description": "SIM Card Groups operations"
    },
    {
      "name": "SIM Card Orders",
      "description": "SIM Card Orders operations"
    },
    {
      "name": "SIM Cards",
      "description": "SIM Cards operations"
    },
    {
      "name": "SIPREC Connectors",
      "description": "SIPREC connectors configuration."
    },
    {
      "name": "Short Codes",
      "description": "Short codes"
    },
    {
      "name": "TeXML Applications",
      "description": "TeXML Applications operations"
    },
    {
      "name": "TeXML REST Commands",
      "description": "TeXML REST Commands"
    },
    {
      "name": "TeXML Twilio-compatible REST Commands",
      "description": "TeXML Twilio-compatible REST Commands"
    },
    {
      "name": "Usage Reports (BETA)",
      "description": "Usage data reporting across Telnyx products"
    },
    {
      "name": "User Tags",
      "description": "User-defined tags for Telnyx resources"
    },
    {
      "name": "UserAddresses",
      "description": "Operations for working with UserAddress records. UserAddress records are stored addresses that users can use for non-emergency-calling purposes, such as for shipping addresses for orders of wireless SIMs (or other physical items). They cannot be used for emergency calling and are distinct from Address records, which are used on phone numbers."
    },
    {
      "name": "Verified Numbers",
      "description": "Verified Numbers operations"
    },
    {
      "name": "Verify",
      "description": "Two factor authentication API"
    },
    {
      "name": "Virtual Cross Connects",
      "description": "Virtual Cross Connect operations"
    },
    {
      "name": "Voicemail",
      "description": "Voicemail API"
    },
    {
      "name": "Webhooks",
      "description": "Webhooks operations"
    },
    {
      "name": "WireGuard Interfaces",
      "description": "WireGuard Interface operations"
    },
    {
      "name": "Wireless",
      "description": "Wireless operations"
    }
  ],
  "paths": {
    "/": {
      "$ref": "paths.json"
    },
    "/access_ip_address": {
      "$ref": "paths/access_ip_address.json"
    },
    "/access_ip_address/{access_ip_address_id}": {
      "$ref": "paths/access_ip_address_{access_ip_address_id}.json"
    },
    "/access_ip_ranges": {
      "$ref": "paths/access_ip_ranges.json"
    },
    "/access_ip_ranges/{access_ip_range_id}": {
      "$ref": "paths/access_ip_ranges_{access_ip_range_id}.json"
    },
    "/actions/purchase/esims": {
      "$ref": "paths/actions_purchase_esims.json"
    },
    "/actions/register/sim_cards": {
      "$ref": "paths/actions_register_sim_cards.json"
    },
    "/addresses": {
      "$ref": "paths/addresses.json"
    },
    "/addresses/actions/validate": {
      "$ref": "paths/addresses_actions_validate.json"
    },
    "/addresses/{id}": {
      "$ref": "paths/addresses_{id}.json"
    },
    "/addresses/{id}/actions/accept_suggestions": {
      "$ref": "paths/addresses_{id}_actions_accept_suggestions.json"
    },
    "/advanced_orders": {
      "$ref": "paths/advanced_orders.json"
    },
    "/advanced_orders/{order_id}": {
      "$ref": "paths/advanced_orders_{order_id}.json"
    },
    "/ai/assistants": {
      "$ref": "paths/ai_assistants.json"
    },
    "/ai/assistants/{assistant_id}": {
      "$ref": "paths/ai_assistants_{assistant_id}.json"
    },
    "/ai/audio/transcriptions": {
      "$ref": "paths/ai_audio_transcriptions.json"
    },
    "/ai/chat/completions": {
      "$ref": "paths/ai_chat_completions.json"
    },
    "/ai/clusters": {
      "$ref": "paths/ai_clusters.json"
    },
    "/ai/clusters/{task_id}": {
      "$ref": "paths/ai_clusters_{task_id}.json"
    },
    "/ai/clusters/{task_id}/graph": {
      "$ref": "paths/ai_clusters_{task_id}_graph.json"
    },
    "/ai/embeddings": {
      "$ref": "paths/ai_embeddings.json"
    },
    "/ai/embeddings/buckets": {
      "$ref": "paths/ai_embeddings_buckets.json"
    },
    "/ai/embeddings/buckets/{bucket_name}": {
      "$ref": "paths/ai_embeddings_buckets_{bucket_name}.json"
    },
    "/ai/embeddings/similarity-search": {
      "$ref": "paths/ai_embeddings_similarity-search.json"
    },
    "/ai/embeddings/{task_id}": {
      "$ref": "paths/ai_embeddings_{task_id}.json"
    },
    "/ai/fine_tuning/jobs": {
      "$ref": "paths/ai_fine_tuning_jobs.json"
    },
    "/ai/fine_tuning/jobs/{job_id}": {
      "$ref": "paths/ai_fine_tuning_jobs_{job_id}.json"
    },
    "/ai/fine_tuning/jobs/{job_id}/cancel": {
      "$ref": "paths/ai_fine_tuning_jobs_{job_id}_cancel.json"
    },
    "/ai/models": {
      "$ref": "paths/ai_models.json"
    },
    "/ai/summarize": {
      "$ref": "paths/ai_summarize.json"
    },
    "/audit_events": {
      "$ref": "paths/audit_events.json"
    },
    "/authentication_providers": {
      "$ref": "paths/authentication_providers.json"
    },
    "/authentication_providers/{id}": {
      "$ref": "paths/authentication_providers_{id}.json"
    },
    "/available_phone_number_blocks": {
      "$ref": "paths/available_phone_number_blocks.json"
    },
    "/available_phone_numbers": {
      "$ref": "paths/available_phone_numbers.json"
    },
    "/balance": {
      "$ref": "paths/balance.json"
    },
    "/billing_groups": {
      "$ref": "paths/billing_groups.json"
    },
    "/billing_groups/{id}": {
      "$ref": "paths/billing_groups_{id}.json"
    },
    "/brand": {
      "$ref": "paths/brand.json"
    },
    "/brand/feedback/{brandId}": {
      "$ref": "paths/brand_feedback_{brandId}.json"
    },
    "/brand/{brandId}": {
      "$ref": "paths/brand_{brandId}.json"
    },
    "/brand/{brandId}/2faEmail": {
      "$ref": "paths/brand_{brandId}_2faEmail.json"
    },
    "/brand/{brandId}/externalVetting": {
      "$ref": "paths/brand_{brandId}_externalVetting.json"
    },
    "/brand/{brandId}/revet": {
      "$ref": "paths/brand_{brandId}_revet.json"
    },
    "/bulk_sim_card_actions": {
      "$ref": "paths/bulk_sim_card_actions.json"
    },
    "/bulk_sim_card_actions/{id}": {
      "$ref": "paths/bulk_sim_card_actions_{id}.json"
    },
    "/call_control_applications": {
      "$ref": "paths/call_control_applications.json"
    },
    "/call_control_applications/{id}": {
      "$ref": "paths/call_control_applications_{id}.json"
    },
    "/call_events": {
      "$ref": "paths/call_events.json"
    },
    "/calls": {
      "$ref": "paths/calls.json"
    },
    "/calls/{call_control_id}": {
      "$ref": "paths/calls_{call_control_id}.json"
    },
    "/calls/{call_control_id}/actions/ai_assistant_start": {
      "$ref": "paths/calls_{call_control_id}_actions_ai_assistant_start.json"
    },
    "/calls/{call_control_id}/actions/ai_assistant_stop": {
      "$ref": "paths/calls_{call_control_id}_actions_ai_assistant_stop.json"
    },
    "/calls/{call_control_id}/actions/answer": {
      "$ref": "paths/calls_{call_control_id}_actions_answer.json"
    },
    "/calls/{call_control_id}/actions/bridge": {
      "$ref": "paths/calls_{call_control_id}_actions_bridge.json"
    },
    "/calls/{call_control_id}/actions/client_state_update": {
      "$ref": "paths/calls_{call_control_id}_actions_client_state_update.json"
    },
    "/calls/{call_control_id}/actions/enqueue": {
      "$ref": "paths/calls_{call_control_id}_actions_enqueue.json"
    },
    "/calls/{call_control_id}/actions/fork_start": {
      "$ref": "paths/calls_{call_control_id}_actions_fork_start.json"
    },
    "/calls/{call_control_id}/actions/fork_stop": {
      "$ref": "paths/calls_{call_control_id}_actions_fork_stop.json"
    },
    "/calls/{call_control_id}/actions/gather": {
      "$ref": "paths/calls_{call_control_id}_actions_gather.json"
    },
    "/calls/{call_control_id}/actions/gather_stop": {
      "$ref": "paths/calls_{call_control_id}_actions_gather_stop.json"
    },
    "/calls/{call_control_id}/actions/gather_using_ai": {
      "$ref": "paths/calls_{call_control_id}_actions_gather_using_ai.json"
    },
    "/calls/{call_control_id}/actions/gather_using_audio": {
      "$ref": "paths/calls_{call_control_id}_actions_gather_using_audio.json"
    },
    "/calls/{call_control_id}/actions/gather_using_speak": {
      "$ref": "paths/calls_{call_control_id}_actions_gather_using_speak.json"
    },
    "/calls/{call_control_id}/actions/hangup": {
      "$ref": "paths/calls_{call_control_id}_actions_hangup.json"
    },
    "/calls/{call_control_id}/actions/leave_queue": {
      "$ref": "paths/calls_{call_control_id}_actions_leave_queue.json"
    },
    "/calls/{call_control_id}/actions/playback_start": {
      "$ref": "paths/calls_{call_control_id}_actions_playback_start.json"
    },
    "/calls/{call_control_id}/actions/playback_stop": {
      "$ref": "paths/calls_{call_control_id}_actions_playback_stop.json"
    },
    "/calls/{call_control_id}/actions/record_pause": {
      "$ref": "paths/calls_{call_control_id}_actions_record_pause.json"
    },
    "/calls/{call_control_id}/actions/record_resume": {
      "$ref": "paths/calls_{call_control_id}_actions_record_resume.json"
    },
    "/calls/{call_control_id}/actions/record_start": {
      "$ref": "paths/calls_{call_control_id}_actions_record_start.json"
    },
    "/calls/{call_control_id}/actions/record_stop": {
      "$ref": "paths/calls_{call_control_id}_actions_record_stop.json"
    },
    "/calls/{call_control_id}/actions/refer": {
      "$ref": "paths/calls_{call_control_id}_actions_refer.json"
    },
    "/calls/{call_control_id}/actions/reject": {
      "$ref": "paths/calls_{call_control_id}_actions_reject.json"
    },
    "/calls/{call_control_id}/actions/send_dtmf": {
      "$ref": "paths/calls_{call_control_id}_actions_send_dtmf.json"
    },
    "/calls/{call_control_id}/actions/send_sip_info": {
      "$ref": "paths/calls_{call_control_id}_actions_send_sip_info.json"
    },
    "/calls/{call_control_id}/actions/siprec_start": {
      "$ref": "paths/calls_{call_control_id}_actions_siprec_start.json"
    },
    "/calls/{call_control_id}/actions/siprec_stop": {
      "$ref": "paths/calls_{call_control_id}_actions_siprec_stop.json"
    },
    "/calls/{call_control_id}/actions/speak": {
      "$ref": "paths/calls_{call_control_id}_actions_speak.json"
    },
    "/calls/{call_control_id}/actions/streaming_start": {
      "$ref": "paths/calls_{call_control_id}_actions_streaming_start.json"
    },
    "/calls/{call_control_id}/actions/streaming_stop": {
      "$ref": "paths/calls_{call_control_id}_actions_streaming_stop.json"
    },
    "/calls/{call_control_id}/actions/suppression_start": {
      "$ref": "paths/calls_{call_control_id}_actions_suppression_start.json"
    },
    "/calls/{call_control_id}/actions/suppression_stop": {
      "$ref": "paths/calls_{call_control_id}_actions_suppression_stop.json"
    },
    "/calls/{call_control_id}/actions/transcription_start": {
      "$ref": "paths/calls_{call_control_id}_actions_transcription_start.json"
    },
    "/calls/{call_control_id}/actions/transcription_stop": {
      "$ref": "paths/calls_{call_control_id}_actions_transcription_stop.json"
    },
    "/calls/{call_control_id}/actions/transfer": {
      "$ref": "paths/calls_{call_control_id}_actions_transfer.json"
    },
    "/campaign": {
      "$ref": "paths/campaign.json"
    },
    "/campaign/acceptSharing/{campaignId}": {
      "$ref": "paths/campaign_acceptSharing_{campaignId}.json"
    },
    "/campaign/usecase/cost": {
      "$ref": "paths/campaign_usecase_cost.json"
    },
    "/campaign/{campaignId}": {
      "$ref": "paths/campaign_{campaignId}.json"
    },
    "/campaign/{campaignId}/mnoMetadata": {
      "$ref": "paths/campaign_{campaignId}_mnoMetadata.json"
    },
    "/campaign/{campaignId}/operationStatus": {
      "$ref": "paths/campaign_{campaignId}_operationStatus.json"
    },
    "/campaign/{campaignId}/osr/attributes": {
      "$ref": "paths/campaign_{campaignId}_osr_attributes.json"
    },
    "/campaign/{campaignId}/sharing": {
      "$ref": "paths/campaign_{campaignId}_sharing.json"
    },
    "/campaignBuilder": {
      "$ref": "paths/campaignBuilder.json"
    },
    "/campaignBuilder/brand/{brandId}/usecase/{usecase}": {
      "$ref": "paths/campaignBuilder_brand_{brandId}_usecase_{usecase}.json"
    },
    "/channel_zones": {
      "$ref": "paths/channel_zones.json"
    },
    "/channel_zones/{channel_zone_id}": {
      "$ref": "paths/channel_zones_{channel_zone_id}.json"
    },
    "/channel_zones/{channel_zone_id}/channel_zone_phone_numbers": {
      "$ref": "paths/channel_zones_{channel_zone_id}_channel_zone_phone_numbers.json"
    },
    "/channel_zones/{channel_zone_id}/channel_zone_phone_numbers/{phone_number}": {
      "$ref": "paths/channel_zones_{channel_zone_id}_channel_zone_phone_numbers_{phone_number}.json"
    },
    "/comments": {
      "$ref": "paths/comments.json"
    },
    "/comments/{id}": {
      "$ref": "paths/comments_{id}.json"
    },
    "/comments/{id}/read": {
      "$ref": "paths/comments_{id}_read.json"
    },
    "/conferences": {
      "$ref": "paths/conferences.json"
    },
    "/conferences/{conference_id}/participants": {
      "$ref": "paths/conferences_{conference_id}_participants.json"
    },
    "/conferences/{id}": {
      "$ref": "paths/conferences_{id}.json"
    },
    "/conferences/{id}/actions/hold": {
      "$ref": "paths/conferences_{id}_actions_hold.json"
    },
    "/conferences/{id}/actions/join": {
      "$ref": "paths/conferences_{id}_actions_join.json"
    },
    "/conferences/{id}/actions/leave": {
      "$ref": "paths/conferences_{id}_actions_leave.json"
    },
    "/conferences/{id}/actions/mute": {
      "$ref": "paths/conferences_{id}_actions_mute.json"
    },
    "/conferences/{id}/actions/play": {
      "$ref": "paths/conferences_{id}_actions_play.json"
    },
    "/conferences/{id}/actions/record_pause": {
      "$ref": "paths/conferences_{id}_actions_record_pause.json"
    },
    "/conferences/{id}/actions/record_resume": {
      "$ref": "paths/conferences_{id}_actions_record_resume.json"
    },
    "/conferences/{id}/actions/record_start": {
      "$ref": "paths/conferences_{id}_actions_record_start.json"
    },
    "/conferences/{id}/actions/record_stop": {
      "$ref": "paths/conferences_{id}_actions_record_stop.json"
    },
    "/conferences/{id}/actions/speak": {
      "$ref": "paths/conferences_{id}_actions_speak.json"
    },
    "/conferences/{id}/actions/stop": {
      "$ref": "paths/conferences_{id}_actions_stop.json"
    },
    "/conferences/{id}/actions/unhold": {
      "$ref": "paths/conferences_{id}_actions_unhold.json"
    },
    "/conferences/{id}/actions/unmute": {
      "$ref": "paths/conferences_{id}_actions_unmute.json"
    },
    "/conferences/{id}/actions/update": {
      "$ref": "paths/conferences_{id}_actions_update.json"
    },
    "/connections": {
      "$ref": "paths/connections.json"
    },
    "/connections/{connection_id}/active_calls": {
      "$ref": "paths/connections_{connection_id}_active_calls.json"
    },
    "/connections/{id}": {
      "$ref": "paths/connections_{id}.json"
    },
    "/country_coverage": {
      "$ref": "paths/country_coverage.json"
    },
    "/country_coverage/countries/{country_code}": {
      "$ref": "paths/country_coverage_countries_{country_code}.json"
    },
    "/credential_connections": {
      "$ref": "paths/credential_connections.json"
    },
    "/credential_connections/{id}": {
      "$ref": "paths/credential_connections_{id}.json"
    },
    "/credential_connections/{id}/actions/check_registration_status": {
      "$ref": "paths/credential_connections_{id}_actions_check_registration_status.json"
    },
    "/custom_storage_credentials/{connection_id}": {
      "$ref": "paths/custom_storage_credentials_{connection_id}.json"
    },
    "/customer_service_records": {
      "$ref": "paths/customer_service_records.json"
    },
    "/customer_service_records/phone_number_coverages": {
      "$ref": "paths/customer_service_records_phone_number_coverages.json"
    },
    "/customer_service_records/{customer_service_record_id}": {
      "$ref": "paths/customer_service_records_{customer_service_record_id}.json"
    },
    "/detail_records": {
      "$ref": "paths/detail_records.json"
    },
    "/dialogflow_connections/{connection_id}": {
      "$ref": "paths/dialogflow_connections_{connection_id}.json"
    },
    "/document_links": {
      "$ref": "paths/document_links.json"
    },
    "/documents": {
      "$ref": "paths/documents.json"
    },
    "/documents/{id}": {
      "$ref": "paths/documents_{id}.json"
    },
    "/documents/{id}/download": {
      "$ref": "paths/documents_{id}_download.json"
    },
    "/dynamic_emergency_addresses": {
      "$ref": "paths/dynamic_emergency_addresses.json"
    },
    "/dynamic_emergency_addresses/{id}": {
      "$ref": "paths/dynamic_emergency_addresses_{id}.json"
    },
    "/dynamic_emergency_endpoints": {
      "$ref": "paths/dynamic_emergency_endpoints.json"
    },
    "/dynamic_emergency_endpoints/{id}": {
      "$ref": "paths/dynamic_emergency_endpoints_{id}.json"
    },
    "/enum/{endpoint}": {
      "$ref": "paths/enum_{endpoint}.json"
    },
    "/external_connections": {
      "$ref": "paths/external_connections.json"
    },
    "/external_connections/log_messages": {
      "$ref": "paths/external_connections_log_messages.json"
    },
    "/external_connections/log_messages/{id}": {
      "$ref": "paths/external_connections_log_messages_{id}.json"
    },
    "/external_connections/{id}": {
      "$ref": "paths/external_connections_{id}.json"
    },
    "/external_connections/{id}/civic_addresses": {
      "$ref": "paths/external_connections_{id}_civic_addresses.json"
    },
    "/external_connections/{id}/civic_addresses/{address_id}": {
      "$ref": "paths/external_connections_{id}_civic_addresses_{address_id}.json"
    },
    "/external_connections/{id}/locations/{location_id}": {
      "$ref": "paths/external_connections_{id}_locations_{location_id}.json"
    },
    "/external_connections/{id}/phone_numbers": {
      "$ref": "paths/external_connections_{id}_phone_numbers.json"
    },
    "/external_connections/{id}/phone_numbers/{phone_number_id}": {
      "$ref": "paths/external_connections_{id}_phone_numbers_{phone_number_id}.json"
    },
    "/external_connections/{id}/releases": {
      "$ref": "paths/external_connections_{id}_releases.json"
    },
    "/external_connections/{id}/releases/{release_id}": {
      "$ref": "paths/external_connections_{id}_releases_{release_id}.json"
    },
    "/external_connections/{id}/uploads": {
      "$ref": "paths/external_connections_{id}_uploads.json"
    },
    "/external_connections/{id}/uploads/refresh": {
      "$ref": "paths/external_connections_{id}_uploads_refresh.json"
    },
    "/external_connections/{id}/uploads/status": {
      "$ref": "paths/external_connections_{id}_uploads_status.json"
    },
    "/external_connections/{id}/uploads/{ticket_id}": {
      "$ref": "paths/external_connections_{id}_uploads_{ticket_id}.json"
    },
    "/external_connections/{id}/uploads/{ticket_id}/retry": {
      "$ref": "paths/external_connections_{id}_uploads_{ticket_id}_retry.json"
    },
    "/fax_applications": {
      "$ref": "paths/fax_applications.json"
    },
    "/fax_applications/{id}": {
      "$ref": "paths/fax_applications_{id}.json"
    },
    "/faxes": {
      "$ref": "paths/faxes.json"
    },
    "/faxes/{id}": {
      "$ref": "paths/faxes_{id}.json"
    },
    "/faxes/{id}/actions/cancel": {
      "$ref": "paths/faxes_{id}_actions_cancel.json"
    },
    "/faxes/{id}/actions/refresh": {
      "$ref": "paths/faxes_{id}_actions_refresh.json"
    },
    "/fqdn_connections": {
      "$ref": "paths/fqdn_connections.json"
    },
    "/fqdn_connections/{id}": {
      "$ref": "paths/fqdn_connections_{id}.json"
    },
    "/fqdns": {
      "$ref": "paths/fqdns.json"
    },
    "/fqdns/{id}": {
      "$ref": "paths/fqdns_{id}.json"
    },
    "/global_ip_allowed_ports": {
      "$ref": "paths/global_ip_allowed_ports.json"
    },
    "/global_ip_assignment_health": {
      "$ref": "paths/global_ip_assignment_health.json"
    },
    "/global_ip_assignments": {
      "$ref": "paths/global_ip_assignments.json"
    },
    "/global_ip_assignments/{id}": {
      "$ref": "paths/global_ip_assignments_{id}.json"
    },
    "/global_ip_assignments_usage": {
      "$ref": "paths/global_ip_assignments_usage.json"
    },
    "/global_ip_health_check_types": {
      "$ref": "paths/global_ip_health_check_types.json"
    },
    "/global_ip_health_checks": {
      "$ref": "paths/global_ip_health_checks.json"
    },
    "/global_ip_health_checks/{id}": {
      "$ref": "paths/global_ip_health_checks_{id}.json"
    },
    "/global_ip_latency": {
      "$ref": "paths/global_ip_latency.json"
    },
    "/global_ip_protocols": {
      "$ref": "paths/global_ip_protocols.json"
    },
    "/global_ip_usage": {
      "$ref": "paths/global_ip_usage.json"
    },
    "/global_ips": {
      "$ref": "paths/global_ips.json"
    },
    "/global_ips/{id}": {
      "$ref": "paths/global_ips_{id}.json"
    },
    "/integration_secrets": {
      "$ref": "paths/integration_secrets.json"
    },
    "/integration_secrets/{id}": {
      "$ref": "paths/integration_secrets_{id}.json"
    },
    "/inventory_coverage": {
      "$ref": "paths/inventory_coverage.json"
    },
    "/ip_connections": {
      "$ref": "paths/ip_connections.json"
    },
    "/ip_connections/{id}": {
      "$ref": "paths/ip_connections_{id}.json"
    },
    "/ips": {
      "$ref": "paths/ips.json"
    },
    "/ips/{id}": {
      "$ref": "paths/ips_{id}.json"
    },
    "/ledger_billing_group_reports": {
      "$ref": "paths/ledger_billing_group_reports.json"
    },
    "/ledger_billing_group_reports/{id}": {
      "$ref": "paths/ledger_billing_group_reports_{id}.json"
    },
    "/managed_accounts": {
      "$ref": "paths/managed_accounts.json"
    },
    "/managed_accounts/allocatable_global_outbound_channels": {
      "$ref": "paths/managed_accounts_allocatable_global_outbound_channels.json"
    },
    "/managed_accounts/{id}": {
      "$ref": "paths/managed_accounts_{id}.json"
    },
    "/managed_accounts/{id}/actions/disable": {
      "$ref": "paths/managed_accounts_{id}_actions_disable.json"
    },
    "/managed_accounts/{id}/actions/enable": {
      "$ref": "paths/managed_accounts_{id}_actions_enable.json"
    },
    "/managed_accounts/{id}/update_global_channel_limit": {
      "$ref": "paths/managed_accounts_{id}_update_global_channel_limit.json"
    },
    "/media": {
      "$ref": "paths/media.json"
    },
    "/media/{media_name}": {
      "$ref": "paths/media_{media_name}.json"
    },
    "/media/{media_name}/download": {
      "$ref": "paths/media_{media_name}_download.json"
    },
    "/messages": {
      "$ref": "paths/messages.json"
    },
    "/messages/group_mms": {
      "$ref": "paths/messages_group_mms.json"
    },
    "/messages/long_code": {
      "$ref": "paths/messages_long_code.json"
    },
    "/messages/number_pool": {
      "$ref": "paths/messages_number_pool.json"
    },
    "/messages/short_code": {
      "$ref": "paths/messages_short_code.json"
    },
    "/messages/{id}": {
      "$ref": "paths/messages_{id}.json"
    },
    "/messaging_hosted_number_orders": {
      "$ref": "paths/messaging_hosted_number_orders.json"
    },
    "/messaging_hosted_number_orders/{id}": {
      "$ref": "paths/messaging_hosted_number_orders_{id}.json"
    },
    "/messaging_hosted_number_orders/{id}/actions/file_upload": {
      "$ref": "paths/messaging_hosted_number_orders_{id}_actions_file_upload.json"
    },
    "/messaging_hosted_numbers/{id}": {
      "$ref": "paths/messaging_hosted_numbers_{id}.json"
    },
    "/messaging_numbers_bulk_updates": {
      "$ref": "paths/messaging_numbers_bulk_updates.json"
    },
    "/messaging_numbers_bulk_updates/{order_id}": {
      "$ref": "paths/messaging_numbers_bulk_updates_{order_id}.json"
    },
    "/messaging_profile_metrics": {
      "$ref": "paths/messaging_profile_metrics.json"
    },
    "/messaging_profiles": {
      "$ref": "paths/messaging_profiles.json"
    },
    "/messaging_profiles/{id}": {
      "$ref": "paths/messaging_profiles_{id}.json"
    },
    "/messaging_profiles/{id}/metrics": {
      "$ref": "paths/messaging_profiles_{id}_metrics.json"
    },
    "/messaging_profiles/{id}/phone_numbers": {
      "$ref": "paths/messaging_profiles_{id}_phone_numbers.json"
    },
    "/messaging_profiles/{id}/short_codes": {
      "$ref": "paths/messaging_profiles_{id}_short_codes.json"
    },
    "/messaging_profiles/{profile_id}/autoresp_configs": {
      "$ref": "paths/messaging_profiles_{profile_id}_autoresp_configs.json"
    },
    "/messaging_profiles/{profile_id}/autoresp_configs/{autoresp_cfg_id}": {
      "$ref": "paths/messaging_profiles_{profile_id}_autoresp_configs_{autoresp_cfg_id}.json"
    },
    "/messaging_tollfree/verification/requests": {
      "$ref": "paths/messaging_tollfree_verification_requests.json"
    },
    "/messaging_tollfree/verification/requests/{id}": {
      "$ref": "paths/messaging_tollfree_verification_requests_{id}.json"
    },
    "/messaging_url_domains": {
      "$ref": "paths/messaging_url_domains.json"
    },
    "/messsages/rcs": {
      "$ref": "paths/messsages_rcs.json"
    },
    "/mobile_network_operators": {
      "$ref": "paths/mobile_network_operators.json"
    },
    "/mobile_push_credentials": {
      "$ref": "paths/mobile_push_credentials.json"
    },
    "/mobile_push_credentials/{push_credential_id}": {
      "$ref": "paths/mobile_push_credentials_{push_credential_id}.json"
    },
    "/network_coverage": {
      "$ref": "paths/network_coverage.json"
    },
    "/networks": {
      "$ref": "paths/networks.json"
    },
    "/networks/{id}": {
      "$ref": "paths/networks_{id}.json"
    },
    "/networks/{id}/default_gateway": {
      "$ref": "paths/networks_{id}_default_gateway.json"
    },
    "/networks/{id}/network_interfaces": {
      "$ref": "paths/networks_{id}_network_interfaces.json"
    },
    "/notification_channels": {
      "$ref": "paths/notification_channels.json"
    },
    "/notification_channels/{id}": {
      "$ref": "paths/notification_channels_{id}.json"
    },
    "/notification_event_conditions": {
      "$ref": "paths/notification_event_conditions.json"
    },
    "/notification_events": {
      "$ref": "paths/notification_events.json"
    },
    "/notification_profiles": {
      "$ref": "paths/notification_profiles.json"
    },
    "/notification_profiles/{id}": {
      "$ref": "paths/notification_profiles_{id}.json"
    },
    "/notification_settings": {
      "$ref": "paths/notification_settings.json"
    },
    "/notification_settings/{id}": {
      "$ref": "paths/notification_settings_{id}.json"
    },
    "/number_block_orders": {
      "$ref": "paths/number_block_orders.json"
    },
    "/number_block_orders/{number_block_order_id}": {
      "$ref": "paths/number_block_orders_{number_block_order_id}.json"
    },
    "/number_lookup/{phone_number}": {
      "$ref": "paths/number_lookup_{phone_number}.json"
    },
    "/number_order_phone_numbers": {
      "$ref": "paths/number_order_phone_numbers.json"
    },
    "/number_order_phone_numbers/{id}/requirement_group": {
      "$ref": "paths/number_order_phone_numbers_{id}_requirement_group.json"
    },
    "/number_order_phone_numbers/{number_order_phone_number_id}": {
      "$ref": "paths/number_order_phone_numbers_{number_order_phone_number_id}.json"
    },
    "/number_orders": {
      "$ref": "paths/number_orders.json"
    },
    "/number_orders/{number_order_id}": {
      "$ref": "paths/number_orders_{number_order_id}.json"
    },
    "/number_reservations": {
      "$ref": "paths/number_reservations.json"
    },
    "/number_reservations/{number_reservation_id}": {
      "$ref": "paths/number_reservations_{number_reservation_id}.json"
    },
    "/number_reservations/{number_reservation_id}/actions/extend": {
      "$ref": "paths/number_reservations_{number_reservation_id}_actions_extend.json"
    },
    "/numbers_features": {
      "$ref": "paths/numbers_features.json"
    },
    "/operator_connect/actions/refresh": {
      "$ref": "paths/operator_connect_actions_refresh.json"
    },
    "/ota_updates": {
      "$ref": "paths/ota_updates.json"
    },
    "/ota_updates/{id}": {
      "$ref": "paths/ota_updates_{id}.json"
    },
    "/outbound_voice_profiles": {
      "$ref": "paths/outbound_voice_profiles.json"
    },
    "/outbound_voice_profiles/{id}": {
      "$ref": "paths/outbound_voice_profiles_{id}.json"
    },
    "/partnerCampaign/sharedByMe": {
      "$ref": "paths/partnerCampaign_sharedByMe.json"
    },
    "/partnerCampaign/{campaignId}/sharing": {
      "$ref": "paths/partnerCampaign_{campaignId}_sharing.json"
    },
    "/partner_campaigns": {
      "$ref": "paths/partner_campaigns.json"
    },
    "/partner_campaigns/{campaignId}": {
      "$ref": "paths/partner_campaigns_{campaignId}.json"
    },
    "/payment/auto_recharge_prefs": {
      "$ref": "paths/payment_auto_recharge_prefs.json"
    },
    "/phoneNumberAssignmentByProfile": {
      "$ref": "paths/phoneNumberAssignmentByProfile.json"
    },
    "/phoneNumberAssignmentByProfile/{taskId}": {
      "$ref": "paths/phoneNumberAssignmentByProfile_{taskId}.json"
    },
    "/phoneNumberAssignmentByProfile/{taskId}/phoneNumbers": {
      "$ref": "paths/phoneNumberAssignmentByProfile_{taskId}_phoneNumbers.json"
    },
    "/phone_number_blocks/jobs": {
      "$ref": "paths/phone_number_blocks_jobs.json"
    },
    "/phone_number_blocks/jobs/delete_phone_number_block": {
      "$ref": "paths/phone_number_blocks_jobs_delete_phone_number_block.json"
    },
    "/phone_number_blocks/jobs/{id}": {
      "$ref": "paths/phone_number_blocks_jobs_{id}.json"
    },
    "/phone_number_campaigns": {
      "$ref": "paths/phone_number_campaigns.json"
    },
    "/phone_number_campaigns/{phoneNumber}": {
      "$ref": "paths/phone_number_campaigns_{phoneNumber}.json"
    },
    "/phone_numbers": {
      "$ref": "paths/phone_numbers.json"
    },
    "/phone_numbers/csv_downloads": {
      "$ref": "paths/phone_numbers_csv_downloads.json"
    },
    "/phone_numbers/csv_downloads/{id}": {
      "$ref": "paths/phone_numbers_csv_downloads_{id}.json"
    },
    "/phone_numbers/inbound_channels": {
      "$ref": "paths/phone_numbers_inbound_channels.json"
    },
    "/phone_numbers/jobs": {
      "$ref": "paths/phone_numbers_jobs.json"
    },
    "/phone_numbers/jobs/delete_phone_numbers": {
      "$ref": "paths/phone_numbers_jobs_delete_phone_numbers.json"
    },
    "/phone_numbers/jobs/update_emergency_settings": {
      "$ref": "paths/phone_numbers_jobs_update_emergency_settings.json"
    },
    "/phone_numbers/jobs/update_phone_numbers": {
      "$ref": "paths/phone_numbers_jobs_update_phone_numbers.json"
    },
    "/phone_numbers/jobs/{id}": {
      "$ref": "paths/phone_numbers_jobs_{id}.json"
    },
    "/phone_numbers/messaging": {
      "$ref": "paths/phone_numbers_messaging.json"
    },
    "/phone_numbers/slim": {
      "$ref": "paths/phone_numbers_slim.json"
    },
    "/phone_numbers/voice": {
      "$ref": "paths/phone_numbers_voice.json"
    },
    "/phone_numbers/{id}": {
      "$ref": "paths/phone_numbers_{id}.json"
    },
    "/phone_numbers/{id}/actions/bundle_status_change": {
      "$ref": "paths/phone_numbers_{id}_actions_bundle_status_change.json"
    },
    "/phone_numbers/{id}/actions/enable_emergency": {
      "$ref": "paths/phone_numbers_{id}_actions_enable_emergency.json"
    },
    "/phone_numbers/{id}/messaging": {
      "$ref": "paths/phone_numbers_{id}_messaging.json"
    },
    "/phone_numbers/{id}/voice": {
      "$ref": "paths/phone_numbers_{id}_voice.json"
    },
    "/phone_numbers/{phone_number_id}/voicemail": {
      "$ref": "paths/phone_numbers_{phone_number_id}_voicemail.json"
    },
    "/phone_numbers_regulatory_requirements": {
      "$ref": "paths/phone_numbers_regulatory_requirements.json"
    },
    "/portability_checks": {
      "$ref": "paths/portability_checks.json"
    },
    "/porting/events": {
      "$ref": "paths/porting_events.json"
    },
    "/porting/events/{id}": {
      "$ref": "paths/porting_events_{id}.json"
    },
    "/porting/events/{id}/republish": {
      "$ref": "paths/porting_events_{id}_republish.json"
    },
    "/porting/loa_configuration/preview": {
      "$ref": "paths/porting_loa_configuration_preview.json"
    },
    "/porting/loa_configurations": {
      "$ref": "paths/porting_loa_configurations.json"
    },
    "/porting/loa_configurations/{id}": {
      "$ref": "paths/porting_loa_configurations_{id}.json"
    },
    "/porting/loa_configurations/{id}/preview": {
      "$ref": "paths/porting_loa_configurations_{id}_preview.json"
    },
    "/porting/reports": {
      "$ref": "paths/porting_reports.json"
    },
    "/porting/reports/{id}": {
      "$ref": "paths/porting_reports_{id}.json"
    },
    "/porting_orders": {
      "$ref": "paths/porting_orders.json"
    },
    "/porting_orders/exception_types": {
      "$ref": "paths/porting_orders_exception_types.json"
    },
    "/porting_orders/phone_number_configurations": {
      "$ref": "paths/porting_orders_phone_number_configurations.json"
    },
    "/porting_orders/{id}": {
      "$ref": "paths/porting_orders_{id}.json"
    },
    "/porting_orders/{id}/actions/activate": {
      "$ref": "paths/porting_orders_{id}_actions_activate.json"
    },
    "/porting_orders/{id}/actions/cancel": {
      "$ref": "paths/porting_orders_{id}_actions_cancel.json"
    },
    "/porting_orders/{id}/actions/confirm": {
      "$ref": "paths/porting_orders_{id}_actions_confirm.json"
    },
    "/porting_orders/{id}/actions/share": {
      "$ref": "paths/porting_orders_{id}_actions_share.json"
    },
    "/porting_orders/{id}/activation_jobs": {
      "$ref": "paths/porting_orders_{id}_activation_jobs.json"
    },
    "/porting_orders/{id}/activation_jobs/{activationJobId}": {
      "$ref": "paths/porting_orders_{id}_activation_jobs_{activationJobId}.json"
    },
    "/porting_orders/{id}/additional_documents": {
      "$ref": "paths/porting_orders_{id}_additional_documents.json"
    },
    "/porting_orders/{id}/additional_documents/{additional_document_id}": {
      "$ref": "paths/porting_orders_{id}_additional_documents_{additional_document_id}.json"
    },
    "/porting_orders/{id}/allowed_foc_windows": {
      "$ref": "paths/porting_orders_{id}_allowed_foc_windows.json"
    },
    "/porting_orders/{id}/comments": {
      "$ref": "paths/porting_orders_{id}_comments.json"
    },
    "/porting_orders/{id}/loa_template": {
      "$ref": "paths/porting_orders_{id}_loa_template.json"
    },
    "/porting_orders/{id}/requirements": {
      "$ref": "paths/porting_orders_{id}_requirements.json"
    },
    "/porting_orders/{id}/sub_request": {
      "$ref": "paths/porting_orders_{id}_sub_request.json"
    },
    "/porting_orders/{id}/verification_codes": {
      "$ref": "paths/porting_orders_{id}_verification_codes.json"
    },
    "/porting_orders/{id}/verification_codes/send": {
      "$ref": "paths/porting_orders_{id}_verification_codes_send.json"
    },
    "/porting_orders/{id}/verification_codes/verify": {
      "$ref": "paths/porting_orders_{id}_verification_codes_verify.json"
    },
    "/porting_orders/{porting_order_id}/phone_number_blocks": {
      "$ref": "paths/porting_orders_{porting_order_id}_phone_number_blocks.json"
    },
    "/porting_orders/{porting_order_id}/phone_number_blocks/{id}": {
      "$ref": "paths/porting_orders_{porting_order_id}_phone_number_blocks_{id}.json"
    },
    "/porting_orders/{porting_order_id}/phone_number_extensions": {
      "$ref": "paths/porting_orders_{porting_order_id}_phone_number_extensions.json"
    },
    "/porting_orders/{porting_order_id}/phone_number_extensions/{id}": {
      "$ref": "paths/porting_orders_{porting_order_id}_phone_number_extensions_{id}.json"
    },
    "/porting_phone_numbers": {
      "$ref": "paths/porting_phone_numbers.json"
    },
    "/portouts": {
      "$ref": "paths/portouts.json"
    },
    "/portouts/events": {
      "$ref": "paths/portouts_events.json"
    },
    "/portouts/events/{id}": {
      "$ref": "paths/portouts_events_{id}.json"
    },
    "/portouts/events/{id}/republish": {
      "$ref": "paths/portouts_events_{id}_republish.json"
    },
    "/portouts/rejections/{portout_id}": {
      "$ref": "paths/portouts_rejections_{portout_id}.json"
    },
    "/portouts/reports": {
      "$ref": "paths/portouts_reports.json"
    },
    "/portouts/reports/{id}": {
      "$ref": "paths/portouts_reports_{id}.json"
    },
    "/portouts/{id}": {
      "$ref": "paths/portouts_{id}.json"
    },
    "/portouts/{id}/comments": {
      "$ref": "paths/portouts_{id}_comments.json"
    },
    "/portouts/{id}/supporting_documents": {
      "$ref": "paths/portouts_{id}_supporting_documents.json"
    },
    "/portouts/{id}/{status}": {
      "$ref": "paths/portouts_{id}_{status}.json"
    },
    "/private_wireless_gateways": {
      "$ref": "paths/private_wireless_gateways.json"
    },
    "/private_wireless_gateways/{id}": {
      "$ref": "paths/private_wireless_gateways_{id}.json"
    },
    "/public_internet_gateways": {
      "$ref": "paths/public_internet_gateways.json"
    },
    "/public_internet_gateways/{id}": {
      "$ref": "paths/public_internet_gateways_{id}.json"
    },
    "/queues": {
      "$ref": "paths/queues.json"
    },
    "/queues/{queue_name}": {
      "$ref": "paths/queues_{queue_name}.json"
    },
    "/queues/{queue_name}/calls": {
      "$ref": "paths/queues_{queue_name}_calls.json"
    },
    "/queues/{queue_name}/calls/{call_control_id}": {
      "$ref": "paths/queues_{queue_name}_calls_{call_control_id}.json"
    },
    "/recording_transcriptions": {
      "$ref": "paths/recording_transcriptions.json"
    },
    "/recording_transcriptions/{recording_transcription_id}": {
      "$ref": "paths/recording_transcriptions_{recording_transcription_id}.json"
    },
    "/recordings": {
      "$ref": "paths/recordings.json"
    },
    "/recordings/actions/delete": {
      "$ref": "paths/recordings_actions_delete.json"
    },
    "/recordings/{recording_id}": {
      "$ref": "paths/recordings_{recording_id}.json"
    },
    "/regions": {
      "$ref": "paths/regions.json"
    },
    "/regulatory_requirements": {
      "$ref": "paths/regulatory_requirements.json"
    },
    "/reports/cdr_usage_reports/sync": {
      "$ref": "paths/reports_cdr_usage_reports_sync.json"
    },
    "/reports/mdr_usage_reports": {
      "$ref": "paths/reports_mdr_usage_reports.json"
    },
    "/reports/mdr_usage_reports/sync": {
      "$ref": "paths/reports_mdr_usage_reports_sync.json"
    },
    "/reports/mdr_usage_reports/{id}": {
      "$ref": "paths/reports_mdr_usage_reports_{id}.json"
    },
    "/reports/mdrs": {
      "$ref": "paths/reports_mdrs.json"
    },
    "/reports/wdrs": {
      "$ref": "paths/reports_wdrs.json"
    },
    "/requirement_groups": {
      "$ref": "paths/requirement_groups.json"
    },
    "/requirement_groups/{id}": {
      "$ref": "paths/requirement_groups_{id}.json"
    },
    "/requirement_groups/{id}/submit_for_approval": {
      "$ref": "paths/requirement_groups_{id}_submit_for_approval.json"
    },
    "/requirement_types": {
      "$ref": "paths/requirement_types.json"
    },
    "/requirement_types/{id}": {
      "$ref": "paths/requirement_types_{id}.json"
    },
    "/requirements": {
      "$ref": "paths/requirements.json"
    },
    "/requirements/{id}": {
      "$ref": "paths/requirements_{id}.json"
    },
    "/room_compositions": {
      "$ref": "paths/room_compositions.json"
    },
    "/room_compositions/{room_composition_id}": {
      "$ref": "paths/room_compositions_{room_composition_id}.json"
    },
    "/room_participants": {
      "$ref": "paths/room_participants.json"
    },
    "/room_participants/{room_participant_id}": {
      "$ref": "paths/room_participants_{room_participant_id}.json"
    },
    "/room_recordings": {
      "$ref": "paths/room_recordings.json"
    },
    "/room_recordings/{room_recording_id}": {
      "$ref": "paths/room_recordings_{room_recording_id}.json"
    },
    "/room_sessions": {
      "$ref": "paths/room_sessions.json"
    },
    "/room_sessions/{room_session_id}": {
      "$ref": "paths/room_sessions_{room_session_id}.json"
    },
    "/room_sessions/{room_session_id}/actions/end": {
      "$ref": "paths/room_sessions_{room_session_id}_actions_end.json"
    },
    "/room_sessions/{room_session_id}/actions/kick": {
      "$ref": "paths/room_sessions_{room_session_id}_actions_kick.json"
    },
    "/room_sessions/{room_session_id}/actions/mute": {
      "$ref": "paths/room_sessions_{room_session_id}_actions_mute.json"
    },
    "/room_sessions/{room_session_id}/actions/unmute": {
      "$ref": "paths/room_sessions_{room_session_id}_actions_unmute.json"
    },
    "/room_sessions/{room_session_id}/participants": {
      "$ref": "paths/room_sessions_{room_session_id}_participants.json"
    },
    "/rooms": {
      "$ref": "paths/rooms.json"
    },
    "/rooms/{room_id}": {
      "$ref": "paths/rooms_{room_id}.json"
    },
    "/rooms/{room_id}/actions/generate_join_client_token": {
      "$ref": "paths/rooms_{room_id}_actions_generate_join_client_token.json"
    },
    "/rooms/{room_id}/actions/refresh_client_token": {
      "$ref": "paths/rooms_{room_id}_actions_refresh_client_token.json"
    },
    "/rooms/{room_id}/sessions": {
      "$ref": "paths/rooms_{room_id}_sessions.json"
    },
    "/short_codes": {
      "$ref": "paths/short_codes.json"
    },
    "/short_codes/{id}": {
      "$ref": "paths/short_codes_{id}.json"
    },
    "/sim_card_actions": {
      "$ref": "paths/sim_card_actions.json"
    },
    "/sim_card_actions/{id}": {
      "$ref": "paths/sim_card_actions_{id}.json"
    },
    "/sim_card_data_usage_notifications": {
      "$ref": "paths/sim_card_data_usage_notifications.json"
    },
    "/sim_card_data_usage_notifications/{id}": {
      "$ref": "paths/sim_card_data_usage_notifications_{id}.json"
    },
    "/sim_card_group_actions": {
      "$ref": "paths/sim_card_group_actions.json"
    },
    "/sim_card_group_actions/{id}": {
      "$ref": "paths/sim_card_group_actions_{id}.json"
    },
    "/sim_card_groups": {
      "$ref": "paths/sim_card_groups.json"
    },
    "/sim_card_groups/{id}": {
      "$ref": "paths/sim_card_groups_{id}.json"
    },
    "/sim_card_groups/{id}/actions/remove_private_wireless_gateway": {
      "$ref": "paths/sim_card_groups_{id}_actions_remove_private_wireless_gateway.json"
    },
    "/sim_card_groups/{id}/actions/set_private_wireless_gateway": {
      "$ref": "paths/sim_card_groups_{id}_actions_set_private_wireless_gateway.json"
    },
    "/sim_card_order_preview": {
      "$ref": "paths/sim_card_order_preview.json"
    },
    "/sim_card_orders": {
      "$ref": "paths/sim_card_orders.json"
    },
    "/sim_card_orders/{id}": {
      "$ref": "paths/sim_card_orders_{id}.json"
    },
    "/sim_cards": {
      "$ref": "paths/sim_cards.json"
    },
    "/sim_cards/actions/bulk_set_public_ips": {
      "$ref": "paths/sim_cards_actions_bulk_set_public_ips.json"
    },
    "/sim_cards/actions/validate_registration_codes": {
      "$ref": "paths/sim_cards_actions_validate_registration_codes.json"
    },
    "/sim_cards/{id}": {
      "$ref": "paths/sim_cards_{id}.json"
    },
    "/sim_cards/{id}/actions/disable": {
      "$ref": "paths/sim_cards_{id}_actions_disable.json"
    },
    "/sim_cards/{id}/actions/enable": {
      "$ref": "paths/sim_cards_{id}_actions_enable.json"
    },
    "/sim_cards/{id}/actions/remove_public_ip": {
      "$ref": "paths/sim_cards_{id}_actions_remove_public_ip.json"
    },
    "/sim_cards/{id}/actions/set_public_ip": {
      "$ref": "paths/sim_cards_{id}_actions_set_public_ip.json"
    },
    "/sim_cards/{id}/actions/set_standby": {
      "$ref": "paths/sim_cards_{id}_actions_set_standby.json"
    },
    "/sim_cards/{id}/activation_code": {
      "$ref": "paths/sim_cards_{id}_activation_code.json"
    },
    "/sim_cards/{id}/device_details": {
      "$ref": "paths/sim_cards_{id}_device_details.json"
    },
    "/sim_cards/{id}/public_ip": {
      "$ref": "paths/sim_cards_{id}_public_ip.json"
    },
    "/sim_cards/{id}/wireless_connectivity_logs": {
      "$ref": "paths/sim_cards_{id}_wireless_connectivity_logs.json"
    },
    "/siprec_connectors": {
      "$ref": "paths/siprec_connectors.json"
    },
    "/storage/buckets/{bucketName}/ssl_certificate": {
      "$ref": "paths/storage_buckets_{bucketName}_ssl_certificate.json"
    },
    "/storage/buckets/{bucketName}/usage/api": {
      "$ref": "paths/storage_buckets_{bucketName}_usage_api.json"
    },
    "/storage/buckets/{bucketName}/usage/storage": {
      "$ref": "paths/storage_buckets_{bucketName}_usage_storage.json"
    },
    "/storage/buckets/{bucketName}/{objectName}/presigned_url": {
      "$ref": "paths/storage_buckets_{bucketName}_{objectName}_presigned_url.json"
    },
    "/storage/migration_source_coverage": {
      "$ref": "paths/storage_migration_source_coverage.json"
    },
    "/storage/migration_sources": {
      "$ref": "paths/storage_migration_sources.json"
    },
    "/storage/migration_sources/{id}": {
      "$ref": "paths/storage_migration_sources_{id}.json"
    },
    "/storage/migrations": {
      "$ref": "paths/storage_migrations.json"
    },
    "/storage/migrations/{id}": {
      "$ref": "paths/storage_migrations_{id}.json"
    },
    "/storage/migrations/{id}/actions/stop": {
      "$ref": "paths/storage_migrations_{id}_actions_stop.json"
    },
    "/sub_number_orders": {
      "$ref": "paths/sub_number_orders.json"
    },
    "/sub_number_orders/{id}/requirement_group": {
      "$ref": "paths/sub_number_orders_{id}_requirement_group.json"
    },
    "/sub_number_orders/{sub_number_order_id}": {
      "$ref": "paths/sub_number_orders_{sub_number_order_id}.json"
    },
    "/sub_number_orders/{sub_number_order_id}/cancel": {
      "$ref": "paths/sub_number_orders_{sub_number_order_id}_cancel.json"
    },
    "/telephony_credentials": {
      "$ref": "paths/telephony_credentials.json"
    },
    "/telephony_credentials/{id}": {
      "$ref": "paths/telephony_credentials_{id}.json"
    },
    "/telephony_credentials/{id}/token": {
      "$ref": "paths/telephony_credentials_{id}_token.json"
    },
    "/texml/Accounts/{account_sid}/Calls": {
      "$ref": "paths/texml_Accounts_{account_sid}_Calls.json"
    },
    "/texml/Accounts/{account_sid}/Calls/{call_sid}": {
      "$ref": "paths/texml_Accounts_{account_sid}_Calls_{call_sid}.json"
    },
    "/texml/Accounts/{account_sid}/Calls/{call_sid}/Recordings.json": {
      "$ref": "paths/texml_Accounts_{account_sid}_Calls_{call_sid}_Recordings.json.json"
    },
    "/texml/Accounts/{account_sid}/Calls/{call_sid}/Recordings/{recording_sid}.json": {
      "$ref": "paths/texml_Accounts_{account_sid}_Calls_{call_sid}_Recordings_{recording_sid}.json.json"
    },
    "/texml/Accounts/{account_sid}/Calls/{call_sid}/Siprec.json": {
      "$ref": "paths/texml_Accounts_{account_sid}_Calls_{call_sid}_Siprec.json.json"
    },
    "/texml/Accounts/{account_sid}/Calls/{call_sid}/Siprec/{siprec_sid}.json": {
      "$ref": "paths/texml_Accounts_{account_sid}_Calls_{call_sid}_Siprec_{siprec_sid}.json.json"
    },
    "/texml/Accounts/{account_sid}/Calls/{call_sid}/Streams.json": {
      "$ref": "paths/texml_Accounts_{account_sid}_Calls_{call_sid}_Streams.json.json"
    },
    "/texml/Accounts/{account_sid}/Calls/{call_sid}/Streams/{streaming_sid}.json": {
      "$ref": "paths/texml_Accounts_{account_sid}_Calls_{call_sid}_Streams_{streaming_sid}.json.json"
    },
    "/texml/Accounts/{account_sid}/Conferences": {
      "$ref": "paths/texml_Accounts_{account_sid}_Conferences.json"
    },
    "/texml/Accounts/{account_sid}/Conferences/{conference_sid}": {
      "$ref": "paths/texml_Accounts_{account_sid}_Conferences_{conference_sid}.json"
    },
    "/texml/Accounts/{account_sid}/Conferences/{conference_sid}/Participants": {
      "$ref": "paths/texml_Accounts_{account_sid}_Conferences_{conference_sid}_Participants.json"
    },
    "/texml/Accounts/{account_sid}/Conferences/{conference_sid}/Participants/{call_sid}": {
      "$ref": "paths/texml_Accounts_{account_sid}_Conferences_{conference_sid}_Participants_{call_sid}.json"
    },
    "/texml/Accounts/{account_sid}/Conferences/{conference_sid}/Recordings": {
      "$ref": "paths/texml_Accounts_{account_sid}_Conferences_{conference_sid}_Recordings.json"
    },
    "/texml/Accounts/{account_sid}/Conferences/{conference_sid}/Recordings.json": {
      "$ref": "paths/texml_Accounts_{account_sid}_Conferences_{conference_sid}_Recordings.json.json"
    },
    "/texml/Accounts/{account_sid}/Recordings.json": {
      "$ref": "paths/texml_Accounts_{account_sid}_Recordings.json.json"
    },
    "/texml/Accounts/{account_sid}/Recordings/{recording_sid}.json": {
      "$ref": "paths/texml_Accounts_{account_sid}_Recordings_{recording_sid}.json.json"
    },
    "/texml/Accounts/{account_sid}/Transcriptions.json": {
      "$ref": "paths/texml_Accounts_{account_sid}_Transcriptions.json.json"
    },
    "/texml/Accounts/{account_sid}/Transcriptions/{recording_transcription_sid}.json": {
      "$ref": "paths/texml_Accounts_{account_sid}_Transcriptions_{recording_transcription_sid}.json.json"
    },
    "/texml/calls/{application_id}": {
      "$ref": "paths/texml_calls_{application_id}.json"
    },
    "/texml/calls/{call_sid}/update": {
      "$ref": "paths/texml_calls_{call_sid}_update.json"
    },
    "/texml/secrets": {
      "$ref": "paths/texml_secrets.json"
    },
    "/texml_applications": {
      "$ref": "paths/texml_applications.json"
    },
    "/texml_applications/{id}": {
      "$ref": "paths/texml_applications_{id}.json"
    },
    "/usage_reports": {
      "$ref": "paths/usage_reports.json"
    },
    "/usage_reports/options": {
      "$ref": "paths/usage_reports_options.json"
    },
    "/user_addresses": {
      "$ref": "paths/user_addresses.json"
    },
    "/user_addresses/{id}": {
      "$ref": "paths/user_addresses_{id}.json"
    },
    "/user_tags": {
      "$ref": "paths/user_tags.json"
    },
    "/verifications/by_phone_number/{phone_number}": {
      "$ref": "paths/verifications_by_phone_number_{phone_number}.json"
    },
    "/verifications/by_phone_number/{phone_number}/actions/verify": {
      "$ref": "paths/verifications_by_phone_number_{phone_number}_actions_verify.json"
    },
    "/verifications/call": {
      "$ref": "paths/verifications_call.json"
    },
    "/verifications/flashcall": {
      "$ref": "paths/verifications_flashcall.json"
    },
    "/verifications/sms": {
      "$ref": "paths/verifications_sms.json"
    },
    "/verifications/{verification_id}": {
      "$ref": "paths/verifications_{verification_id}.json"
    },
    "/verifications/{verification_id}/actions/verify": {
      "$ref": "paths/verifications_{verification_id}_actions_verify.json"
    },
    "/verified_numbers": {
      "$ref": "paths/verified_numbers.json"
    },
    "/verified_numbers/{phone_number}": {
      "$ref": "paths/verified_numbers_{phone_number}.json"
    },
    "/verified_numbers/{phone_number}/actions/verify": {
      "$ref": "paths/verified_numbers_{phone_number}_actions_verify.json"
    },
    "/verify_profiles": {
      "$ref": "paths/verify_profiles.json"
    },
    "/verify_profiles/templates": {
      "$ref": "paths/verify_profiles_templates.json"
    },
    "/verify_profiles/{verify_profile_id}": {
      "$ref": "paths/verify_profiles_{verify_profile_id}.json"
    },
    "/virtual_cross_connects": {
      "$ref": "paths/virtual_cross_connects.json"
    },
    "/virtual_cross_connects/{id}": {
      "$ref": "paths/virtual_cross_connects_{id}.json"
    },
    "/virtual_cross_connects_coverage": {
      "$ref": "paths/virtual_cross_connects_coverage.json"
    },
    "/webhook_deliveries": {
      "$ref": "paths/webhook_deliveries.json"
    },
    "/webhook_deliveries/{id}": {
      "$ref": "paths/webhook_deliveries_{id}.json"
    },
    "/wireguard_interfaces": {
      "$ref": "paths/wireguard_interfaces.json"
    },
    "/wireguard_interfaces/{id}": {
      "$ref": "paths/wireguard_interfaces_{id}.json"
    },
    "/wireguard_peers": {
      "$ref": "paths/wireguard_peers.json"
    },
    "/wireguard_peers/{id}": {
      "$ref": "paths/wireguard_peers_{id}.json"
    },
    "/wireguard_peers/{id}/config": {
      "$ref": "paths/wireguard_peers_{id}_config.json"
    },
    "/wireless/detail_records_reports": {
      "$ref": "paths/wireless_detail_records_reports.json"
    },
    "/wireless/detail_records_reports/{id}": {
      "$ref": "paths/wireless_detail_records_reports_{id}.json"
    },
    "/wireless/regions": {
      "$ref": "paths/wireless_regions.json"
    },
    "/{bucketName}": {
      "$ref": "paths/{bucketName}.json"
    },
    "/{bucketName}/{objectName}": {
      "$ref": "paths/{bucketName}_{objectName}.json"
    },
    "/{bucketName}/{objectName}/uploads/{uploadID}": {
      "$ref": "paths/{bucketName}_{objectName}_uploads_{uploadID}.json"
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}