

# VerificationStatus

## Enum


* `PENDING` (value: `"pending"`)

* `ACCEPTED` (value: `"accepted"`)

* `INVALID` (value: `"invalid"`)

* `EXPIRED` (value: `"expired"`)

* `ERROR` (value: `"error"`)



