

# VerificationStatus

## Enum


* `PENDING` (value: `"pending"`)

* `SMS_DELIVERY_FAILED` (value: `"sms_delivery_failed"`)

* `ACCEPTED` (value: `"accepted"`)

* `EXPIRED` (value: `"expired"`)

* `NOT_ENOUGH_CREDIT` (value: `"not_enough_credit"`)

* `NETWORK_ERROR` (value: `"network_error"`)

* `NUMBER_UNREACHABLE` (value: `"number_unreachable"`)

* `INTERNAL_ERROR` (value: `"internal_error"`)

* `INVALID_DESTINATION` (value: `"invalid_destination"`)

* `TIMED_OUT` (value: `"timed_out"`)



