openapi: 3.0.0
info:
  contact:
    email: support@telnyx.com
  description: SIP trunking, SMS, MMS, Call Control and Telephony Data Services.
  license:
    name: MIT
  title: Telnyx API
  version: 2.0.0
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Call Control command operations
  name: Call Commands
- description: Call Control applications operations
  name: Call Control Applications
- description: Call information
  name: Call Information
- description: Conference command operations
  name: Conference Commands
- description: Call Control debugging
  name: Debugging
- description: Messages
  name: Messages
- description: Manage your messaging hosted numbers
  name: Messaging Hosted Number
- description: Messaging profiles
  name: Messaging Profiles
- description: Messaging URL Domains
  name: Messaging URL Domains
- description: Configure your phone numbers
  name: Number Configurations
- description: Number order documents
  name: Number Order Documents
- description: Number order regulatory requirements
  name: Number Order Regulatory Requirements
- description: Number orders
  name: Number Orders
- description: Number reservations
  name: Number Reservations
- description: Number search
  name: Number Search
- description: Recordings commands operations
  name: Recordings Commands
- description: Short codes
  name: Short Codes
paths:
  /available_phone_numbers:
    get:
      operationId: listAvailablePhoneNumbers
      parameters:
      - description: Filter numbers starting with a pattern (meant to be used after
          `national_destination_code` filter has been set).
        examples:
          generic:
            summary: Find numbers starting with the prefix 'FREE'
            value: FOO
        explode: true
        in: query
        name: filter[phone_number][starts_with]
        required: false
        schema:
          type: string
        style: form
      - description: Filter numbers ending with a pattern.
        examples:
          generic:
            summary: Find numbers ending with the suffix 'CALL'
            value: CALL
        explode: true
        in: query
        name: filter[phone_number][ends_with]
        required: false
        schema:
          type: string
        style: form
      - description: Filter numbers containing a pattern.
        examples:
          generic:
            summary: Find numbers that contain the word 'TELNYX' in any position
            value: TELNYX
        explode: true
        in: query
        name: filter[phone_number][contains]
        required: false
        schema:
          type: string
        style: form
      - description: Filter phone numbers by city.
        examples:
          US:
            value: Chicago
          CA:
            value: Toronto
          AU:
            value: Canberra
        explode: true
        in: query
        name: filter[locality]
        required: false
        schema:
          type: string
        style: form
      - description: Filter phone numbers by US state/CA province.
        explode: true
        in: query
        name: filter[administrative_area]
        required: false
        schema:
          example: IL
          type: string
        style: form
      - description: Filter phone numbers by ISO alpha-2 country code.
        explode: true
        in: query
        name: filter[country_code]
        required: false
        schema:
          example: US
          type: string
        style: form
      - description: Filter by the national destination code of the number. This filter
          is only applicable to North American numbers.
        examples:
          US:
            value: "312"
          CA:
            value: "437"
          AU:
            value: "0251"
        explode: true
        in: query
        name: filter[national_destination_code]
        required: false
        schema:
          type: string
        style: form
      - description: Filter phone numbers by NANP rate center. This filter is only
          applicable to North American numbers.
        explode: true
        in: query
        name: filter[rate_center]
        required: false
        schema:
          example: CHICAGO HEIGHTS
          type: string
        style: form
      - description: Filter phone numbers by number type.
        explode: true
        in: query
        name: filter[number_type]
        required: false
        schema:
          enum:
          - toll-free
          - national
          - mobile
          - local
          example: local
          type: string
        style: form
      - description: Filter if the phone number should be used for voice, fax, mms,
          sms, emergency.
        explode: true
        in: query
        name: filter[features]
        required: false
        schema:
          example: voice,sms
          items:
            enum:
            - sms
            - mms
            - voice
            - fax
            - emergency
            type: string
          type: array
        style: form
      - description: Limits the number of results.
        explode: true
        in: query
        name: filter[limit]
        required: false
        schema:
          example: 100
          type: integer
        style: form
      - description: Filter to determine if best effort results should be included.
        explode: true
        in: query
        name: filter[best_effort]
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: Filter to exclude phone numbers that need additional time after
          to purchase to receive phone calls.
        explode: true
        in: query
        name: filter[quickship]
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: Filter to exclude phone numbers that cannot be reserved before
          purchase.
        explode: true
        in: query
        name: filter[reservable]
        required: false
        schema:
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List_Available_Phone_Numbers_Response'
          description: Successful response with a list of available phone numbers.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: List available phone numbers
      tags:
      - Number Search
      x-group-parameters: "true"
      x-latency-category: responsive
      x-accepts: application/json
  /call_control_applications:
    get:
      description: Return a list of call control applications.
      operationId: listCallControlApplications
      parameters:
      - description: The page number to load
        explode: true
        in: query
        name: page[number]
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: The size of the page
        explode: true
        in: query
        name: page[size]
        required: false
        schema:
          default: 20
          maximum: 250
          minimum: 1
          type: integer
        style: form
      - description: If present, applications with <code>application_name</code> containing
          the given value will be returned. Matching is not case-sensitive. Requires
          at least three characters.
        explode: true
        in: query
        name: filter[application_name][contains]
        required: false
        schema:
          default: "null"
          type: string
        style: form
      - description: Identifies the associated outbound voice profile.
        explode: true
        in: query
        name: filter[outbound.outbound_voice_profile_id]
        required: false
        schema:
          example: "1293384261075731499"
          format: int64
          type: string
        style: form
      - description: |-
          Specifies the sort order for results. By default sorting direction is ascending. To have the results sorted in descending order add the <code> -</code> prefix.<br/><br/>
          That is: <ul>
            <li>
              <code>connection_name</code>: sorts the result by the
              <code>connection_name</code> field in ascending order.
            </li>

            <li>
              <code>-connection_name</code>: sorts the result by the
              <code>connection_name</code> field in descending order.
            </li>
          </ul> <br/> If not given, results are sorted by <code>created_at</code> in descending order.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: created_at
          enum:
          - created_at
          - connection_name
          - active
          example: connection_name
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List_Call_Control_Applications_Response'
          description: Successful response with a list of call control applications.
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
      summary: List call control applications
      tags:
      - Call Control Applications
      x-group-parameters: "true"
      x-latency-category: interactive
      x-accepts: application/json
    post:
      description: Create a call control application.
      operationId: createCallControlApplication
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCallControlApplicationRequest'
        description: Create call control application request.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Application_Response'
          description: Successful response with details about a call control application.
        "422":
          description: Bad Request
      summary: Create a call control application
      tags:
      - Call Control Applications
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /call_control_applications/{id}:
    delete:
      description: Deletes a call control application.
      operationId: deleteCallControlApplication
      parameters:
      - description: Identifies the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: "1293384261075731499"
          format: int64
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Application_Response'
          description: Successful response with details about a call control application.
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
        "422":
          description: Bad request
      summary: Delete a call control application
      tags:
      - Call Control Applications
      x-latency-category: interactive
      x-accepts: application/json
    get:
      description: Retrieves the details of an existing call control application.
      operationId: retrieveCallControlApplication
      parameters:
      - description: Identifies the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: "1293384261075731499"
          format: int64
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Application_Response'
          description: Successful response with details about a call control application.
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
        "422":
          description: Bad request
      summary: Retrieve a call control application
      tags:
      - Call Control Applications
      x-latency-category: interactive
      x-accepts: application/json
    patch:
      description: Updates settings of an existing call control application.
      operationId: updateCallControlApplication
      parameters:
      - description: Identifies the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: "1293384261075731499"
          format: int64
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCallControlApplicationRequest'
        description: Update call control application request.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Application_Response'
          description: Successful response with details about a call control application.
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
        "422":
          description: Bad request
      summary: Update a call control application
      tags:
      - Call Control Applications
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /call_events:
    get:
      description: |
        Filters call events by given filter parameters. Events are ordered by `event_timestamp`. If filter for `call_leg_id` or `call_session_id` is not present, it only filters events from the last 24 hours.

        **Note**: Only one `filter[event_timestamp]` can be passed.
      operationId: listCallEvents
      parameters:
      - description: The unique identifier of an individual call leg.
        explode: true
        in: query
        name: filter[call_leg_id]
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The unique identifier of the call control session. A session
          may include multiple call leg events.
        explode: true
        in: query
        name: filter[call_session_id]
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Event status
        explode: true
        in: query
        name: filter[status]
        required: false
        schema:
          enum:
          - delivered
          - failed
          example: delivered
          type: string
        style: form
      - description: Event type
        explode: true
        in: query
        name: filter[type]
        required: false
        schema:
          enum:
          - command
          - webhook
          example: webhook
          type: string
        style: form
      - description: 'Event timestamp: greater than'
        explode: true
        in: query
        name: filter[event_timestamp][gt]
        required: false
        schema:
          example: 2019-03-29T11:10:00Z
          type: string
        style: form
      - description: 'Event timestamp: greater than or equal'
        explode: true
        in: query
        name: filter[event_timestamp][gte]
        required: false
        schema:
          example: 2019-03-29T11:10:00Z
          type: string
        style: form
      - description: 'Event timestamp: lower than'
        explode: true
        in: query
        name: filter[event_timestamp][lt]
        required: false
        schema:
          example: 2019-03-29T11:10:00Z
          type: string
        style: form
      - description: 'Event timestamp: lower than or equal'
        explode: true
        in: query
        name: filter[event_timestamp][lte]
        required: false
        schema:
          example: 2019-03-29T11:10:00Z
          type: string
        style: form
      - description: 'Event timestamp: equal'
        explode: true
        in: query
        name: filter[event_timestamp][eq]
        required: false
        schema:
          example: 2019-03-29T11:10:00Z
          type: string
        style: form
      - description: The page number to load
        explode: true
        in: query
        name: page[number]
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: The size of the page
        explode: true
        in: query
        name: page[size]
        required: false
        schema:
          default: 20
          maximum: 250
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List_Call_Events_Response'
          description: Successful response with a list of call events.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: List call events
      tags:
      - Debugging
      x-latency-category: responsive
      x-group-parameters: "true"
      x-accepts: application/json
  /calls:
    post:
      callbacks:
        callInitiated:
          '{$request.body#/webhook_url}':
            post:
              operationId: callInitiated_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallInitiatedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        callAnswered:
          '{$request.body#/webhook_url}':
            post:
              operationId: callAnswered_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallAnsweredEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        callHangup:
          '{$request.body#/webhook_url}':
            post:
              operationId: callHangup_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallHangupEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        callMachineDetectionEnded:
          '{$request.body#/webhook_url}':
            post:
              operationId: callMachineDetectionEnded_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallMachineDetectionEndedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        callMachineGreetingEnded:
          '{$request.body#/webhook_url}':
            post:
              operationId: callMachineGreetingEnded_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallMachineGreetingEndedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
      description: |
        Dial a number or SIP URI from a given connection. A successful response will include a `call_leg_id` which can be used to correlate the command with subsequent webhooks.

        **Expected Webhooks:**

        - `call.initiated`
        - `call.answered` or `call.hangup`
        - `call.machine.detection.ended` if `answering_machine_detection` was requested
        - `call.machine.greeting.ended` if `answering_machine_detection` was requested to detect the end of machine greeting
        - `call.machine.premium.detection.ended` if `answering_machine_detection=premium` was requested
        - `call.machine.premium.greeting.ended` if `answering_machine_detection=premium` was requested and a beep was detected
      operationId: callDial
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallRequest'
        description: Call request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Retrieve_Call_Status_Response'
          description: Successful response with details about a call status.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Dial
      tags:
      - Call Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /calls/{call_control_id}:
    get:
      description: Returns the status of a call (data is available 10 minutes after
        call ended).
      operationId: retrieveCallStatus
      parameters:
      - description: Unique identifier and token for controlling the call
        explode: false
        in: path
        name: call_control_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Retrieve_Call_Status_Response'
          description: Successful response with details about a call status.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Retrieve a call status
      tags:
      - Call Information
      x-latency-category: interactive
      x-accepts: application/json
  /calls/{call_control_id}/actions/answer:
    post:
      callbacks:
        callAnswered:
          '{$request.body#/webhook_url}':
            post:
              operationId: callAnswered_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallAnsweredEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
      description: |
        Answer an incoming call. You must issue this command before executing subsequent commands on an incoming call.

        **Expected Webhooks:**

        - `call.answered`
      operationId: callAnswer
      parameters:
      - description: Unique identifier and token for controlling the call
        explode: false
        in: path
        name: call_control_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnswerRequest'
        description: Answer call request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Command_Response'
          description: Successful response upon making a call control command.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Answer call
      tags:
      - Call Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /calls/{call_control_id}/actions/bridge:
    post:
      callbacks:
        callBridged:
          '{$request.body#/webhook_url}':
            post:
              operationId: callBridged_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallBridgedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
      description: |
        Bridge two call control calls.

        **Expected Webhooks:**

        - `call.bridged` for Leg A
        - `call.bridged` for Leg B
      operationId: callBridge
      parameters:
      - description: Unique identifier and token for controlling the call
        explode: false
        in: path
        name: call_control_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BridgeRequest'
        description: Bridge call request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Command_Response'
          description: Successful response upon making a call control command.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Bridge calls
      tags:
      - Call Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /calls/{call_control_id}/actions/fork_start:
    post:
      callbacks:
        callForkStarted:
          '{$request.body#/webhook_url}':
            post:
              operationId: callForkStarted_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallForkStartedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        callForkStopped:
          '{$request.body#/webhook_url}':
            post:
              operationId: callForkStopped_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallForkStoppedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
      description: "Call forking allows you to stream the media from a call to a specific\
        \ target in realtime. \nThis stream can be used to enable realtime audio analysis\
        \ to support a \nvariety of use cases, including fraud detection, or the creation\
        \ of AI-generated audio responses. \nRequests must specify either the `target`\
        \ attribute or the `rx` and `tx` attributes.\n\n**Expected Webhooks:**\n\n\
        - `call.fork.started`\n- `call.fork.stopped`\n\n**Simple Telnyx RTP Encapsulation\
        \ Protocol (STREP)**\n\n*Note: This header/encapsulation is not used when\
        \ the `rx` and `tx`\nparameters have been specified; it only applies when\
        \ media is forked\nusing the `target` attribute.*\n\nIf the destination for\
        \ forked media is specified using the \"target\"\nattribute, the RTP will\
        \ be encapsulated in an extra Telnyx protocol,\nwhich adds a 24 byte header\
        \ to the RTP payload in each packet. The STREP\nheader includes the Call Control\
        \ `call_leg_id` for stream\nidentification, along with bits that represent\
        \ the direction (inbound or\noutbound) of the media. This 24-byte header sits\
        \ between the UDP header\nand the RTP header.\n\nThe STREP header makes it\
        \ possible to fork RTP for multiple calls (or\ntwo RTP streams for the same\
        \ call) to the same IP:port, where the\nstreams can be demultiplexed by your\
        \ application using the information\nin the header. Of course, it's still\
        \ possible to ignore this header\ncompletely, for example, if sending forked\
        \ media for different calls to\ndifferent ports or IP addresses. In this case,\
        \ simply strip 24 bytes\n(or use the second byte to find the header length)\
        \ from the received UDP\npayload to get the RTP (RTP header and payload).\n\
        \n```\nSTREP Specification\n\n  0                   1                   2\
        \                   3\n  0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4\
        \ 5 6 7 8 9 0 1\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n\
        \ |1 1|Version|L|D|    HeaderLen  |  reserved (2 bytes)           |\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n\
        \ |       reserved (4 bytes, for UDP ports or anything else)      |\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n\
        \ |               The call_leg_id                                 |\n |  \
        \                 from Call Control                           |\n |      \
        \                 (128 bits / 16 bytes)                   |\n |          \
        \                 (this is binary data)               |\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n\
        \n 11\n   Static bits 11, always set to 11 to easily distinguish forked media\n\
        \   from RTP (10) and T.38 media (usually 00) and SIP (which begins\n   with\
        \ a capital letter, so begins with bits 01). This is a magic number.\n\n Version\n\
        \   Four bits to indicate the version number of the protocol, starting at\
        \ 0001.\n\n L\n   One bit to represent the leg of the call (A or B).\n   0\
        \ represents the A (first) leg of the call.\n   1 represents the B (second)\
        \ leg of the call.\n\n D\n   One bit to represent the direction of this RTP\
        \ stream.\n   0 represents media received by Telnyx.\n   1 represents media\
        \ transmitted by Telnyx.\n\n HeaderLen (1 byte)\n   The length of the header\
        \ in bytes.\n   Note that this value does not include the length of the payload.\
        \ The total\n   size of the RTP can be calculated by subtracting the HeaderLen\
        \ from the UDP\n   length (minus 8 for the UDP header).\n   In version 1,\
        \ this value will always be 24.\n\n Reserved (6 bytes)\n   Reserved for future\
        \ use and to make sure that the header is a multiple of 32 bits\n\n Call Leg\
        \ ID\n   A 128-bit identifier for the call leg.\n   This is the call_leg_id\
        \ from Call Control.\n```\n"
      operationId: callForkStart
      parameters:
      - description: Unique identifier and token for controlling the call
        explode: false
        in: path
        name: call_control_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartForkingRequest'
        description: Fork media request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Command_Response'
          description: Successful response upon making a call control command.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Forking start
      tags:
      - Call Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /calls/{call_control_id}/actions/fork_stop:
    post:
      callbacks:
        callForkStopped:
          '{$request.body#/webhook_url}':
            post:
              operationId: callForkStopped_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallForkStoppedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
      description: |
        Stop forking a call.

        **Expected Webhooks:**

        - `call.fork.stopped`
      operationId: callForkStop
      parameters:
      - description: Unique identifier and token for controlling the call
        explode: false
        in: path
        name: call_control_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopForkingRequest'
        description: Stop forking media request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Command_Response'
          description: Successful response upon making a call control command.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Forking stop
      tags:
      - Call Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /calls/{call_control_id}/actions/gather_stop:
    post:
      callbacks:
        callGatherEnded:
          '{$request.body#/webhook_url}':
            post:
              operationId: callGatherEnded_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallGatherEndedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
      description: |
        Stop current gather.

        **Expected Webhooks:**

        - `call.gather.ended`
      operationId: callGatherStop
      parameters:
      - description: Unique identifier and token for controlling the call
        explode: false
        in: path
        name: call_control_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopGatherRequest'
        description: Stop current gather
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Command_Response'
          description: Successful response upon making a call control command.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Gather stop
      tags:
      - Call Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /calls/{call_control_id}/actions/gather_using_audio:
    post:
      callbacks:
        callPlaybackStarted:
          '{$request.body#/webhook_url}':
            post:
              operationId: callPlaybackStarted_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallPlaybackStartedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        callPlaybackEnded:
          '{$request.body#/webhook_url}':
            post:
              operationId: callPlaybackEnded_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallPlaybackEndedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        callDtmfReceived:
          '{$request.body#/webhook_url}':
            post:
              operationId: callDtmfReceived_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallDtmfReceivedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        callGatherEnded:
          '{$request.body#/webhook_url}':
            post:
              operationId: callGatherEnded_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallGatherEndedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
      description: |
        Play an audio file on the call until the required DTMF signals are gathered to build interactive menus.

        You can pass a list of valid digits along with an 'invalid_audio_url', which will be played back at the beginning of each prompt. Playback will be interrupted when a DTMF signal is received. The [Answer](/docs/api/v2/call-control/Call-Commands#CallControlAnswer) command must be issued before the `gather_using_audio` command.

        **Expected Webhooks:**

        - `call.playback.started`
        - `call.playback.ended`
        - `call.dtmf.received` (you may receive many of these webhooks)
        - `call.gather.ended`
      operationId: callGatherUsingAudio
      parameters:
      - description: Unique identifier and token for controlling the call
        explode: false
        in: path
        name: call_control_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatherUsingAudioRequest'
        description: Gather using audio request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Command_Response'
          description: Successful response upon making a call control command.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Gather using audio
      tags:
      - Call Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /calls/{call_control_id}/actions/gather_using_speak:
    post:
      callbacks:
        callDtmfReceived:
          '{$request.body#/webhook_url}':
            post:
              operationId: callDtmfReceived_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallDtmfReceivedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        callGatherEnded:
          '{$request.body#/webhook_url}':
            post:
              operationId: callGatherEnded_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallGatherEndedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
      description: |
        Convert text to speech and play it on the call until the required DTMF signals are gathered to build interactive menus.

        You can pass a list of valid digits along with an 'invalid_payload', which will be played back at the beginning of each prompt. Speech will be interrupted when a DTMF signal is received. The [Answer](/docs/api/v2/call-control/Call-Commands#CallControlAnswer) command must be issued before the `gather_using_speak` command.

        **Expected Webhooks:**

        - `call.dtmf.received` (you may receive many of these webhooks)
        - `call.gather.ended`
      operationId: callGatherUsingSpeak
      parameters:
      - description: Unique identifier and token for controlling the call
        explode: false
        in: path
        name: call_control_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatherUsingSpeakRequest'
        description: Gather using speak request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Command_Response'
          description: Successful response upon making a call control command.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Gather using speak
      tags:
      - Call Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /calls/{call_control_id}/actions/hangup:
    post:
      callbacks:
        callHangup:
          '{$request.body#/webhook_url}':
            post:
              operationId: callHangup_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallHangupEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        callRecordingSaved:
          '{$request.body#/webhook_url}':
            post:
              operationId: callRecordingSaved_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallRecordingSavedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
      description: |
        Hang up the call.

        **Expected Webhooks:**

        - `call.hangup`
        - `call.recording.saved`
      operationId: callHangup
      parameters:
      - description: Unique identifier and token for controlling the call
        explode: false
        in: path
        name: call_control_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HangupRequest'
        description: Hangup request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Command_Response'
          description: Successful response upon making a call control command.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Hangup call
      tags:
      - Call Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /calls/{call_control_id}/actions/playback_start:
    post:
      callbacks:
        callPlaybackStarted:
          '{$request.body#/webhook_url}':
            post:
              operationId: callPlaybackStarted_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallPlaybackStartedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        callPlaybackEnded:
          '{$request.body#/webhook_url}':
            post:
              operationId: callPlaybackEnded_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallPlaybackEndedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
      description: |
        Play an audio file on the call. If multiple play audio commands are issued consecutively,
        the audio files will be placed in a queue awaiting playback.

        *Notes:*

        - When `overlay` is enabled, `loop` is limited to 1, and `target_legs` is limited to `self`.
        - A customer cannot Play Audio with `overlay=true` unless there is a Play Audio with `overlay=false` actively playing.

        **Expected Webhooks:**

        - `call.playback.started`
        - `call.playback.ended`
      operationId: callPlaybackStart
      parameters:
      - description: Unique identifier and token for controlling the call
        explode: false
        in: path
        name: call_control_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayAudioUrlRequest'
        description: Play audio URL request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Command_Response'
          description: Successful response upon making a call control command.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Play audio URL
      tags:
      - Call Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /calls/{call_control_id}/actions/playback_stop:
    post:
      callbacks:
        callPlaybackEnded:
          '{$request.body#/webhook_url}':
            post:
              operationId: callPlaybackEnded_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallPlaybackEndedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        callSpeakEnded:
          '{$request.body#/webhook_url}':
            post:
              operationId: callSpeakEnded_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallSpeakEndedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
      description: |
        Stop audio being played on the call.

        **Expected Webhooks:**

        - `call.playback.ended` or `call.speak.ended`
      operationId: callPlaybackStop
      parameters:
      - description: Unique identifier and token for controlling the call
        explode: false
        in: path
        name: call_control_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaybackStopRequest'
        description: Stop audio playback request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Command_Response'
          description: Successful response upon making a call control command.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Stop audio playback
      tags:
      - Call Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /calls/{call_control_id}/actions/record_start:
    post:
      description: |
        Start recording the call. Recording will stop on call hang-up, or can be initiated via the Stop Recording command.

        **Expected Webhooks:**

        - `call.recording.saved`
      operationId: callRecordStart
      parameters:
      - description: Unique identifier and token for controlling the call
        explode: false
        in: path
        name: call_control_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartRecordingRequest'
        description: Start recording audio request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Command_Response'
          description: Successful response upon making a call control command.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Recording start
      tags:
      - Call Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /calls/{call_control_id}/actions/record_stop:
    post:
      callbacks:
        callRecordingSaved:
          '{$request.body#/webhook_url}':
            post:
              operationId: callRecordingSaved_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallRecordingSavedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
      description: |
        Stop recording the call.

        **Expected Webhooks:**

        - `call.recording.saved`
      operationId: callRecordStop
      parameters:
      - description: Unique identifier and token for controlling the call
        explode: false
        in: path
        name: call_control_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopRecordingRequest'
        description: Stop recording call request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Command_Response'
          description: Successful response upon making a call control command.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Recording stop
      tags:
      - Call Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /calls/{call_control_id}/actions/reject:
    post:
      callbacks:
        callHangup:
          '{$request.body#/webhook_url}':
            post:
              operationId: callHangup_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallHangupEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
      description: |
        Reject an incoming call.

        **Expected Webhooks:**

        - `call.hangup`
      operationId: callReject
      parameters:
      - description: Unique identifier and token for controlling the call
        explode: false
        in: path
        name: call_control_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RejectRequest'
        description: Reject request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Command_Response'
          description: Successful response upon making a call control command.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Reject a call
      tags:
      - Call Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /calls/{call_control_id}/actions/send_dtmf:
    post:
      description: |
        Sends DTMF tones from this leg. DTMF tones will be heard by the other end of the call.

        **Expected Webhooks:**

        There are no webhooks associated with this command.
      operationId: callSendDTMF
      parameters:
      - description: Unique identifier and token for controlling the call
        explode: false
        in: path
        name: call_control_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendDTMFRequest'
        description: Send DTMF request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Command_Response'
          description: Successful response upon making a call control command.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Send DTMF
      tags:
      - Call Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /calls/{call_control_id}/actions/speak:
    post:
      callbacks:
        callSpeakStarted:
          '{$request.body#/webhook_url}':
            post:
              operationId: callSpeakStarted_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallSpeakStartedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        callSpeakEnded:
          '{$request.body#/webhook_url}':
            post:
              operationId: callSpeakEnded_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallSpeakEndedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
      description: |
        Convert text to speech and play it back on the call. If multiple speak text commands are issued consecutively, the audio files will be placed in a queue awaiting playback.

        **Expected Webhooks:**

        - `call.speak.started`
        - `call.speak.ended`
      operationId: callSpeak
      parameters:
      - description: Unique identifier and token for controlling the call
        explode: false
        in: path
        name: call_control_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpeakRequest'
        description: Speak request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Command_Response'
          description: Successful response upon making a call control command.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Speak text
      tags:
      - Call Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /calls/{call_control_id}/actions/transfer:
    post:
      callbacks:
        callInitiated:
          '{$request.body#/webhook_url}':
            post:
              operationId: callInitiated_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallInitiatedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        callBridged:
          '{$request.body#/webhook_url}':
            post:
              operationId: callBridged_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallBridgedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        callAnswered:
          '{$request.body#/webhook_url}':
            post:
              operationId: callAnswered_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallAnsweredEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        callHangup:
          '{$request.body#/webhook_url}':
            post:
              operationId: callHangup_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallHangupEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
      description: |
        Transfer a call to a new destination. If the transfer is unsuccessful, a `call.hangup` webhook for the other call (Leg B) will be sent indicating that the transfer could not be completed. The original call will remain active and may be issued additional commands, potentially transfering the call to an alternate destination.

        **Expected Webhooks:**

        - `call.initiated`
        - `call.bridged` to Leg B
        - `call.answered` or `call.hangup`
        - `call.machine.detection.ended` if `answering_machine_detection` was requested
        - `call.machine.greeting.ended` if `answering_machine_detection` was requested to detect the end of machine greeting
        - `call.machine.premium.detection.ended` if `answering_machine_detection=premium` was requested
        - `call.machine.premium.greeting.ended` if `answering_machine_detection=premium` was requested and a beep was detected
      operationId: callTransfer
      parameters:
      - description: Unique identifier and token for controlling the call
        explode: false
        in: path
        name: call_control_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferCallRequest'
        description: Transfer call request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Command_Response'
          description: Successful response upon making a call control command.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Transfer call
      tags:
      - Call Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /conferences:
    get:
      description: Lists conferences. Conferences are created on demand, and will
        expire after all participants have left the conference or after 4 hours regardless
        of the number of active participants. Conferences are listed in descending
        order by `expires_at`.
      operationId: listConferences
      parameters:
      - description: If present, conferences will be filtered to those with a matching
          `name` attribute. Matching is case-sensitive
        explode: true
        in: query
        name: filter[name]
        required: false
        schema:
          type: string
        style: form
      - description: The page number to load
        explode: true
        in: query
        name: page[number]
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: The size of the page
        explode: true
        in: query
        name: page[size]
        required: false
        schema:
          default: 20
          maximum: 250
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List_Conferences_Response'
          description: Successful response with a list of conferences.
        "401":
          description: Unauthorized
        "422":
          description: Unprocessable entity
      summary: List conferences
      tags:
      - Conference Commands
      x-latency-category: responsive
      x-group-parameters: "true"
      x-accepts: application/json
    post:
      callbacks:
        conferenceCreated:
          '{$request.body#/webhook_url}':
            post:
              operationId: conferenceCreated_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ConferenceCreatedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        conferenceParticipantJoined:
          '{$request.body#/webhook_url}':
            post:
              operationId: conferenceParticipantJoined_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ConferenceParticipantJoinedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        conferenceEnded:
          '{$request.body#/webhook_url}':
            post:
              operationId: conferenceEnded_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ConferenceEndedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        conferenceParticipantLeft:
          '{$request.body#/webhook_url}':
            post:
              operationId: conferenceParticipantLeft_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ConferenceParticipantLeftEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
      description: |
        Create a conference from an existing call leg using a `call_control_id` and a conference name. Upon creating the conference, the call will be automatically bridged to the conference. Conferences will expire after all participants have left the conference or after 4 hours regardless of the number of active participants.

        **Expected Webhooks:**

        - `conference.created`
        - `conference.participant.joined`
        - `conference.participant.left`
        - `conference.ended`
        - `conference.recording.saved`
      operationId: createConference
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConferenceRequest'
        description: Create a conference
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conference_Response'
          description: Successful response with details about a conference.
        "401":
          description: Unauthorized
        "422":
          description: Unprocessable entity
      summary: Create conference
      tags:
      - Conference Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /conferences/{conference_id}/participants:
    get:
      description: Lists conference participants
      operationId: listConferenceParticipants
      parameters:
      - description: Uniquely identifies the conference by id or name
        explode: false
        in: path
        name: conference_id
        required: true
        schema:
          type: string
        style: simple
      - description: If present, participants will be filtered to those who are/are
          not muted
        explode: true
        in: query
        name: filter[muted]
        required: false
        schema:
          type: boolean
        style: form
      - description: If present, participants will be filtered to those who are/are
          not put on hold
        explode: true
        in: query
        name: filter[on_hold]
        required: false
        schema:
          type: boolean
        style: form
      - description: If present, participants will be filtered to those who are whispering
          or are not
        explode: true
        in: query
        name: filter[whispering]
        required: false
        schema:
          type: boolean
        style: form
      - description: The page number to load
        explode: true
        in: query
        name: page[number]
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: The size of the page
        explode: true
        in: query
        name: page[size]
        required: false
        schema:
          default: 20
          maximum: 250
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List_Participants_Response'
          description: Successful response with a list of conference participants.
        "401":
          description: Unauthorized
        "404":
          description: Conference does not exist
        "422":
          description: Unprocessable entity
      summary: List conference participants
      tags:
      - Conference Commands
      x-group-parameters: "true"
      x-latency-category: interactive
      x-accepts: application/json
  /conferences/{id}:
    get:
      description: Retrieve an existing conference
      operationId: retrieveConference
      parameters:
      - description: Uniquely identifies the conference by id or name
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conference_Response'
          description: Successful response with details about a conference.
        "404":
          description: Conference does not exist
      summary: Retrieve a conference
      tags:
      - Conference Commands
      x-latency-category: interactive
      x-accepts: application/json
  /conferences/{id}/actions/dial_participant:
    post:
      callbacks:
        callAnswered:
          '{$request.body#/webhook_url}':
            post:
              operationId: callAnswered_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallAnsweredEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        callHangup:
          '{$request.body#/webhook_url}':
            post:
              operationId: callHangup_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallHangupEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        conferenceParticipantJoined:
          '{$request.body#/webhook_url}':
            post:
              operationId: conferenceParticipantJoined_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ConferenceParticipantJoinedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        conferenceParticipantLeft:
          '{$request.body#/webhook_url}':
            post:
              operationId: conferenceParticipantLeft_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ConferenceParticipantLeftEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
      description: |
        Dials a phone number and, when the call is answered, automatically joins them into the specified conference.

        **Expected Webhooks:**

        - `call.hangup`
        - `call.answered`
        - `conference.participant.joined`
        - `conference.participant.left`
      operationId: conferenceDialParticipantIn
      parameters:
      - description: Uniquely identifies the conference by id or name
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConferenceCallRequest'
        description: Dial Into Conference request object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conference_Command_Response'
          description: Successful response upon making a conference command.
        "401":
          description: Unauthorized
        "404":
          description: Conference does not exist
        "422":
          description: Unprocessable entity
      summary: Dial a new participant into a conference
      tags:
      - Conference Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /conferences/{id}/actions/hold:
    post:
      description: Hold a list of participants in a conference call
      operationId: conferenceHoldParticipants
      parameters:
      - description: Uniquely identifies the conference by id or name
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConferenceHoldRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conference_Command_Response'
          description: Successful response upon making a conference command.
        "401":
          description: Unauthorized
        "404":
          description: Conference does not exist
        "422":
          description: Unprocessable entity
      summary: Hold conference participants
      tags:
      - Conference Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /conferences/{id}/actions/join:
    post:
      callbacks:
        conferenceParticipantJoined:
          '{$request.body#/webhook_url}':
            post:
              operationId: conferenceParticipantJoined_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ConferenceParticipantJoinedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        conferenceParticipantLeft:
          '{$request.body#/webhook_url}':
            post:
              operationId: conferenceParticipantLeft_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ConferenceParticipantLeftEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
      description: |
        Join an existing call leg to a conference. Issue the Join Conference command with the conference ID in the path and the `call_control_id` of the leg you wish to join to the conference as an attribute.

        **Expected Webhooks:**

        - `conference.participant.joined`
        - `conference.participant.left`
      operationId: conferenceJoin
      parameters:
      - description: Uniquely identifies the conference by id or name
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JoinConferenceRequest'
        description: Join Conference request object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conference_Command_Response'
          description: Successful response upon making a conference command.
        "401":
          description: Unauthorized
        "422":
          description: Unprocessable entity
      summary: Join a conference
      tags:
      - Conference Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /conferences/{id}/actions/mute:
    post:
      description: Mute a list of participants in a conference call
      operationId: conferenceMuteParticipants
      parameters:
      - description: Uniquely identifies the conference by id or name
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConferenceMuteRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conference_Command_Response'
          description: Successful response upon making a conference command.
        "401":
          description: Unauthorized
        "404":
          description: Conference does not exist
        "422":
          description: Unprocessable entity
      summary: Mute conference participants
      tags:
      - Conference Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /conferences/{id}/actions/play:
    post:
      callbacks:
        conferencePlaybackStarted:
          '{$request.body#/webhook_url}':
            post:
              operationId: conferencePlaybackStarted_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ConferencePlaybackStartedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        conferencePlaybackEnded:
          '{$request.body#/webhook_url}':
            post:
              operationId: conferencePlaybackEnded_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ConferencePlaybackEndedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        conferenceParticipantPlaybackStarted:
          '{$request.body#/webhook_url}':
            post:
              operationId: conferenceParticipantPlaybackStarted_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ConferenceParticipantPlaybackStartedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        conferenceParticipantPlaybackEnded:
          '{$request.body#/webhook_url}':
            post:
              operationId: conferenceParticipantPlaybackEnded_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ConferenceParticipantPlaybackEndedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
      description: Play audio to all or some participants on a conference call.
      operationId: conferencePlayAudio
      parameters:
      - description: Uniquely identifies the conference by id or name
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConferencePlayRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conference_Command_Response'
          description: Successful response upon making a conference command.
        "401":
          description: Unauthorized
        "404":
          description: Conference does not exist
        "422":
          description: Unprocessable entity
      summary: Play audio to conference participants
      tags:
      - Conference Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /conferences/{id}/actions/record_start:
    post:
      description: |-
        Start recording the conference. Recording will stop on conference end, or via the Stop Recording command.

        **Expected Webhooks:**

        - `conference.recording.saved`
      operationId: conferenceStartRecording
      parameters:
      - description: Specifies the conference to record by id or name
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartRecordingRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conference_Command_Response'
          description: Successful response upon making a conference command.
        "401":
          description: Unauthorized
        "404":
          description: Conference does not exist
        "422":
          description: Unprocessable entity
      summary: Conference recording start
      tags:
      - Conference Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /conferences/{id}/actions/record_stop:
    post:
      description: |
        Stop recording the conference.

        **Expected Webhooks:**

        - `conference.recording.saved`
      operationId: conferenceStopRecording
      parameters:
      - description: Specifies the conference to stop the recording for by id or name
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopRecordingRequest'
        description: Stop recording conference request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conference_Command_Response'
          description: Successful response upon making a conference command.
        "401":
          description: Unauthorized
        "404":
          description: Conference does not exist
        "422":
          description: Unprocessable entity
      summary: Conference recording stop
      tags:
      - Conference Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /conferences/{id}/actions/speak:
    post:
      callbacks:
        conferenceSpeakStarted:
          '{$request.body#/webhook_url}':
            post:
              operationId: conferenceSpeakStarted_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ConferenceSpeakStartedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        conferenceSpeakEnded:
          '{$request.body#/webhook_url}':
            post:
              operationId: conferenceSpeakEnded_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ConferenceSpeakEndedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        conferenceParticipantSpeakStarted:
          '{$request.body#/webhook_url}':
            post:
              operationId: conferenceParticipantSpeakStarted_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ConferenceParticipantSpeakStartedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
        conferenceParticipantSpeakEnded:
          '{$request.body#/webhook_url}':
            post:
              operationId: conferenceParticipantSpeakEnded_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ConferenceParticipantSpeakEndedEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
      description: Convert text to speech and play it to all or some participants.
      operationId: conferenceSpeakText
      parameters:
      - description: Specifies the conference by id or name
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConferenceSpeakRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conference_Command_Response'
          description: Successful response upon making a conference command.
        "401":
          description: Unauthorized
        "404":
          description: Conference does not exist
        "422":
          description: Unprocessable entity
      summary: Speak text to conference participants
      tags:
      - Conference Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /conferences/{id}/actions/unhold:
    post:
      description: Unhold a list of participants in a conference call
      operationId: conferenceUnholdParticipants
      parameters:
      - description: Uniquely identifies the conference by id or name
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConferenceUnholdRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conference_Command_Response'
          description: Successful response upon making a conference command.
        "401":
          description: Unauthorized
        "404":
          description: Conference does not exist
        "422":
          description: Unprocessable entity
      summary: Unhold conference participants
      tags:
      - Conference Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /conferences/{id}/actions/unmute:
    post:
      description: Unmute a list of participants in a conference call
      operationId: conferenceUnmuteParticipants
      parameters:
      - description: Uniquely identifies the conference by id or name
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConferenceUnmuteRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conference_Command_Response'
          description: Successful response upon making a conference command.
        "401":
          description: Unauthorized
        "404":
          description: Conference does not exist
        "422":
          description: Unprocessable entity
      summary: Unmute conference participants
      tags:
      - Conference Commands
      x-latency-category: interactive
      x-contentType: application/json
      x-accepts: application/json
  /messages:
    post:
      callbacks:
        deliveryUpdate:
          '{$request.body#/webhook_url}':
            post:
              operationId: deliveryUpdate_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/OutboundMessageEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
      description: |
        Send a message with a Phone Number, Alphanumeric Sender ID, Short Code or Number Pool.

        This endpoint allows you to send a message with any messaging resource.
        Current messaging resources include: long-code, short-code, number-pool, and
        alphanumeric-sender-id.
      operationId: createMessage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMessageRequest'
        description: Message payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message_Response'
          description: Successful response with details about a message.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Send a message
      tags:
      - Messages
      x-latency-category: responsive
      x-contentType: application/json
      x-accepts: application/json
  /messages/long_code:
    post:
      callbacks:
        deliveryUpdate:
          '{$request.body#/webhook_url}':
            post:
              operationId: deliveryUpdate_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/OutboundMessageEvent'
                required: true
              responses:
                "200":
                  description: The server must return an HTTP 200, otherwise we will
                    reattempt delivery at the failover webhook URL.
              x-callback-request: true
      operationId: createLongCodeMessage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLongCodeMessageRequest'
        description: Message payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message_Response'
          description: Successful response with details about a message.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Send a long code message
      tags:
      - Messages
      x-latency-category: responsive
      x-contentType: application/json
      x-accepts: application/json
  /messages/number_pool:
    post:
      callbacks:
        deliveryUpdate:
          '{$request.body#/webhook_url}':
            post:
              operationId: deliveryUpdate_Post
              requestBody:
                content:
                  application/json:
                    schema:
[...]
