openapi: 3.0.0
info:
  contact:
    email: support@telnyx.com
  description: "SIP trunking, SMS, MMS, Call Control and Telephony Data Services."
  title: Telnyx API
  version: 2.0.0
servers:
- description: Telnyx's Communication API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Access Tokens creation
  name: Access Tokens
- description: Address operations
  name: Addresses
- description: Advanced OptIn/OptOut
  name: Advanced OptIn/OptOut
- description: Configure AI assistant specifications
  name: Assistants
- description: Turn audio into text or text into audio.
  name: Audio
- description: Authentication Provider operations
  name: Authentication Providers
- description: V2 Auto Recharge Preferences API
  name: AutoRechargePreferences
- description: Billing operations
  name: Billing
- description: Billing groups operations
  name: Billing Groups
- description: Brand operations
  name: Brands
- description: Bucket Usage operations
  name: Bucket Usage
- description: Bulk operations over Credentials
  name: Bulk Credentials
- description: Phone number campaign bulk assignment
  name: Bulk Phone Number Campaigns
- description: Background jobs performed over a batch of phone numbers
  name: Bulk Phone Number Operations
- description: "Endpoints for creating and checking the status of campaigns, brands,\
    \ and phone numbers"
  name: Bulk Small Business
- description: Business Identity related endpoints
  name: Business Identity
- description: Call Control command operations
  name: Call Commands
- description: Call Control applications operations
  name: Call Control Applications
- description: Call information
  name: Call Information
- description: Call Recordings operations.
  name: Call Recordings
- description: Campaign operations
  name: Campaign
- description: Channel zones
  name: Channel zones
- description: Generate text with LLMs
  name: Chat
- description: Conference command operations
  name: Conference Commands
- description: Connections operations
  name: Connections
- description: Credential connection operations
  name: Credential Connections
- description: Credentials operations
  name: Credentials
- description: Customer Service Record operations
  name: Customer Service Record
- description: Call Control debugging
  name: Debugging
- description: Detail Records operations
  name: Detail Records
- description: Dialogflow Connection Operations.
  name: Dialogflow Integration
- description: Documents
  name: Documents
- description: Dynamic emergency address operations
  name: Dynamic Emergency Addresses
- description: Dynamic Emergency Endpoints
  name: Dynamic Emergency Endpoints
- description: Embed documents and perform text searches
  name: Embeddings
- description: External Connections operations
  name: External Connections
- description: FQDN connection operations
  name: FQDN Connections
- description: FQDN operations
  name: FQDNs
- description: Global IPs
  name: Global IPs
- description: IP Address Operations
  name: IP Addresses
- description: IP connection operations
  name: IP Connections
- description: IP Range Operations
  name: IP Ranges
- description: IP operations
  name: IPs
- description: Inbound channels operations
  name: Inbound Channels
- description: Inventory Level
  name: Inventory Level
- description: Managed Accounts operations
  name: Managed Accounts
- description: Media Storage operations
  name: Media Storage API
- description: Messages
  name: Messages
- description: Manage your messaging hosted numbers
  name: Messaging Hosted Number
- description: Messaging profiles
  name: Messaging Profiles
- description: Manage your tollfree verification requests
  name: Messaging Tollfree Verification
- description: Messaging URL Domains
  name: Messaging URL Domains
- description: Mobile network operators operations
  name: Mobile Network Operators
- description: Network operations
  name: Networks
- description: Notification settings operations
  name: Notifications
- description: Configure your phone numbers
  name: Number Configurations
- description: Look up phone number data
  name: Number Lookup
- description: Number portout operations
  name: Number Portout
- description: OTA updates operations
  name: OTA updates
- description: Outbound voice profiles operations
  name: Outbound Voice Profiles
- description: Background jobs performed over a phone-numbers block's phone numbers
  name: Phone Number Blocks Background Jobs
- description: Phone number campaign assignment
  name: Phone Number Campaigns
- description: Configure your phone numbers
  name: Phone Number Configurations
- description: Number order documents
  name: Phone Number Order Documents
- description: Number orders
  name: Phone Number Orders
- description: Determining portability of phone numbers
  name: Phone Number Porting
- description: Number reservations
  name: Phone Number Reservations
- description: Number search
  name: Phone Number Search
- description: Porting Order operation
  name: Porting Order
- description: Presigned object URL operations
  name: Presigned Object URLs
- description: Private Wireless Gateways operations
  name: Private Wireless Gateways
- description: Fax Applications operations
  name: Programmable Fax Applications
- description: Programmable fax command operations
  name: Programmable Fax Commands
- description: Public Internet Gateway operations
  name: Public Internet Gateways
- description: Mobile push credential management
  name: Push Credentials
- description: Queue commands operations
  name: Queue Commands
- description: Regions
  name: Regions
- description: Register Call commands
  name: Register Call
- description: Wireless reporting operations
  name: Reporting
- description: Types of requirements for international numbers and porting orders
  name: Requirement Types
- description: Requirements for international numbers and porting orders
  name: Requirements
- description: Rooms Compositions operations.
  name: Room Compositions
- description: Rooms Participants operations.
  name: Room Participants
- description: Rooms Recordings operations.
  name: Room Recordings
- description: Rooms Sessions operations.
  name: Room Sessions
- description: Rooms operations.
  name: Rooms
- description: Rooms Client Tokens operations.
  name: Rooms Client Tokens
- description: "View SIM card actions, their progress and timestamps using the SIM\
    \ Card Actions API"
  name: SIM Card Actions
- description: SIM Card Group actions operations
  name: SIM Card Group Actions
- description: SIM Card Groups operations
  name: SIM Card Groups
- description: SIM Card Orders operations
  name: SIM Card Orders
- description: SIM Cards operations
  name: SIM Cards
- description: Short codes
  name: Short Codes
- description: TeXML Applications operations
  name: TeXML Applications
- description: TeXML REST Commands
  name: TeXML REST Commands
- description: Verified Calls Display Profile related endpoints
  name: Verified Calls Display Profile
- description: ""
  name: Verified Numbers
- description: Two factor authentication API
  name: Verify
- description: Virtual Cross Connect operations
  name: Virtual Cross Connects
- description: Webhooks operations
  name: Webhooks
- description: WireGuard Interface operations
  name: WireGuard Interfaces
- description: Wireless operations
  name: Wireless
paths:
  /:
    get:
      description: List all Buckets.
      externalDocs:
        url: https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListBuckets.html
      operationId: ListBuckets
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ListBucketsResponse'
          description: Success
      summary: ListBuckets
      tags:
      - Bucket
      x-latency-category: responsive
      x-accepts: text/xml
  /access_ip_address:
    get:
      operationId: ListAccessIpAddresses
      parameters:
      - explode: true
        in: query
        name: "filter[ip_source]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[ip_address]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gt]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lt]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 20
          maximum: 250
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessIPAddressListResponseSchema'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Validation Error
      summary: List all Access IP Addresses
      tags:
      - IP Addresses
      x-latency-category: responsive
      x-accepts: application/json
    post:
      operationId: CreateAccessIpAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessIPAddressPOST'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessIPAddressResponseSchema'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Validation Error
      summary: Create new Access IP Address
      tags:
      - IP Addresses
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /access_ip_address/{access_ip_address_id}:
    delete:
      operationId: DeleteAccessIpAddress
      parameters:
      - explode: false
        in: path
        name: access_ip_address_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessIPAddressResponseSchema'
          description: Successful Response
      summary: Delete access IP address
      tags:
      - IP Addresses
      x-latency-category: responsive
      x-accepts: application/json
    get:
      operationId: GetAccessIpAddress
      parameters:
      - explode: false
        in: path
        name: access_ip_address_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessIPAddressResponseSchema'
          description: Successful Response
      summary: Retrieve an access IP address
      tags:
      - IP Addresses
      x-latency-category: responsive
      x-accepts: application/json
  /access_ip_ranges:
    get:
      operationId: ListAccessIpRanges
      parameters:
      - explode: true
        in: query
        name: "filter[cidr_block]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[cidr_block][startswith]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[cidr_block][endswith]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[cidr_block][contains]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gt]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lt]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 20
          maximum: 250
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessIPRangeListResponseSchema'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Validation Error
      summary: List all Access IP Ranges
      tags:
      - IP Ranges
      x-latency-category: responsive
      x-accepts: application/json
    post:
      operationId: CreateAccessIPRange
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessIPRangePOST'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessIPRangeResponseSchema'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Validation Error
      summary: Create new Access IP Range
      tags:
      - IP Ranges
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /access_ip_ranges/{access_ip_range_id}:
    delete:
      parameters:
      - explode: false
        in: path
        name: access_ip_range_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessIPRangeResponseSchema'
          description: Successful Response
      summary: Delete access IP ranges
      tags:
      - IP Ranges
      x-latency-category: responsive
      x-accepts: application/json
  /actions/bulk/telephony_credentials:
    delete:
      description: Delete several credentials in bulk.
      operationId: DeleteTelephonyCredentials
      parameters:
      - description: "Filter by tag, required by bulk operations."
        explode: true
        in: query
        name: "filter[tag]"
        required: true
        schema:
          type: string
        style: form
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bulk_Credential_Response'
          description: Successful response for Bulk credential requests
        "422":
          description: Bad request
      summary: Delete several credentials
      tags:
      - Bulk Credentials
      x-latency-category: responsive
      x-accepts: application/json
    patch:
      description: Update several credentials in bulk.
      operationId: UpdateBulkTelephonyCredential
      parameters:
      - description: "Filter by tag, required by bulk operations."
        explode: true
        in: query
        name: "filter[tag]"
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkCredentialRequest'
        description: Parameters to update credentials on bulk
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bulk_Credential_Response'
          description: Successful response for Bulk credential requests
        "422":
          description: Bad request
      summary: Update several credentials
      tags:
      - Bulk Credentials
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
    post:
      description: Creates several credentials in bulk.
      operationId: CreateBulkTelephonyCredentials
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkCredentialRequest'
        description: Requested parameters to create credentials on bulk
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bulk_Credential_Response'
          description: Successful response for Bulk credential requests
        "422":
          description: Bad request
      summary: Creates several credentials
      tags:
      - Bulk Credentials
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /actions/network_preferences/sim_cards:
    put:
      description: |
        This API allows dispatching the same operation described for the PUT sim_cards/:sim_card_id/network_preferences API for multiple SIM cards at once.<br/><br/>
        Although, a SIM card network preference may fail individually under any validation triggered as a consequence of its state. For example, a SIM can't have an in-progress OTA update for applying a Network Preference, so they'll fail when requested in this API. In that scenario, the specific error will be present in the response along with the successful definitions in the "errors" response node.
      operationId: BulkSimCardNetworkPreferences
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkSimCardNetworkPreferences_request'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSimCardNetworkPreferences_202_response'
          description: ""
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unprocessable entity. Check the 'detail' field in response
            for details.
      summary: Bulk Network Preferences for SIM cards
      tags:
      - SIM Cards
      x-latency-category: background
      x-content-type: application/json
      x-accepts: application/json
  /actions/purchase/esims:
    post:
      description: |
        Purchases and registers the specified amount of eSIMs to the current user's account.<br/><br/>
        If <code>sim_card_group_id</code> is provided, the eSIMs will be associated with that group. Otherwise, the default group for the current user will be used.<br/><br/>
      operationId: PurchaseESim
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ESimPurchase'
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseESim_202_response'
          description: Successful response
      summary: Purchase eSIMs
      tags:
      - SIM Cards
      x-latency-category: background
      x-content-type: application/json
      x-accepts: application/json
  /actions/register/sim_cards:
    post:
      description: |
        Register the SIM cards associated with the provided registration codes to the current user's account.<br/><br/>
        If <code>sim_card_group_id</code> is provided, the SIM cards will be associated with that group. Otherwise, the default group for the current user will be used.<br/><br/>
      operationId: RegisterSimCards
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SIMCardRegistration'
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseESim_202_response'
          description: Successful response
      summary: Register SIM cards
      tags:
      - SIM Cards
      x-latency-category: background
      x-content-type: application/json
      x-accepts: application/json
  /actions/{action}/telephony_credentials:
    post:
      description: "Perform activate or deactivate action on all credentials filtered\
        \ by the provided tag. Activate action will change the status to active, making\
        \ it possible to connect calls with the credential. Deactivate action will\
        \ change the status to inactive, making it impossible to connect calls with\
        \ the credential."
      operationId: BulkCredentialAction
      parameters:
      - description: Identifies the action to be taken. Activate will change the status
          to active. Deactivate will change the status to inactive.
        explode: false
        in: path
        name: action
        required: true
        schema:
          enum:
          - activate
          - deactivate
          type: string
        style: simple
      - description: "Filter by tag, required by bulk operations."
        explode: true
        in: query
        name: "filter[tag]"
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bulk_Credential_Response'
          description: Successful response for Bulk credential requests
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
        "422":
          description: Bad request
      summary: Perform activate or deactivate action on all credentials filtered by
        the provided tag.
      tags:
      - Bulk Credentials
      x-latency-category: responsive
      x-accepts: application/json
  /addresses:
    get:
      description: Returns a list of your addresses.
      operationId: FindAddresses
      parameters:
      - description: The page number to load
        explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: The size of the page
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 20
          maximum: 250
          minimum: 1
          type: integer
        style: form
      - description: Filter addresses via the customer reference set. Matching is
          not case-sensitive.
        explode: true
        in: query
        name: "filter[customer_reference][eq]"
        required: false
        schema:
          type: string
        style: form
      - description: "If present, addresses with <code>customer_reference</code> containing\
          \ the given value will be returned. Matching is not case-sensitive."
        explode: true
        in: query
        name: "filter[customer_reference][contains]"
        required: false
        schema:
          type: string
        style: form
      - description: "If set as 'true', only addresses used as the emergency address\
          \ for at least one active phone-number will be returned. When set to 'false',\
          \ the opposite happens: only addresses not used as the emergency address\
          \ from phone-numbers will be returned."
        explode: true
        in: query
        name: "filter[used_as_emergency]"
        required: false
        schema:
          default: "null"
          type: string
        style: form
      - description: "If present, addresses with <code>street_address</code> containing\
          \ the given value will be returned. Matching is not case-sensitive. Requires\
          \ at least three characters."
        explode: true
        in: query
        name: "filter[street_address][contains]"
        required: false
        schema:
          default: "null"
          type: string
        style: form
      - description: "If present, only returns results with the <code>address_book</code>\
          \ flag set to the given value."
        explode: true
        in: query
        name: "filter[address_book][eq]"
        required: false
        schema:
          default: "null"
          type: string
        style: form
      - description: |-
          Specifies the sort order for results. By default sorting direction is ascending. To have the results sorted in descending order add the <code> -</code> prefix.<br/><br/>
          That is: <ul>
            <li>
              <code>street_address</code>: sorts the result by the
              <code>street_address</code> field in ascending order.
            </li>

            <li>
              <code>-street_address</code>: sorts the result by the
              <code>street_address</code> field in descending order.
            </li>
          </ul> <br/> If not given, results are sorted by <code>created_at</code> in descending order.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: created_at
          enum:
          - created_at
          - first_name
          - last_name
          - business_name
          - street_address
          example: street_address
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FindAddresses_200_response'
          description: Successful response
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
      summary: List all addresses
      tags:
      - Addresses
      x-endpoint-cost: medium
      x-latency-category: responsive
      x-accepts: application/json
    post:
      description: Creates an address.
      operationId: CreateAddress
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressCreate'
        description: Parameters that can be defined during address creation
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAddress_200_response'
          description: Successful response
        "422":
          description: Bad request
      summary: Creates an address
      tags:
      - Addresses
      x-endpoint-cost: medium
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /addresses/actions/validate:
    post:
      description: Validates an address for emergency services.
      operationId: ValidateAddress
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateAddressRequest'
        description: Parameters that can be defined during address validation
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Validate_address_action_response'
          description: Action response
        "422":
          description: Bad request
      summary: Validate an address
      tags:
      - Addresses
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /addresses/{id}:
    delete:
      description: Deletes an existing address.
      operationId: DeleteAddress
      parameters:
      - description: address ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAddress_200_response'
          description: Successful response
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
        "422":
          description: Bad request
      summary: Deletes an address
      tags:
      - Addresses
      x-latency-category: responsive
      x-accepts: application/json
    get:
      description: Retrieves the details of an existing address.
      operationId: GetAddress
      parameters:
      - description: address ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAddress_200_response'
          description: Successful response
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
        "422":
          description: Bad request
      summary: Retrieve an address
      tags:
      - Addresses
      x-latency-category: responsive
      x-accepts: application/json
  /addresses/{id}/actions/accept_suggestions:
    post:
      operationId: acceptAddressSuggestions
      parameters:
      - description: The UUID of the address that should be accepted.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptSuggestionsRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressSuggestionResponse'
          description: This address suggestion has already been accepted.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressSuggestionResponse'
          description: This address suggestion was accepted. The numbers associated
            to it will resume processing in the background.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundError'
          description: Address not found or not accessible by the user.
      summary: Accepts this address suggestion as a new emergency address for Operator
        Connect and finishes the uploads of the numbers associated with it to Microsoft.
      tags:
      - Addresses
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /ai/assistants:
    get:
      description: Retrieve a list of all AI Assistants configured by the user.
      operationId: get_assistants_public_assistants_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantsListData'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: List assistants
      tags:
      - Assistants
      x-latency-category: responsive
      x-accepts: application/json
    post:
      description: Create a new AI Assistant.
      operationId: create_new_assistant_public_assistants_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssistantRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assistant'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Create an assistant
      tags:
      - Assistants
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /ai/assistants/{assistant_id}:
    delete:
      description: Delete an AI Assistant by `assistant_id`.
      operationId: delete_assistant_public_assistants__assistant_id__delete
      parameters:
      - explode: false
        in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantDeletedResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Delete an assistant
      tags:
      - Assistants
      x-latency-category: responsive
      x-accepts: application/json
    get:
      description: Retrieve an AI Assistant configuration by `assistant_id`.
      operationId: get_assistant_public_assistants__assistant_id__get
      parameters:
      - explode: false
        in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assistant'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get an assistant
      tags:
      - Assistants
      x-latency-category: responsive
      x-accepts: application/json
    post:
      description: Update an AI Assistant's attributes.
      operationId: update_assistant_public_assistants__assistant_id__post
      parameters:
      - explode: false
        in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAssistantRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Update an assistant
      tags:
      - Assistants
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /ai/audio/transcriptions:
    post:
      description: "Transcribe speech to text. This endpoint is consistent with the\
        \ [OpenAI Transcription API](https://platform.openai.com/docs/api-reference/audio/createTranscription)\
        \ and may be used with the OpenAI JS or Python SDK."
      operationId: audio_public_audio_transcriptions_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranscriptionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranscriptionResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Transcribe speech to text (BETA)
      tags:
      - Audio
      x-latency-category: responsive
      x-content-type: multipart/form-data
      x-accepts: application/json
  /ai/chat/completions:
    post:
      description: "Chat with a language model. This endpoint is consistent with the\
        \ [OpenAI Chat Completions API](https://platform.openai.com/docs/api-reference/chat)\
        \ and may be used with the OpenAI JS or Python SDK."
      operationId: chat_public_chat_completions_post
      requestBody:
        content:
          application/json:
            example:
              messages:
              - role: system
                content: You are a friendly chatbot.
              - role: user
                content: "Hello, world!"
              model: NousResearch/Nous-Hermes-2-Mixtral-8x7B-DPO
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Create a chat completion
      tags:
      - Chat
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /ai/embeddings:
    post:
      description: |-
        Perform embedding on a Telnyx Storage Bucket using the a embedding model.
        The current supported file types are:
        - PDF
        - HTML
        - txt/unstructured text files
        - json
        - csv
        - audio / video (mp3, mp4, mpeg, mpga, m4a, wav, or webm ) - Max of 100mb file size.

        Any files not matching the above types will be attempted to be embedded as unstructured text.

        This process can be slow, so it runs in the background and the user can check
        the status of the task using the endpoint `/ai/embeddings/{task_id}`.

         **Important Note**: When you update documents in a Telnyx Storage bucket, their associated embeddings are automatically kept up to date. If you add or update a file, it is automatically embedded. If you delete a file, the embeddings are deleted for that particular file.

        You can also specify a custom `loader` param. Currently the only supported loader value is
        `intercom` which loads Intercom article jsons as specified by [the Intercom article API](https://developers.intercom.com/docs/references/rest-api/api.intercom.io/Articles/article/)
        This loader will split each article into paragraphs and save additional parameters relevant to Intercom docs, such as
        `article_url` and `heading`. These values will be returned by the `/v2/ai/embeddings/similarity-search` endpoint in the `loader_metadata` field.
      operationId: PostEmbedding
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingBucketRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Embed documents
      tags:
      - Embeddings
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /ai/embeddings/buckets:
    get:
      description: Get all embedding buckets for a user.
      operationId: GetEmbeddingBuckets
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserEmbeddedBucketsData'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: List embedded buckets
      tags:
      - Embeddings
      x-latency-category: responsive
      x-accepts: application/json
  /ai/embeddings/buckets/{bucket_name}:
    delete:
      description: "Deletes an entire bucket's embeddings and disables the bucket\
        \ for AI-use, returning it to normal storage pricing."
      operationId: embedding_bucket_files_public_embedding_buckets__bucket_name__delete
      parameters:
      - explode: false
        in: path
        name: bucket_name
        required: true
        schema:
          title: Bucket Name
          type: string
        style: simple
      responses:
        "200":
          description: Bucket Embeddings Deleted Successfully
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketNotFoundError'
          description: Bucket Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Disable AI for an Embedded Bucket
      tags:
      - Embeddings
      x-latency-category: responsive
      x-accepts: application/json
    get:
      description: "Get all embedded files for a given user bucket, including their\
        \ processing status."
      operationId: GetBucketName
      parameters:
      - explode: false
        in: path
        name: bucket_name
        required: true
        schema:
          title: Bucket Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsBucketFilesData'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get file-level embedding statuses for a bucket
      tags:
      - Embeddings
      x-latency-category: responsive
      x-accepts: application/json
  /ai/embeddings/similarity-search:
    post:
      description: "Perform a similarity search on a Telnyx Storage Bucket, returning\
        \ the most similar `num_docs` document chunks to the query.\n\nCurrently the\
        \ only available distance metric is cosine similarity which will return a\
        \ `distance` between 0 and 1.\nThe lower the distance, the more similar the\
        \ returned document chunks are to the query.\nA `certainty` will also be returned,\
        \ which is a value between 0 and 1 where the higher the certainty, the more\
        \ similar the document.\nYou can read more about Weaviate distance metrics\
        \ here: [Weaviate Docs](https://weaviate.io/developers/weaviate/config-refs/distances)\n\
        \nIf a bucket was embedded using a custom loader, such as `intercom`, the\
        \ additional metadata will be returned in the \n`loader_metadata` field."
      operationId: PostEmbeddingSimilaritySearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingSimilaritySearchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingSimilaritySearchResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Search for documents
      tags:
      - Embeddings
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /ai/embeddings/{task_id}:
    get:
      description: |-
        Check the status of a current embedding task. Will be one of the following:
        - `queued` - Task is waiting to be picked up by a worker
        - `processing` - The embedding task is running
        - `success` - Task completed successfully and the bucket is embedded
        - `failure` - Task failed and no files were embedded successfully
        - `partial_success` - Some files were embedded successfully, but at least one failed
      operationId: GetEmbeddingTask
      parameters:
      - explode: false
        in: path
        name: task_id
        required: true
        schema:
          title: Task Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get an embedding task's status
      tags:
      - Embeddings
      x-latency-category: responsive
      x-accepts: application/json
  /ai/models:
    get:
      description: "This endpoint returns a list of Open Source and OpenAI models\
        \ that are available for use. <br /><br /> **Note**: Model `id`'s will be\
        \ in the form `{source}/{model_name}`. For example `openai/gpt-4` or `mistralai/Mistral-7B-Instruct-v0.1`\
        \ consistent with HuggingFace naming conventions."
      operationId: get_models_public_models_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get available models
      tags:
      - Chat
      x-latency-category: responsive
      x-accepts: application/json
  /ai/summarize:
    post:
      description: "Generate a summary of a file's contents. \n\n Supports the following\
        \ text formats: \n- PDF, HTML, txt, json, csv\n\n Supports the following media\
        \ formats (billed for both the transcription and summary): \n- flac, mp3,\
        \ mp4, mpeg, mpga, m4a, ogg, wav, or webm\n- Up to 100 MB"
      operationId: PostSummary
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummaryRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryResponseData'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Summarize file content
      tags:
      - Chat
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /authentication_providers:
    get:
      description: Returns a list of your SSO authentication providers.
      operationId: FindAuthenticationProviders
      parameters:
      - description: The page number to load
        explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: The size of the page
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 20
          maximum: 250
          minimum: 1
          type: integer
        style: form
      - description: |-
          Specifies the sort order for results. By default sorting direction is ascending. To have the results sorted in descending order add the <code> -</code> prefix.<br/><br/>
          That is: <ul>
            <li>
              <code>name</code>: sorts the result by the
              <code>name</code> field in ascending order.
            </li>

            <li>
              <code>-name</code>: sorts the result by the
              <code>name</code> field in descending order.
            </li>
          </ul> <br/> If not given, results are sorted by <code>created_at</code> in descending order.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: -created_at
          enum:
          - name
          - -name
          - short_name
          - -short_name
          - active
          - -active
          - created_at
          - -created_at
          - updated_at
          - -updated_at
          example: name
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FindAuthenticationProviders_200_response'
          description: Successful response
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
      summary: List all SSO authentication providers
      tags:
      - Authentication Providers
      x-latency-category: responsive
      x-accepts: application/json
    post:
      description: Creates an authentication provider.
      operationId: CreateAuthenticationProvider
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationProviderCreate'
        description: Parameters that can be defined during authentication provider
          creation
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAuthenticationProvider_200_response'
          description: Successful response
        "422":
          description: Bad request
      summary: Creates an authentication provider
      tags:
      - Authentication Providers
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /authentication_providers/{id}:
    delete:
      description: Deletes an existing authentication provider.
      operationId: DeleteAuthenticationProvider
      parameters:
      - description: authentication provider ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAuthenticationProvider_200_response'
          description: Successful response
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
        "422":
          description: Bad request
      summary: Deletes an authentication provider
      tags:
      - Authentication Providers
      x-latency-category: responsive
      x-accepts: application/json
    get:
      description: Retrieves the details of an existing authentication provider.
      operationId: GetAuthenticationProvider
      parameters:
      - description: authentication provider ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAuthenticationProvider_200_response'
          description: Successful response
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
        "422":
          description: Bad request
      summary: Retrieve an authentication provider
      tags:
      - Authentication Providers
      x-latency-category: responsive
      x-accepts: application/json
    patch:
      description: Updates settings of an existing authentication provider.
      operationId: UpdateAuthenticationProvider
      parameters:
      - description: Identifies the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAuthenticationProviderRequest'
        description: Parameters that can be updated in a authentication provider
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAuthenticationProvider_200_response'
          description: Successful response
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
        "422":
          description: Bad request
      summary: Update a authentication provider
      tags:
      - Authentication Providers
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /available_phone_number_blocks:
    get:
      operationId: ListAvailablePhoneNumberBlocks
      parameters:
      - description: Filter number blocks that start with a pattern (meant to be used
          after `national_destination_code` filter has been set).
        explode: true
        in: query
        name: "filter[phone_number][starts_with]"
        required: false
        schema:
          example: "201"
          type: string
        style: form
      - description: Filter numbers ending with a pattern.
        explode: true
        in: query
        name: "filter[phone_number][ends_with]"
        required: false
        schema:
          example: "8000"
          type: string
        style: form
      - description: Filter numbers containing a pattern.
        explode: true
        in: query
        name: "filter[phone_number][contains]"
        required: false
        schema:
          example: "456"
          type: string
        style: form
      - description: Filter phone numbers by city.
        examples:
          US:
            value: Chicago
          CA:
            value: Toronto
          AU:
            value: Canberra
        explode: true
        in: query
        name: "filter[locality]"
        required: false
        schema:
          type: string
        style: form
      - description: Filter phone numbers by US state/CA province.
        explode: true
        in: query
        name: "filter[administrative_area]"
        required: false
        schema:
          example: IL
          type: string
        style: form
      - description: Filter phone numbers by ISO alpha-2 country code.
        explode: true
        in: query
        name: "filter[country_code]"
        required: false
        schema:
          example: US
          type: string
        style: form
      - description: Filter by the national destination code of the number. This filter
          is only applicable to North American numbers.
        examples:
          US:
            value: "312"
          CA:
            value: "437"
          AU:
            value: "0251"
        explode: true
        in: query
        name: "filter[national_destination_code]"
        required: false
        schema:
          type: string
        style: form
      - description: Filter phone numbers by NANP rate center. This filter is only
          applicable to North American numbers.
        explode: true
        in: query
        name: "filter[rate_center]"
        required: false
        schema:
          example: CHICAGO HEIGHTS
          type: string
        style: form
      - description: Filter phone numbers by number type.
        explode: true
        in: query
        name: "filter[number_type]"
        required: false
        schema:
          enum:
          - toll-free
          example: toll-free
          type: string
        style: form
      - description: "Filter if the phone number should be used for voice, fax, mms,\
          \ sms, emergency."
        explode: true
        in: query
        name: "filter[features]"
        required: false
        schema:
          example: "voice,sms"
          items:
            enum:
            - sms
            - mms
            - voice
            - fax
            - emergency
            type: string
          type: array
        style: form
      - description: Filter number blocks by minimum blocks size
        explode: true
        in: query
        name: "filter[minimum_block_size]"
        required: false
        schema:
          example: 100
          type: integer
        style: form
      - description: Limits the number of results.
        explode: true
        in: query
        name: "filter[limit]"
        required: false
        schema:
          example: 100
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List_Available_Phone_Numbers_Blocks_Response'
          description: Successful response with a list of available phone numbers
            blocks.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: List available phone number blocks
      tags:
      - Phone Number Search
      x-latency-category: responsive
      x-accepts: application/json
  /available_phone_numbers:
    get:
      operationId: ListAvailablePhoneNumbers
      parameters:
      - description: Filter numbers starting with a pattern (exclude NDC from start
          of this filter if used with `national_destination_code` filter).
        examples:
          generic:
            summary: Find numbers starting with the prefix 'FREE'
            value: FREE
        explode: true
        in: query
        name: "filter[phone_number][starts_with]"
        required: false
        schema:
          type: string
        style: form
      - description: Filter numbers ending with a pattern (max length of 4 digits
          if used with `national_destination_code` filter).
        examples:
          generic:
            summary: Find numbers ending with the suffix 'CALL'
            value: CALL
        explode: true
        in: query
        name: "filter[phone_number][ends_with]"
        required: false
        schema:
          type: string
        style: form
      - description: Filter numbers containing a pattern (must be used with `national_destination_code`
          filter and only searches within last 4 digits).
        examples:
          generic:
            summary: Find numbers that contain the word 'FOO' within the last 4 digits
            value: FOO
        explode: true
        in: query
        name: "filter[phone_number][contains]"
        required: false
        schema:
          type: string
        style: form
      - description: Filter phone numbers by city.
        examples:
          US:
            value: Chicago
          CA:
            value: Toronto
          AU:
            value: Canberra
        explode: true
        in: query
        name: "filter[locality]"
        required: false
        schema:
          type: string
        style: form
      - description: Filter phone numbers by US state/CA province.
        explode: true
        in: query
        name: "filter[administrative_area]"
        required: false
        schema:
          example: IL
          type: string
        style: form
      - description: Filter phone numbers by ISO alpha-2 country code.
        explode: true
        in: query
        name: "filter[country_code]"
        required: false
        schema:
          example: US
          type: string
        style: form
      - description: Filter by the national destination code of the number. This filter
          is only applicable to North American numbers.
        examples:
          US:
            value: "312"
          CA:
            value: "437"
          AU:
            value: "0251"
        explode: true
        in: query
        name: "filter[national_destination_code]"
        required: false
        schema:
          type: string
        style: form
      - description: Filter phone numbers by NANP rate center. This filter is only
          applicable to North American numbers.
        explode: true
        in: query
        name: "filter[rate_center]"
        required: false
        schema:
          example: CHICAGO HEIGHTS
          type: string
        style: form
      - description: Filter phone numbers by number type.
        explode: true
        in: query
        name: "filter[phone_number_type]"
        required: false
        schema:
          enum:
          - local
          - toll_free
          - mobile
          - national
          - shared_cost
          - landline
          example: local
          type: string
        style: form
      - description: "Filter if the phone number should be used for voice, fax, mms,\
          \ sms, emergency."
        explode: true
        in: query
        name: "filter[features]"
        required: false
        schema:
          example: "voice,sms"
          items:
            enum:
            - sms
            - mms
            - voice
            - fax
            - emergency
            type: string
          type: array
        style: form
      - description: Limits the number of results.
        explode: true
        in: query
        name: "filter[limit]"
        required: false
        schema:
          example: 100
          type: integer
        style: form
      - description: Filter to determine if best effort results should be included.
          Only available in NANPA countries.
        explode: true
        in: query
        name: "filter[best_effort]"
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: Filter to exclude phone numbers that need additional time after
          to purchase to receive phone calls. Only available for toll-free numbers.
        explode: true
        in: query
        name: "filter[quickship]"
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: Filter to exclude phone numbers that cannot be reserved before
          purchase.
        explode: true
        in: query
        name: "filter[reservable]"
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: Filter to exclude phone numbers that are currently on hold for
          your account.
        explode: true
        in: query
        name: "filter[exclude_held_numbers]"
        required: false
        schema:
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List_Available_Phone_Numbers_Response'
          description: Successful response with a list of available phone numbers.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: List available phone numbers
      tags:
      - Phone Number Search
      x-group-parameters: "true"
      x-endpoint-cost: heavy
      x-latency-category: responsive
      x-accepts: application/json
  /balance:
    get:
      operationId: GetUserBalance
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserBalance_200_response'
          description: Get user balance details
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Get user balance details
      tags:
      - Billing
      x-latency-category: responsive
      x-accepts: application/json
  /billing_groups:
    get:
      operationId: ListBillingGroups
      parameters:
      - description: The page number to load
        explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: The size of the page
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 20
          maximum: 250
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBillingGroups_200_response'
          description: A paginated array of billing groups
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: List all billing groups
      tags:
      - Billing Groups
      x-latency-category: responsive
      x-accepts: application/json
    post:
      operationId: CreateBillingGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewBillingGroup'
        description: New billing group object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBillingGroup_200_response'
          description: Expected billing group response to a valid request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Create a billing group
      tags:
      - Billing Groups
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /billing_groups/{id}:
    delete:
      operationId: DeleteBillingGroup
      parameters:
      - description: The id of the billing group
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBillingGroup_200_response'
          description: Expected billing group response to a valid request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Delete a billing group
      tags:
      - Billing Groups
      x-latency-category: responsive
      x-accepts: application/json
    get:
      operationId: GetBillingGroup
      parameters:
      - description: The id of the billing group
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBillingGroup_200_response'
          description: Expected billing group response to a valid request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Get a billing group
      tags:
      - Billing Groups
      x-latency-category: responsive
      x-accepts: application/json
    patch:
      operationId: UpdateBillingGroup
      parameters:
      - description: The id of the billing group
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBillingGroup'
        description: Update billing group object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBillingGroup_200_response'
          description: Expected billing group response to a valid request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Update a billing group
      tags:
      - Billing Groups
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /brand:
    get:
      description: This endpoint is used to list all brands associated with your organization.
      operationId: GetBrands
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1.0
          title: Page
          type: integer
        style: form
      - description: number of records per page. maximum of 500
        explode: true
        in: query
        name: recordsPerPage
        required: false
        schema:
          default: 10
          description: number of records per page. maximum of 500
          title: Recordsperpage
          type: integer
        style: form
      - explode: true
        in: query
        name: displayName
        required: false
        schema:
          title: Displayname
          type: string
        style: form
      - explode: true
        in: query
        name: entityType
        required: false
        schema:
          title: Entitytype
          type: string
        style: form
      - explode: true
        in: query
        name: state
        required: false
        schema:
          title: State
          type: string
        style: form
      - explode: true
        in: query
        name: country
        required: false
        schema:
          title: Country
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandRecordSetCSP'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: List Brands
      tags:
      - Brands
      x-latency-category: responsive
      x-accepts: application/json
    post:
      description: "This endpoint is used to create a new brand. A brand is an entity\
        \ created by The Campaign Registry (TCR) that represents an organization or\
        \ a company. It is this entity that TCR created campaigns will be associated\
        \ with. Each brand creation will entail an upfront, non-refundable $4 expense."
      operationId: CreateBrandPost
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBrand'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Create Brand
      tags:
      - Brands
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /brand/feedback/{brandId}:
    get:
      description: |-
        Get feedback about a brand by ID. This endpoint can be used after creating or revetting
        a brand.

        Possible values for `.category[].id`:

        * `TAX_ID` - Data mismatch related to tax id and its associated properties.
        * `STOCK_SYMBOL` - Non public entity registered as a public for profit entity or
          the stock information mismatch.
        * `GOVERNMENT_ENTITY` - Non government entity registered as a government entity.
          Must be a U.S. government entity.
        * `NONPROFIT` - Not a recognized non-profit entity. No IRS tax-exempt status
          found.
        * `OTHERS` - Details of the data misrepresentation if any.
      operationId: GetBrandFeedbackById
      parameters:
      - explode: false
        in: path
        name: brandId
        required: true
        schema:
          title: Brandid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandFeedback'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get Brand Feedback By Id
      tags:
      - Brands
      x-latency-category: responsive
      x-accepts: application/json
  /brand/{brandId}:
    delete:
      operationId: DeleteBrand
      parameters:
      - explode: false
        in: path
        name: brandId
        required: true
        schema:
          title: Brandid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Delete Brand
      tags:
      - Brands
      x-latency-category: responsive
      x-accepts: application/json
    get:
      description: Retrieve a brand by `brandId`.
      operationId: GetBrand
      parameters:
      - explode: false
        in: path
        name: brandId
        required: true
        schema:
          title: Brandid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelnyxBrand'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get Brand
      tags:
      - Brands
      x-latency-category: responsive
      x-accepts: application/json
    put:
      description: Update a brand's attributes by `brandId`.
      operationId: UpdateBrand
      parameters:
      - explode: false
        in: path
        name: brandId
        required: true
        schema:
          title: Brandid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBrand'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelnyxBrand'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Update Brand
      tags:
      - Brands
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /brand/{brandId}/externalVetting:
    get:
      description: Get list of valid external vetting record for a given brand
      operationId: ListExternalVettings
      parameters:
      - explode: false
        in: path
        name: brandId
        required: true
        schema:
          title: Brandid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: List External Vettings
      tags:
      - Brands
      x-latency-category: responsive
      x-accepts: application/json
    post:
      description: Order new external vetting for a brand
      operationId: PostOrderExternalVetting
      parameters:
      - explode: false
        in: path
        name: brandId
        required: true
        schema:
          title: Brandid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderExternalVetting'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Order Brand External Vetting
      tags:
      - Brands
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: |-
        This operation can be used to import an external vetting record from a TCR-approved
        vetting provider. If the vetting provider confirms validity of the record, it will be
        saved with the brand and will be considered for future campaign qualification.
      operationId: PutExternalVettingRecord
      parameters:
      - explode: false
        in: path
        name: brandId
        required: true
        schema:
          title: Brandid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportExternalVetting'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalVetting'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Import External Vetting Record
      tags:
      - Brands
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /brand/{brandId}/revet:
    put:
      description: "This operation allows you to revet the brand. However, revetting\
        \ is allowed once after the successful brand registration and thereafter limited\
        \ to once every 3 months."
      operationId: RevetBrand
      parameters:
      - explode: false
        in: path
        name: brandId
        required: true
        schema:
          title: Brandid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Revet Brand
      tags:
      - Brands
      x-latency-category: responsive
      x-accepts: application/json
  /bulkCreation:
    get:
      description: Get a list of all tasks ever submitted by your organization.
      operationId: GetAllTasks
      parameters:
      - explode: true
        in: query
        name: recordsPerPage
        required: false
        schema:
          default: 20
          title: Recordsperpage
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          title: Page
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCreationTasksResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get All Tasks
      tags:
      - Bulk Sole Proprietor Creation
      x-latency-category: responsive
      x-accepts: application/json
    post:
      description: "Submit sets of data about brands, campaigns, and phone numbers\
        \ to create and assign. Please note that sub-usecases, phone numbers, and\
        \ sample messages are each limited to 5 per campaign."
      operationId: PostBulkCreation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkCreationRequest'
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCreationResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Bulk Creation
      tags:
      - Bulk Sole Proprietor Creation
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /bulkCreation/{taskId}:
    get:
      description: Get a simple overview of the status of a bulk creation task.
      operationId: GetBulkCreationTaskStatus
      parameters:
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          title: Taskid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCreationStatusResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get Task Status
      tags:
      - Bulk Sole Proprietor Creation
      x-latency-category: responsive
      x-accepts: application/json
  /bulkCreation/{taskId}/detailedStatus:
    get:
      description: Get detailed information about the status of a bulk creation task.
      operationId: GetTaskDetailedStatus
      parameters:
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          title: Taskid
          type: string
        style: simple
      - explode: true
        in: query
        name: recordsPerPage
        required: false
        schema:
          default: 20
          title: Recordsperpage
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          title: Page
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCreationDetailedStatusResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get Detailed Task Status
      tags:
      - Bulk Sole Proprietor Creation
      x-latency-category: responsive
      x-accepts: application/json
  /bulk_sim_card_actions:
    get:
      description: This API lists a paginated collection of bulk SIM card actions.
        A bulk SIM card action contains details about a collection of individual SIM
        card actions.
      operationId: ListSimCardActions
      parameters:
      - description: The page number to load
        explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: The size of the page
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 20
          maximum: 250
          minimum: 1
          type: integer
        style: form
      - description: Filter by action type.
        explode: true
        in: query
        name: "filter[action_type]"
        required: false
        schema:
          enum:
          - bulk_set_public_ips
          example: bulk_set_public_ips
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSimCardActions_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: List bulk SIM card actions
      tags:
      - SIM Card Actions
      x-latency-category: responsive
      x-accepts: application/json
  /bulk_sim_card_actions/{id}:
    get:
      description: This API fetches information about a bulk SIM card action. A bulk
        SIM card action contains details about a collection of individual SIM card
        actions.
      operationId: GetBulkSimCardAction
      parameters:
      - description: Identifies the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBulkSimCardAction_200_response'
          description: Successful Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Get bulk SIM card action details
      tags:
      - SIM Card Actions
      x-latency-category: responsive
      x-accepts: application/json
  /business_identities:
    get:
      operationId: ListBusinessIdentities
      parameters:
      - description: The page number to load
        explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: The size of the page
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 20
          maximum: 250
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List_Business_Identities_Response'
          description: Successful response with a list of Business Identities.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Lists the Business Identities owned by the current user/organization
      tags:
      - Business Identity
      x-group-parameters: "true"
      x-endpoint-cost: light
      x-latency-category: responsive
      x-accepts: application/json
    post:
      description: Creates a new Business Identity.
      operationId: CreateBusinessIdentity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateBusinessIdentityRequest'
        required: true
      responses:
        "201":
          description: Business Identity was created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Creates a Business Identity
      tags:
      - Business Identity
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /business_identities/{id}:
    delete:
      description: Deletes the Business Identity. This action will fail if any verification
        requests have been made for any associated Display Profile. Please contact
        support@telnyx.com in case you want to delete a Business Identity in that
        situation.
      operationId: DeleteBusinessIdentity
      parameters:
      - description: Identifies the Business Identity
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Show_Business_Identity_Response'
          description: Successful response with a Business Identity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Delete a Business Identity
      tags:
      - Business Identity
      x-group-parameters: "true"
      x-endpoint-cost: light
      x-latency-category: responsive
      x-accepts: application/json
    get:
      operationId: DisplayBusinessIdentity
      parameters:
      - description: Identifies the Business Identity
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Show_Business_Identity_Response'
          description: Successful response with a Business Identity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Display the Business Identity
      tags:
      - Business Identity
      x-group-parameters: "true"
      x-endpoint-cost: light
      x-latency-category: responsive
      x-accepts: application/json
    patch:
      description: Update an existing Business Identity.
      operationId: UpdateBusinessIdentity
      parameters:
      - description: Identifies the Business Identity
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateBusinessIdentityRequest'
        required: true
      responses:
        "200":
          description: Business Identity was updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Update a Business Identity
      tags:
      - Business Identity
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /call_control_applications:
    get:
      description: Return a list of call control applications.
      operationId: ListCallControlApplications
      parameters:
      - description: The page number to load
        explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: The size of the page
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 20
          maximum: 250
          minimum: 1
          type: integer
        style: form
      - description: "If present, applications with <code>application_name</code>\
          \ containing the given value will be returned. Matching is not case-sensitive.\
          \ Requires at least three characters."
        explode: true
        in: query
        name: "filter[application_name][contains]"
        required: false
        schema:
          default: "null"
          type: string
        style: form
      - description: Identifies the associated outbound voice profile.
        explode: true
        in: query
        name: "filter[outbound.outbound_voice_profile_id]"
        required: false
        schema:
          example: "1293384261075731499"
          format: int64
          type: string
        style: form
      - description: |-
          Specifies the sort order for results. By default sorting direction is ascending. To have the results sorted in descending order add the <code> -</code> prefix.<br/><br/>
          That is: <ul>
            <li>
              <code>connection_name</code>: sorts the result by the
              <code>connection_name</code> field in ascending order.
            </li>

            <li>
              <code>-connection_name</code>: sorts the result by the
              <code>connection_name</code> field in descending order.
            </li>
          </ul> <br/> If not given, results are sorted by <code>created_at</code> in descending order.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: created_at
          enum:
          - created_at
          - connection_name
          - active
          example: connection_name
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List_Call_Control_Applications_Response'
          description: Successful response with a list of call control applications.
        "400":
          description: Bad request
        "401":
          description: Unauthenticated response. Happens when the current user cannot
            be authenticated.
        "404":
          description: Resource not found
      summary: List call control applications
      tags:
      - Call Control Applications
      x-group-parameters: "true"
      x-endpoint-cost: medium
      x-latency-category: interactive
      x-accepts: application/json
    post:
      description: Create a call control application.
      operationId: CreateCallControlApplication
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCallControlApplicationRequest'
        description: Create call control application request.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Application_Response'
          description: Successful response with details about a call control application.
        "422":
          description: Bad Request
      summary: Create a call control application
      tags:
      - Call Control Applications
      x-endpoint-cost: medium
      x-latency-category: interactive
      x-content-type: application/json
      x-accepts: application/json
  /call_control_applications/{id}:
    delete:
      description: Deletes a call control application.
      operationId: DeleteCallControlApplication
      parameters:
      - description: Identifies the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: "1293384261075731499"
          format: int64
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Application_Response'
          description: Successful response with details about a call control application.
        "401":
          description: Unauthenticated response. Happens when the current user cannot
            be authenticated.
        "404":
          description: Resource not found
        "422":
          description: Bad request
      summary: Delete a call control application
      tags:
      - Call Control Applications
      x-latency-category: interactive
      x-accepts: application/json
    get:
      description: Retrieves the details of an existing call control application.
      operationId: RetrieveCallControlApplication
      parameters:
      - description: Identifies the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: "1293384261075731499"
          format: int64
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Application_Response'
[...]
