openapi: 3.0.1
info:
  contact:
    email: support@telnyx.com
  description: "SIP trunking, SMS, MMS, Call Control and Telephony Data Services."
  license:
    name: MIT
  title: Telnyx API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Access Tokens creation
  name: Access Tokens
- description: Authentication Provider operations
  name: Authentication Providers
- description: Billing operations
  name: Billing
- description: Billing groups operations
  name: Billing Groups
- description: Bulk operations over Credentials
  name: Bulk Credentials
- description: Business Identity related endpoints
  name: Business Identity
- description: Call Control command operations
  name: Call Commands
- description: Call Control applications operations
  name: Call Control Applications
- description: Call information
  name: Call Information
- description: Call Recordings operations
  name: Call Recordings
- description: Channel zones
  name: Channel zones
- description: Conference command operations
  name: Conference Commands
- description: Connections operations
  name: Connections
- description: Credential connection operations
  name: Credential Connections
- description: Credentials operations
  name: Credentials
- description: Customer Service Request operations
  name: Customer Service Request
- description: Call Control debugging
  name: Debugging
- description: Detail Records operations
  name: Detail Records
- description: Dialogflow Connection Operations.
  name: Dialogflow Integration
- description: Documents
  name: Documents
- description: Dynamic emergency address operations
  name: Dynamic Emergency Addresses
- description: Dynamic Emergency Endpoints
  name: Dynamic Emergency Endpoints
- description: FQDN connection operations
  name: FQDN Connections
- description: FQDN Operations
  name: FQDNs
- description: IP Address Operations
  name: IP Addresses
- description: IP connection operations
  name: IP Connections
- description: IP Range Operations
  name: IP Ranges
- description: IP operations
  name: IPs
- description: Inbound channels operations
  name: Inbound Channels
- description: Inventory Level
  name: Inventory Level
- description: Managed Accounts operations
  name: Managed Accounts
- description: Media Storage operations
  name: Media Storage API
- description: Messages
  name: Messages
- description: Manage your messaging hosted numbers
  name: Messaging Hosted Number
- description: Messaging profiles
  name: Messaging Profiles
- description: Messaging URL Domains
  name: Messaging URL Domains
- description: Mobile operator networks operations
  name: Mobile Operator Networks
- description: Network operations
  name: Networks
- description: Notification settings operations
  name: Notifications
- description: Background jobs performed over a batch of phone numbers
  name: Number Background Jobs
- description: Background jobs performed over a phone-numbers block's phone numbers
  name: Number Blocks Background Jobs
- description: Configure your phone numbers
  name: Number Configurations
- description: Look up phone number data
  name: Number Lookup
- description: Number order documents
  name: Number Order Documents
- description: Number orders
  name: Number Orders
- description: Number portout operations
  name: Number Portout
- description: Number reservations
  name: Number Reservations
- description: Number search
  name: Number Search
- description: OTA updates operations
  name: OTA updates
- description: Outbound voice profiles operations
  name: Outbound Voice Profiles
- description: Determining portability of phone numbers
  name: Phone Number Porting
- description: Porting Order operation
  name: Porting Order
- description: Private Wireless Gateways operations
  name: Private Wireless Gateways
- description: Fax Applications operations
  name: Programmable Fax Applications
- description: Programmable fax command operations
  name: Programmable Fax Commands
- description: Public Internet Gateway operations
  name: Public Internet Gateways
- description: Mobile push credential management
  name: Push Credentials
- description: Queue commands operations
  name: Queue Commands
- description: Recordings commands operations
  name: Recordings Commands
- description: Regions
  name: Regions
- description: Register Call commands
  name: Register Call
- description: Wireless reporting operations
  name: Reporting
- description: Types of requirements for international numbers and porting orders
  name: Requirement Types
- description: Requirements for international numbers and porting orders
  name: Requirements
- description: Rooms Compositions operations.
  name: Room Compositions
- description: Rooms Participants operations.
  name: Room Participants
- description: Rooms Recordings operations.
  name: Room Recordings
- description: Rooms Sessions operations.
  name: Room Sessions
- description: Rooms operations.
  name: Rooms
- description: Rooms Client Tokens operations.
  name: Rooms Client Tokens
- description: "View SIM card actions, their progress and timestamps using the SIM\
    \ Card Actions API"
  name: SIM Card Actions
- description: SIM Card Group actions operations
  name: SIM Card Group Actions
- description: SIM Card Groups operations
  name: SIM Card Groups
- description: SIM Card Orders operations
  name: SIM Card Orders
- description: SIM Cards operations
  name: SIM Cards
- description: Short codes
  name: Short Codes
- description: TeXML Applications operations
  name: TeXML Applications
- description: TeXML REST Commands
  name: TeXML REST Commands
- description: Verified Calls Display Profile related endpoints
  name: Verified Calls Display Profile
- description: Two factor authentication API
  name: Verify
- description: Virtual Cross Connect operations
  name: Virtual Cross Connects
- description: Webhooks operations
  name: Webhooks
- description: WhatsApp Business Account
  name: WhatsApp Business Account
- description: WhatsApp contacts
  name: WhatsApp Contacts
- description: WhatsApp media files
  name: WhatsApp Media
- description: WhatsApp message templates
  name: WhatsApp Message Template
- description: WhatsApp messages
  name: WhatsApp Messages
- description: WhatsApp Phone Number
  name: WhatsApp Phone Number
- description: WhatsApp user info
  name: WhatsApp Users
- description: WireGuard Interface operations
  name: WireGuard Interfaces
- description: Wireless operations
  name: Wireless
paths:
  /access_fqdns:
    get:
      operationId: ListAllAccessFqdns
      parameters:
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 20
          maximum: 250
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerFacingFQDNsListResponse'
          description: Successful Response
      summary: List all Access FQDNs
      tags:
      - FQDNs
      x-latency-category: responsive
      x-accepts: application/json
    post:
      operationId: CreateAccessFqdn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerFacingFQDNsPost'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerFacingFQDNsResponseSchema'
          description: Successful Response
      summary: Create new Access FQDN
      tags:
      - FQDNs
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /access_fqdns/{fqdn_id}:
    delete:
      operationId: DeleteAccessFqdn
      parameters:
      - explode: false
        in: path
        name: fqdn_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerFacingFQDNsResponseSchema'
          description: Successful Response
      summary: Delete Access FQDN
      tags:
      - FQDNs
      x-latency-category: responsive
      x-accepts: application/json
    get:
      operationId: ListAccessFqdnById
      parameters:
      - explode: false
        in: path
        name: fqdn_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerFacingFQDNsResponseSchema'
          description: Successful Response
      summary: List an Access FQDN
      tags:
      - FQDNs
      x-latency-category: responsive
      x-accepts: application/json
    patch:
      operationId: UpdateAccessFqdn
      parameters:
      - explode: false
        in: path
        name: fqdn_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerFacingFQDNsPatch'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerFacingFQDNsResponseSchema'
          description: Successful Response
      summary: Update Access FQDN
      tags:
      - FQDNs
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /access_fqdns/{fqdn_id}/ips:
    get:
      operationId: ListAllIpsByFqdn
      parameters:
      - explode: false
        in: path
        name: fqdn_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 20
          maximum: 250
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerFacingFQDNsGetIPResponse'
          description: Successful Response
      summary: List Access FQDN's IP Addresses
      tags:
      - FQDNs
      x-latency-category: responsive
      x-accepts: application/json
  /access_ip_address:
    get:
      operationId: AccessIPAddressList
      parameters:
      - explode: true
        in: query
        name: "filter[ip_source]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[ip_address]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[status]"
        required: false
        schema:
          $ref: '#/components/schemas/CloudflareSyncStatus'
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gt]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lt]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 20
          maximum: 250
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessIPAddressListResponseSchema'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Validation Error
      summary: List all Access IP Addresses
      tags:
      - IP Addresses
      x-latency-category: responsive
      x-accepts: application/json
    post:
      operationId: AccessIPAddressCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessIPAddressPOST'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessIPAddressResponseSchema'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Validation Error
      summary: Create new Access IP Address
      tags:
      - IP Addresses
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /access_ip_address/{access_ip_address_id}:
    delete:
      operationId: AccessIPAddressDelete
      parameters:
      - explode: false
        in: path
        name: access_ip_address_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessIPAddressResponseSchema'
          description: Successful Response
      summary: Delete access IP address
      tags:
      - IP Addresses
      x-latency-category: responsive
      x-accepts: application/json
    get:
      operationId: AccessIPAddressGet
      parameters:
      - explode: false
        in: path
        name: access_ip_address_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessIPAddressResponseSchema'
          description: Successful Response
      summary: Retrieve an access IP address
      tags:
      - IP Addresses
      x-latency-category: responsive
      x-accepts: application/json
  /access_ip_ranges:
    get:
      operationId: AccessIPRangeList
      parameters:
      - explode: true
        in: query
        name: "filter[cidr_block]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[cidr_block][startswith]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[cidr_block][endswith]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[cidr_block][contains]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[status]"
        required: false
        schema:
          $ref: '#/components/schemas/CloudflareSyncStatus'
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gt]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lt]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 20
          maximum: 250
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessIPRangeListResponseSchema'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Validation Error
      summary: List all Access IP Ranges
      tags:
      - IP Ranges
      x-latency-category: responsive
      x-accepts: application/json
    post:
      operationId: AccessIPRangeCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessIPRangePOST'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessIPRangeResponseSchema'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Validation Error
      summary: Create new Access IP Range
      tags:
      - IP Ranges
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /access_ip_ranges/{access_ip_range_id}:
    delete:
      parameters:
      - explode: false
        in: path
        name: access_ip_range_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessIPRangeResponseSchema'
          description: Successful Response
      summary: Delete access IP ranges
      tags:
      - IP Ranges
      x-latency-category: responsive
      x-accepts: application/json
  /actions/bulk/telephony_credentials:
    delete:
      description: Delete several credentials in bulk.
      operationId: DeleteBulkTelephonyCredential
      parameters:
      - description: "Filter by tag, required by bulk operations."
        explode: true
        in: query
        name: "filter[tag]"
        required: true
        schema:
          type: string
        style: form
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bulk_Credential_Response'
          description: Successful response for Bulk credential requests
        "422":
          description: Bad request
      summary: Delete several credentials
      tags:
      - Bulk Credentials
      x-latency-category: responsive
      x-accepts: application/json
    patch:
      description: Update several credentials in bulk.
      operationId: UpdateBulkTelephonyCredential
      parameters:
      - description: "Filter by tag, required by bulk operations."
        explode: true
        in: query
        name: "filter[tag]"
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkCredentialRequest'
        description: Parameters to update credentials on bulk
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bulk_Credential_Response'
          description: Successful response for Bulk credential requests
        "422":
          description: Bad request
      summary: Update several credentials
      tags:
      - Bulk Credentials
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
    post:
      description: Creates several credentials in bulk.
      operationId: CreateBulkTelephonyCredential
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkCredentialRequest'
        description: Requested parameters to create credentials on bulk
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bulk_Credential_Response'
          description: Successful response for Bulk credential requests
        "422":
          description: Bad request
      summary: Creates several credentials
      tags:
      - Bulk Credentials
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /actions/network_preferences/sim_cards:
    put:
      description: "This API allows dispatching the same operation described for the\
        \ PUT sim_cards/:sim_card_id/network_preferences API for multiple SIM cards\
        \ at once.<br/><br/>\nAlthough, a SIM card network preference may fail individually\
        \ under any validation triggered as a consequence of its state. For example,\
        \ a SIM can't have an in-progress OTA update for applying a Network Preference,\
        \ so they'll fail when requested in this API. In that scenario, the specific\
        \ error will be present in the response along with the successful definitions\
        \ in the \"errors\" response node.\n"
      operationId: BulkSIMCardNetworkPreferences
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkSIMCardNetworkPreferences_request'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSIMCardNetworkPreferences_202_response'
          description: ""
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unprocessable entity. Check the 'detail' field in response
            for details.
      summary: Bulk Network Preferences for SIM cards
      tags:
      - SIM Cards
      x-latency-category: background
      x-content-type: application/json
      x-accepts: application/json
  /actions/register/sim_cards:
    post:
      description: "Register the SIM cards associated with the provided registration\
        \ codes to the current user's account.<br/><br/>\nIf <code>sim_card_group_id</code>\
        \ is provided, the SIM cards will be associated with that group. Otherwise,\
        \ the default group for the current user will be used.<br/><br/>\n"
      operationId: SimCardRegister
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SIMCardRegistration'
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimCardRegister_202_response'
          description: Successful response
      summary: Register SIM cards
      tags:
      - SIM Cards
      x-latency-category: background
      x-content-type: application/json
      x-accepts: application/json
  /actions/{action}/telephony_credentials:
    post:
      description: "Perform activate or deactivate action on all credentials filtered\
        \ by the provided tag. Activate action will change the status to active, making\
        \ it possible to connect calls with the credential. Deactivate action will\
        \ change the status to inactive, making it impossible to connect calls with\
        \ the credential."
      operationId: BulkCredentialAction
      parameters:
      - description: Identifies the action to be taken. Activate will change the status
          to active. Deactivate will change the status to inactive.
        explode: false
        in: path
        name: action
        required: true
        schema:
          enum:
          - activate
          - deactivate
          type: string
        style: simple
      - description: "Filter by tag, required by bulk operations."
        explode: true
        in: query
        name: "filter[tag]"
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bulk_Credential_Response'
          description: Successful response for Bulk credential requests
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
        "422":
          description: Bad request
      summary: Perform activate or deactivate action on all credentials filtered by
        the provided tag.
      tags:
      - Bulk Credentials
      x-latency-category: responsive
      x-accepts: application/json
  /authentication_providers:
    get:
      description: Returns a list of your SSO authentication providers.
      operationId: findAuthenticationProviders
      parameters:
      - description: The page number to load
        explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: The size of the page
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 20
          maximum: 250
          minimum: 1
          type: integer
        style: form
      - description: "Specifies the sort order for results. By default sorting direction\
          \ is ascending. To have the results sorted in descending order add the <code>\
          \ -</code> prefix.<br/><br/>\nThat is: <ul>\n  <li>\n    <code>name</code>:\
          \ sorts the result by the\n    <code>name</code> field in ascending order.\n\
          \  </li>\n\n  <li>\n    <code>-name</code>: sorts the result by the\n  \
          \  <code>name</code> field in descending order.\n  </li>\n</ul> <br/> If\
          \ not given, results are sorted by <code>created_at</code> in descending\
          \ order."
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: -created_at
          enum:
          - name
          - -name
          - short_name
          - -short_name
          - active
          - -active
          - created_at
          - -created_at
          - updated_at
          - -updated_at
          example: name
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findAuthenticationProviders_200_response'
          description: Successful response
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
      summary: List all SSO authentication providers
      tags:
      - Authentication Providers
      x-latency-category: responsive
      x-accepts: application/json
    post:
      description: Creates an authentication provider.
      operationId: CreateAuthenticationProvider
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationProviderCreate'
        description: Parameters that can be defined during authentication provider
          creation
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAuthenticationProvider_200_response'
          description: Successful response
        "422":
          description: Bad request
      summary: Creates an authentication provider
      tags:
      - Authentication Providers
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /authentication_providers/{id}:
    delete:
      description: Deletes an existing authentication provider.
      operationId: DeleteAuthenticationProvider
      parameters:
      - description: authentication provider ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAuthenticationProvider_200_response'
          description: Successful response
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
        "422":
          description: Bad request
      summary: Deletes an authentication provider
      tags:
      - Authentication Providers
      x-latency-category: responsive
      x-accepts: application/json
    get:
      description: Retrieves the details of an existing authentication provider.
      operationId: getAuthenticationProvider
      parameters:
      - description: authentication provider ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAuthenticationProvider_200_response'
          description: Successful response
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
        "422":
          description: Bad request
      summary: Retrieve an authentication provider
      tags:
      - Authentication Providers
      x-latency-category: responsive
      x-accepts: application/json
    patch:
      description: Updates settings of an existing authentication provider.
      operationId: updateAuthenticationProvider
      parameters:
      - description: Identifies the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAuthenticationProviderRequest'
        description: Parameters that can be updated in a authentication provider
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAuthenticationProvider_200_response'
          description: Successful response
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
        "422":
          description: Bad request
      summary: Update a authentication provider
      tags:
      - Authentication Providers
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /available_phone_number_blocks:
    get:
      operationId: listAvailablePhoneNumberBlocks
      parameters:
      - description: Filter number blocks that start with a pattern (meant to be used
          after `national_destination_code` filter has been set).
        explode: true
        in: query
        name: "filter[phone_number][starts_with]"
        required: false
        schema:
          example: "201"
          type: string
        style: form
      - description: Filter numbers ending with a pattern.
        explode: true
        in: query
        name: "filter[phone_number][ends_with]"
        required: false
        schema:
          example: "8000"
          type: string
        style: form
      - description: Filter numbers containing a pattern.
        explode: true
        in: query
        name: "filter[phone_number][contains]"
        required: false
        schema:
          example: "456"
          type: string
        style: form
      - description: Filter phone numbers by city.
        examples:
          US:
            value: Chicago
          CA:
            value: Toronto
          AU:
            value: Canberra
        explode: true
        in: query
        name: "filter[locality]"
        required: false
        schema:
          type: string
        style: form
      - description: Filter phone numbers by US state/CA province.
        explode: true
        in: query
        name: "filter[administrative_area]"
        required: false
        schema:
          example: IL
          type: string
        style: form
      - description: Filter phone numbers by ISO alpha-2 country code.
        explode: true
        in: query
        name: "filter[country_code]"
        required: false
        schema:
          example: US
          type: string
        style: form
      - description: Filter by the national destination code of the number. This filter
          is only applicable to North American numbers.
        examples:
          US:
            value: "312"
          CA:
            value: "437"
          AU:
            value: "0251"
        explode: true
        in: query
        name: "filter[national_destination_code]"
        required: false
        schema:
          type: string
        style: form
      - description: Filter phone numbers by NANP rate center. This filter is only
          applicable to North American numbers.
        explode: true
        in: query
        name: "filter[rate_center]"
        required: false
        schema:
          example: CHICAGO HEIGHTS
          type: string
        style: form
      - description: Filter phone numbers by number type.
        explode: true
        in: query
        name: "filter[number_type]"
        required: false
        schema:
          enum:
          - toll-free
          example: toll-free
          type: string
        style: form
      - description: "Filter if the phone number should be used for voice, fax, mms,\
          \ sms, emergency."
        explode: true
        in: query
        name: "filter[features]"
        required: false
        schema:
          example: "voice,sms"
          items:
            enum:
            - sms
            - mms
            - voice
            - fax
            - emergency
            type: string
          type: array
        style: form
      - description: Filter number blocks by minimum blocks size
        explode: true
        in: query
        name: "filter[minimum_block_size]"
        required: false
        schema:
          example: 100
          type: integer
        style: form
      - description: Limits the number of results.
        explode: true
        in: query
        name: "filter[limit]"
        required: false
        schema:
          example: 100
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List_Available_Phone_Numbers_Blocks_Response'
          description: Successful response with a list of available phone numbers
            blocks.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: List available phone number blocks
      tags:
      - Number Search
      x-latency-category: responsive
      x-accepts: application/json
  /available_phone_numbers:
    get:
      operationId: listAvailablePhoneNumbers
      parameters:
      - description: Filter numbers starting with a pattern (exclude NDC from start
          of this filter if used with `national_destination_code` filter).
        examples:
          generic:
            summary: Find numbers starting with the prefix 'FREE'
            value: FREE
        explode: true
        in: query
        name: "filter[phone_number][starts_with]"
        required: false
        schema:
          type: string
        style: form
      - description: Filter numbers ending with a pattern (max length of 4 digits
          if used with `national_destination_code` filter).
        examples:
          generic:
            summary: Find numbers ending with the suffix 'CALL'
            value: CALL
        explode: true
        in: query
        name: "filter[phone_number][ends_with]"
        required: false
        schema:
          type: string
        style: form
      - description: Filter numbers containing a pattern (must be used with `national_destination_code`
          filter and only searches within last 4 digits).
        examples:
          generic:
            summary: Find numbers that contain the word 'FOO' within the last 4 digits
            value: FOO
        explode: true
        in: query
        name: "filter[phone_number][contains]"
        required: false
        schema:
          type: string
        style: form
      - description: Filter phone numbers by city.
        examples:
          US:
            value: Chicago
          CA:
            value: Toronto
          AU:
            value: Canberra
        explode: true
        in: query
        name: "filter[locality]"
        required: false
        schema:
          type: string
        style: form
      - description: Filter phone numbers by US state/CA province.
        explode: true
        in: query
        name: "filter[administrative_area]"
        required: false
        schema:
          example: IL
          type: string
        style: form
      - description: Filter phone numbers by ISO alpha-2 country code.
        explode: true
        in: query
        name: "filter[country_code]"
        required: false
        schema:
          example: US
          type: string
        style: form
      - description: Filter by the national destination code of the number. This filter
          is only applicable to North American numbers.
        examples:
          US:
            value: "312"
          CA:
            value: "437"
          AU:
            value: "0251"
        explode: true
        in: query
        name: "filter[national_destination_code]"
        required: false
        schema:
          type: string
        style: form
      - description: Filter phone numbers by NANP rate center. This filter is only
          applicable to North American numbers.
        explode: true
        in: query
        name: "filter[rate_center]"
        required: false
        schema:
          example: CHICAGO HEIGHTS
          type: string
        style: form
      - description: Filter phone numbers by number type.
        explode: true
        in: query
        name: "filter[phone_number_type]"
        required: false
        schema:
          enum:
          - local
          - toll_free
          - mobile
          - national
          - shared_cost
          - landline
          example: local
          type: string
        style: form
      - description: "Filter if the phone number should be used for voice, fax, mms,\
          \ sms, emergency."
        explode: true
        in: query
        name: "filter[features]"
        required: false
        schema:
          example: "voice,sms"
          items:
            enum:
            - sms
            - mms
            - voice
            - fax
            - emergency
            type: string
          type: array
        style: form
      - description: Limits the number of results.
        explode: true
        in: query
        name: "filter[limit]"
        required: false
        schema:
          example: 100
          type: integer
        style: form
      - description: Filter to determine if best effort results should be included.
          Only available in NANPA countries.
        explode: true
        in: query
        name: "filter[best_effort]"
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: Filter to exclude phone numbers that need additional time after
          to purchase to receive phone calls. Only available for toll-free numbers.
        explode: true
        in: query
        name: "filter[quickship]"
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: Filter to exclude phone numbers that cannot be reserved before
          purchase.
        explode: true
        in: query
        name: "filter[reservable]"
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: Filter to exclude phone numbers that are currently on hold for
          your account.
        explode: true
        in: query
        name: "filter[exclude_held_numbers]"
        required: false
        schema:
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List_Available_Phone_Numbers_Response'
          description: Successful response with a list of available phone numbers.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: List available phone numbers
      tags:
      - Number Search
      x-group-parameters: "true"
      x-endpoint-cost: heavy
      x-latency-category: responsive
      x-accepts: application/json
  /balance:
    get:
      operationId: getUserBalance
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getUserBalance_200_response'
          description: Retrieve user balance details
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Retrieve user balance details
      tags:
      - Billing
      x-latency-category: responsive
      x-accepts: application/json
  /billing_groups:
    get:
      operationId: listBillingGroups
      parameters:
      - description: The page number to load
        explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: The size of the page
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 20
          maximum: 250
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listBillingGroups_200_response'
          description: A paginated array of billing groups
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: List all billing groups
      tags:
      - Billing Groups
      x-latency-category: responsive
      x-accepts: application/json
    post:
      operationId: createBillingGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewBillingGroup'
        description: New billing group object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createBillingGroup_200_response'
          description: Expected billing group response to a valid request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Create a billing group
      tags:
      - Billing Groups
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /billing_groups/{id}:
    delete:
      operationId: deleteBillingGroup
      parameters:
      - description: The id of the billing group
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createBillingGroup_200_response'
          description: Expected billing group response to a valid request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Delete a billing group
      tags:
      - Billing Groups
      x-latency-category: responsive
      x-accepts: application/json
    get:
      operationId: retrieveBillingGroup
      parameters:
      - description: The id of the billing group
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createBillingGroup_200_response'
          description: Expected billing group response to a valid request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Retrieve a billing group
      tags:
      - Billing Groups
      x-latency-category: responsive
      x-accepts: application/json
    patch:
      operationId: updateBillingGroup
      parameters:
      - description: The id of the billing group
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBillingGroup'
        description: Update billing group object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createBillingGroup_200_response'
          description: Expected billing group response to a valid request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Update a billing group
      tags:
      - Billing Groups
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /bulk_sim_card_actions:
    get:
      description: This API lists a paginated collection of bulk SIM card actions.
        A bulk SIM card action contains details about a collection of individual SIM
        card actions.
      operationId: ListBulkSIMCardActions
      parameters:
      - description: The page number to load
        explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: The size of the page
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 20
          maximum: 250
          minimum: 1
          type: integer
        style: form
      - description: Filter by action type.
        explode: true
        in: query
        name: "filter[action_type]"
        required: false
        schema:
          enum:
          - bulk_set_public_ips
          example: bulk_set_public_ips
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBulkSIMCardActions_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: List bulk SIM card actions
      tags:
      - SIM Card Actions
      x-latency-category: responsive
      x-accepts: application/json
  /bulk_sim_card_actions/{id}:
    get:
      description: This API fetches information about a bulk SIM card action. A bulk
        SIM card action contains details about a collection of individual SIM card
        actions.
      operationId: BulkSimCardActionGet
      parameters:
      - description: Identifies the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSimCardActionGet_200_response'
          description: Successful Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Get bulk SIM card action details
      tags:
      - SIM Card Actions
      x-latency-category: responsive
      x-accepts: application/json
  /business_identities:
    get:
      operationId: listBusinessIdentities
      parameters:
      - description: The page number to load
        explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: The size of the page
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 20
          maximum: 250
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List_Business_Identities_Response'
          description: Successful response with a list of Business Identities.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Lists the Business Identities owned by the current user/organization
      tags:
      - Business Identity
      x-group-parameters: "true"
      x-endpoint-cost: light
      x-latency-category: responsive
      x-accepts: application/json
    post:
      description: Creates a new Business Identity.
      operationId: createBusinessIdentity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateBusinessIdentityRequest'
        required: true
      responses:
        "201":
          description: Business Identity was created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Creates a Business Identity
      tags:
      - Business Identity
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /business_identities/{id}:
    delete:
      description: Deletes the Business Identity. This action will fail if any verification
        requests have been made for any associated Display Profile. Please contact
        support@telnyx.com in case you want to delete a Business Identity in that
        situation.
      operationId: deleteBusinessIdentity
      parameters:
      - description: Identifies the Business Identity
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Show_Business_Identity_Response'
          description: Successful response with a Business Identity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Delete a Business Identity
      tags:
      - Business Identity
      x-group-parameters: "true"
      x-endpoint-cost: light
      x-latency-category: responsive
      x-accepts: application/json
    get:
      operationId: displayBusinessIdentity
      parameters:
      - description: Identifies the Business Identity
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Show_Business_Identity_Response'
          description: Successful response with a Business Identity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Display the Business Identity
      tags:
      - Business Identity
      x-group-parameters: "true"
      x-endpoint-cost: light
      x-latency-category: responsive
      x-accepts: application/json
    patch:
      description: Update an existing Business Identity.
      operationId: updateBusinessIdentity
      parameters:
      - description: Identifies the Business Identity
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateBusinessIdentityRequest'
        required: true
      responses:
        "200":
          description: Business Identity was updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Update a Business Identity
      tags:
      - Business Identity
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /call_control_applications:
    get:
      description: Return a list of call control applications.
      operationId: listCallControlApplications
      parameters:
      - description: The page number to load
        explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: The size of the page
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 20
          maximum: 250
          minimum: 1
          type: integer
        style: form
      - description: "If present, applications with <code>application_name</code>\
          \ containing the given value will be returned. Matching is not case-sensitive.\
          \ Requires at least three characters."
        explode: true
        in: query
        name: "filter[application_name][contains]"
        required: false
        schema:
          default: "null"
          type: string
        style: form
      - description: Identifies the associated outbound voice profile.
        explode: true
        in: query
        name: "filter[outbound_voice_profile_id]"
        required: false
        schema:
          example: "1293384261075731499"
          format: int64
          type: string
        style: form
      - description: "Specifies the sort order for results. By default sorting direction\
          \ is ascending. To have the results sorted in descending order add the <code>\
          \ -</code> prefix.<br/><br/>\nThat is: <ul>\n  <li>\n    <code>connection_name</code>:\
          \ sorts the result by the\n    <code>connection_name</code> field in ascending\
          \ order.\n  </li>\n\n  <li>\n    <code>-connection_name</code>: sorts the\
          \ result by the\n    <code>connection_name</code> field in descending order.\n\
          \  </li>\n</ul> <br/> If not given, results are sorted by <code>created_at</code>\
          \ in descending order."
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: created_at
          enum:
          - created_at
          - connection_name
          - active
          example: connection_name
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List_Call_Control_Applications_Response'
          description: Successful response with a list of call control applications.
        "400":
          description: Bad request
        "401":
          description: Unauthorized response. Happens when the current user is not
            a manager account.
        "404":
          description: Resource not found
      summary: List call control applications
      tags:
      - Call Control Applications
      x-group-parameters: "true"
      x-endpoint-cost: medium
      x-latency-category: interactive
      x-accepts: application/json
    post:
      description: Create a call control application.
      operationId: createCallControlApplication
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCallControlApplicationRequest'
        description: Create call control application request.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Application_Response'
          description: Successful response with details about a call control application.
        "422":
          description: Bad Request
      summary: Create a call control application
      tags:
      - Call Control Applications
      x-endpoint-cost: medium
      x-latency-category: interactive
      x-content-type: application/json
      x-accepts: application/json
  /call_control_applications/{id}:
    delete:
      description: Deletes a call control application.
      operationId: deleteCallControlApplication
      parameters:
      - description: Identifies the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: "1293384261075731499"
          format: int64
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Application_Response'
          description: Successful response with details about a call control application.
        "401":
          description: Unauthorized response. Happens when the current user is not
            a manager account.
        "404":
          description: Resource not found
        "422":
          description: Bad request
      summary: Delete a call control application
      tags:
      - Call Control Applications
      x-latency-category: interactive
      x-accepts: application/json
    get:
      description: Retrieves the details of an existing call control application.
      operationId: retrieveCallControlApplication
      parameters:
      - description: Identifies the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: "1293384261075731499"
          format: int64
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Application_Response'
          description: Successful response with details about a call control application.
        "401":
          description: Unauthorized response. Happens when the current user is not
            a manager account.
        "404":
          description: Resource not found
        "422":
          description: Bad request
      summary: Retrieve a call control application
      tags:
      - Call Control Applications
      x-latency-category: interactive
      x-accepts: application/json
    patch:
      description: Updates settings of an existing call control application.
      operationId: updateCallControlApplication
      parameters:
      - description: Identifies the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: "1293384261075731499"
          format: int64
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCallControlApplicationRequest'
        description: Update call control application request.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Application_Response'
          description: Successful response with details about a call control application.
        "401":
          description: Unauthorized response. Happens when the current user is not
            a manager account.
        "404":
          description: Resource not found
        "422":
          description: Bad request
      summary: Update a call control application
      tags:
      - Call Control Applications
      x-latency-category: interactive
      x-content-type: application/json
      x-accepts: application/json
  /call_events:
    get:
      description: "Filters call events by given filter parameters. Events are ordered\
        \ by `event_timestamp`. If filter for `call_leg_id` or `call_session_id` is\
        \ not present, it only filters events from the last 24 hours.\n\n**Note**:\
        \ Only one `filter[event_timestamp]` can be passed.\n"
      operationId: listCallEvents
      parameters:
      - description: The unique identifier of an individual call leg.
        explode: true
        in: query
        name: "filter[call_leg_id]"
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The unique identifier of the call control session. A session
          may include multiple call leg events.
        explode: true
        in: query
        name: "filter[call_session_id]"
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Event status
        explode: true
        in: query
        name: "filter[status]"
        required: false
        schema:
          enum:
          - delivered
          - failed
          example: delivered
          type: string
        style: form
      - description: Event type
        explode: true
        in: query
        name: "filter[type]"
        required: false
        schema:
          enum:
          - command
          - webhook
          example: webhook
          type: string
        style: form
      - description: "Event timestamp: greater than"
        explode: true
        in: query
        name: "filter[event_timestamp][gt]"
        required: false
        schema:
          example: 2019-03-29T11:10:00Z
          type: string
        style: form
      - description: "Event timestamp: greater than or equal"
        explode: true
        in: query
        name: "filter[event_timestamp][gte]"
        required: false
        schema:
          example: 2019-03-29T11:10:00Z
          type: string
        style: form
      - description: "Event timestamp: lower than"
        explode: true
        in: query
        name: "filter[event_timestamp][lt]"
        required: false
        schema:
          example: 2019-03-29T11:10:00Z
          type: string
        style: form
      - description: "Event timestamp: lower than or equal"
        explode: true
        in: query
        name: "filter[event_timestamp][lte]"
        required: false
        schema:
          example: 2019-03-29T11:10:00Z
          type: string
        style: form
      - description: "Event timestamp: equal"
        explode: true
        in: query
        name: "filter[event_timestamp][eq]"
        required: false
        schema:
          example: 2019-03-29T11:10:00Z
          type: string
        style: form
      - description: The page number to load
        explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: The size of the page
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 20
          maximum: 250
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List_Call_Events_Response'
          description: Successful response with a list of call events.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: List call events
      tags:
      - Debugging
      x-latency-category: responsive
      x-group-parameters: "true"
      x-accepts: application/json
  /calls:
    post:
      callbacks:
        callInitiated:
          '{$request.body#/webhook_url}':
            post:
              operationId: callInitiated_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallInitiatedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
              x-callback-request: true
        callAnswered:
          '{$request.body#/webhook_url}':
            post:
              operationId: callAnswered_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallAnsweredEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
              x-callback-request: true
        callHangup:
          '{$request.body#/webhook_url}':
            post:
              operationId: callHangup_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallHangupEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
              x-callback-request: true
        callMachineDetectionEnded:
          '{$request.body#/webhook_url}':
            post:
              operationId: callMachineDetectionEnded_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallMachineDetectionEndedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
              x-callback-request: true
        callMachineGreetingEnded:
          '{$request.body#/webhook_url}':
            post:
              operationId: callMachineGreetingEnded_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallMachineGreetingEndedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
              x-callback-request: true
        streamingStarted:
          '{$request.body#/webhook_url}':
            post:
              operationId: streamingStarted_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallStreamingStartedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
              x-callback-request: true
        streamingStopped:
          '{$request.body#/webhook_url}':
            post:
              operationId: streamingStopped_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallStreamingStoppedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
              x-callback-request: true
        streamingFailed:
          '{$request.body#/webhook_url}':
            post:
              operationId: streamingFailed_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallStreamingFailedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
              x-callback-request: true
      description: "Dial a number or SIP URI from a given connection. A successful\
        \ response will include a `call_leg_id` which can be used to correlate the\
        \ command with subsequent webhooks.\n\n**Expected Webhooks:**\n\n- `call.initiated`\n\
        - `call.answered` or `call.hangup`\n- `call.machine.detection.ended` if `answering_machine_detection`\
        \ was requested\n- `call.machine.greeting.ended` if `answering_machine_detection`\
        \ was requested to detect the end of machine greeting\n- `call.machine.premium.detection.ended`\
        \ if `answering_machine_detection=premium` was requested\n- `call.machine.premium.greeting.ended`\
        \ if `answering_machine_detection=premium` was requested and a beep was detected\n\
        - `streaming.started`, `streaming.stopped` or `streaming.failed` if `stream_url`\
        \ was set\n"
      operationId: callDial
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallRequest'
        description: Call request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Retrieve_Call_Status_Response'
          description: Successful response with details about a call status.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Dial
      tags:
      - Call Commands
      x-latency-category: interactive
      x-content-type: application/json
      x-accepts: application/json
  /calls/register:
    post:
      description: Register the call before dialing to show your brand on callee's
        phone.
      operationId: registerCall
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterCallRequest'
        description: Register call request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Register_Call_Response'
          description: Successful response upon making a register call command.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Register the call for Google Verified Calls
      tags:
      - Register Call
      x-latency-category: responsive
      x-content-type: application/json
      x-accepts: application/json
  /calls/{call_control_id}:
    get:
      description: Returns the status of a call (data is available 10 minutes after
        call ended).
      operationId: retrieveCallStatus
      parameters:
      - description: Unique identifier and token for controlling the call
        explode: false
        in: path
        name: call_control_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Retrieve_Call_Status_Response'
          description: Successful response with details about a call status.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Retrieve a call status
      tags:
      - Call Information
      x-latency-category: interactive
      x-accepts: application/json
  /calls/{call_control_id}/actions/answer:
    post:
      callbacks:
        callAnswered:
          '{$request.body#/webhook_url}':
            post:
              operationId: callAnswered_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallAnsweredEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
              x-callback-request: true
        streamingStarted:
          '{$request.body#/webhook_url}':
            post:
              operationId: streamingStarted_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallStreamingStartedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
              x-callback-request: true
        streamingStopped:
          '{$request.body#/webhook_url}':
            post:
              operationId: streamingStopped_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallStreamingStoppedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
              x-callback-request: true
        streamingFailed:
          '{$request.body#/webhook_url}':
            post:
              operationId: streamingFailed_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallStreamingFailedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
              x-callback-request: true
      description: "Answer an incoming call. You must issue this command before executing\
        \ subsequent commands on an incoming call.\n\n**Expected Webhooks:**\n\n-\
        \ `call.answered`\n- `streaming.started`, `streaming.stopped` or `streaming.failed`\
        \ if `stream_url` was set\n"
      operationId: callAnswer
      parameters:
      - description: Unique identifier and token for controlling the call
        explode: false
        in: path
        name: call_control_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnswerRequest'
        description: Answer call request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Command_Response'
          description: Successful response upon making a call control command.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Answer call
      tags:
      - Call Commands
      x-latency-category: interactive
      x-content-type: application/json
      x-accepts: application/json
  /calls/{call_control_id}/actions/bridge:
    post:
      callbacks:
        callBridged:
          '{$request.body#/webhook_url}':
            post:
              operationId: callBridged_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallBridgedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
              x-callback-request: true
      description: |
        Bridge two call control calls.

        **Expected Webhooks:**

        - `call.bridged` for Leg A
        - `call.bridged` for Leg B
      operationId: callBridge
      parameters:
      - description: Unique identifier and token for controlling the call
        explode: false
        in: path
        name: call_control_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BridgeRequest'
        description: Bridge call request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Command_Response'
          description: Successful response upon making a call control command.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Bridge calls
      tags:
      - Call Commands
      x-latency-category: interactive
      x-content-type: application/json
      x-accepts: application/json
  /calls/{call_control_id}/actions/client_state_update:
    put:
      callbacks: {}
      description: Updates client state
      operationId: clientStateUpdate
      parameters:
      - description: Unique identifier and token for controlling the call
        explode: false
        in: path
        name: call_control_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientStateUpdateRequest'
        description: Updates client state for every subsequent webhook
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Command_Response'
          description: Successful response upon making a call control command.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Update client state
      tags:
      - Call Commands
      x-latency-category: interactive
      x-content-type: application/json
      x-accepts: application/json
  /calls/{call_control_id}/actions/enqueue:
    post:
      callbacks:
        callEnqueued:
          '{$request.body#/webhook_url}':
            post:
              operationId: callEnqueued_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallEnqueuedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
              x-callback-request: true
        callLeftQueue:
          '{$request.body#/webhook_url}':
            post:
              operationId: callLeftQueue_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallLeftQueueEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
              x-callback-request: true
      description: Put the call in a queue.
      operationId: callEnqueue
      parameters:
      - description: Unique identifier and token for controlling the call
        explode: false
        in: path
        name: call_control_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnqueueRequest'
        description: Enqueue call request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Command_Response'
          description: Successful response upon making a call control command.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Enqueue call
      tags:
      - Call Commands
      x-latency-category: interactive
      x-content-type: application/json
      x-accepts: application/json
  /calls/{call_control_id}/actions/fork_start:
    post:
      callbacks:
        callForkStarted:
          '{$request.body#/webhook_url}':
            post:
              operationId: callForkStarted_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallForkStartedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
              x-callback-request: true
        callForkStopped:
          '{$request.body#/webhook_url}':
            post:
              operationId: callForkStopped_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallForkStoppedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
              x-callback-request: true
      description: "Call forking allows you to stream the media from a call to a specific\
        \ target in realtime. \nThis stream can be used to enable realtime audio analysis\
        \ to support a \nvariety of use cases, including fraud detection, or the creation\
        \ of AI-generated audio responses. \nRequests must specify either the `target`\
        \ attribute or the `rx` and `tx` attributes.\n\n**Expected Webhooks:**\n\n\
        - `call.fork.started`\n- `call.fork.stopped`\n\n**Simple Telnyx RTP Encapsulation\
        \ Protocol (STREP)**\n\n*Note: This header/encapsulation is not used when\
        \ the `rx` and `tx`\nparameters have been specified; it only applies when\
        \ media is forked\nusing the `target` attribute.*\n\nIf the destination for\
        \ forked media is specified using the \"target\"\nattribute, the RTP will\
        \ be encapsulated in an extra Telnyx protocol,\nwhich adds a 24 byte header\
        \ to the RTP payload in each packet. The STREP\nheader includes the Call Control\
        \ `call_leg_id` for stream\nidentification, along with bits that represent\
        \ the direction (inbound or\noutbound) of the media. This 24-byte header sits\
        \ between the UDP header\nand the RTP header.\n\nThe STREP header makes it\
        \ possible to fork RTP for multiple calls (or\ntwo RTP streams for the same\
        \ call) to the same IP:port, where the\nstreams can be demultiplexed by your\
        \ application using the information\nin the header. Of course, it's still\
        \ possible to ignore this header\ncompletely, for example, if sending forked\
        \ media for different calls to\ndifferent ports or IP addresses. In this case,\
        \ simply strip 24 bytes\n(or use the second byte to find the header length)\
        \ from the received UDP\npayload to get the RTP (RTP header and payload).\n\
        \n```\nSTREP Specification\n\n  0                   1                   2\
        \                   3\n  0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4\
        \ 5 6 7 8 9 0 1\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n\
        \ |1 1|Version|L|D|    HeaderLen  |  reserved (2 bytes)           |\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n\
        \ |       reserved (4 bytes, for UDP ports or anything else)      |\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n\
        \ |               The call_leg_id                                 |\n |  \
        \                 from Call Control                           |\n |      \
        \                 (128 bits / 16 bytes)                   |\n |          \
        \                 (this is binary data)               |\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n\
        \n 11\n   Static bits 11, always set to 11 to easily distinguish forked media\n\
        \   from RTP (10) and T.38 media (usually 00) and SIP (which begins\n   with\
        \ a capital letter, so begins with bits 01). This is a magic number.\n\n Version\n\
        \   Four bits to indicate the version number of the protocol, starting at\
        \ 0001.\n\n L\n   One bit to represent the leg of the call (A or B).\n   0\
        \ represents the A (first) leg of the call.\n   1 represents the B (second)\
        \ leg of the call.\n\n D\n   One bit to represent the direction of this RTP\
        \ stream.\n   0 represents media received by Telnyx.\n   1 represents media\
        \ transmitted by Telnyx.\n\n HeaderLen (1 byte)\n   The length of the header\
        \ in bytes.\n   Note that this value does not include the length of the payload.\
        \ The total\n   size of the RTP can be calculated by subtracting the HeaderLen\
        \ from the UDP\n   length (minus 8 for the UDP header).\n   In version 1,\
        \ this value will always be 24.\n\n Reserved (6 bytes)\n   Reserved for future\
        \ use and to make sure that the header is a multiple of 32 bits\n\n Call Leg\
        \ ID\n   A 128-bit identifier for the call leg.\n   This is the call_leg_id\
        \ from Call Control.\n```\n"
      operationId: callForkStart
      parameters:
      - description: Unique identifier and token for controlling the call
        explode: false
        in: path
        name: call_control_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartForkingRequest'
        description: Fork media request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Command_Response'
          description: Successful response upon making a call control command.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Forking start
      tags:
      - Call Commands
      x-latency-category: interactive
      x-content-type: application/json
      x-accepts: application/json
  /calls/{call_control_id}/actions/fork_stop:
    post:
      callbacks:
        callForkStopped:
          '{$request.body#/webhook_url}':
            post:
              operationId: callForkStopped_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallForkStoppedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
              x-callback-request: true
      description: |
        Stop forking a call.

        **Expected Webhooks:**

        - `call.fork.stopped`
      operationId: callForkStop
      parameters:
      - description: Unique identifier and token for controlling the call
        explode: false
        in: path
        name: call_control_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopForkingRequest'
        description: Stop forking media request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Command_Response'
          description: Successful response upon making a call control command.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Forking stop
      tags:
      - Call Commands
      x-latency-category: interactive
      x-content-type: application/json
      x-accepts: application/json
  /calls/{call_control_id}/actions/gather:
    post:
      callbacks:
        callDtmfReceived:
          '{$request.body#/webhook_url}':
            post:
              operationId: callDtmfReceived_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallDtmfReceivedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
              x-callback-request: true
        callGatherEnded:
          '{$request.body#/webhook_url}':
            post:
              operationId: callGatherEnded_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallGatherEndedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
              x-callback-request: true
      description: "Gather DTMF signals to build interactive menus.\n\nYou can pass\
        \ a list of valid digits. The [Answer](/docs/api/v2/call-control/Call-Commands#CallControlAnswer)\
        \ command must be issued before the `gather` command.\n\n**Expected Webhooks:**\n\
        \n- `call.dtmf.received` (you may receive many of these webhooks)\n- `call.gather.ended`\n"
      operationId: callGather
      parameters:
      - description: Unique identifier and token for controlling the call
        explode: false
        in: path
        name: call_control_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatherRequest'
        description: Gather
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Command_Response'
          description: Successful response upon making a call control command.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Gather
      tags:
      - Call Commands
      x-latency-category: interactive
      x-content-type: application/json
      x-accepts: application/json
  /calls/{call_control_id}/actions/gather_stop:
    post:
      callbacks:
        callGatherEnded:
          '{$request.body#/webhook_url}':
            post:
              operationId: callGatherEnded_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallGatherEndedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
              x-callback-request: true
      description: |
        Stop current gather.

        **Expected Webhooks:**

        - `call.gather.ended`
      operationId: callGatherStop
      parameters:
      - description: Unique identifier and token for controlling the call
        explode: false
        in: path
        name: call_control_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopGatherRequest'
        description: Stop current gather
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call_Control_Command_Response'
          description: Successful response upon making a call control command.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
      summary: Gather stop
      tags:
      - Call Commands
      x-latency-category: interactive
      x-content-type: application/json
      x-accepts: application/json
  /calls/{call_control_id}/actions/gather_using_audio:
    post:
      callbacks:
        callPlaybackStarted:
          '{$request.body#/webhook_url}':
            post:
              operationId: callPlaybackStarted_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallPlaybackStartedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
              x-callback-request: true
        callPlaybackEnded:
          '{$request.body#/webhook_url}':
            post:
              operationId: callPlaybackEnded_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallPlaybackEndedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
              x-callback-request: true
        callDtmfReceived:
          '{$request.body#/webhook_url}':
            post:
              operationId: callDtmfReceived_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallDtmfReceivedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
[...]
